Repository canonical/lxd, pull requests merged in 2022-06, with the labels that each got.

#10485 How to create a storage pool
  doc/explanation/storage.md
  doc/howto/storage_create_pool.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_drivers.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
  doc/storage.md
Labels: Documentation

#10488 doc: storage: Clarify driver names
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation

#10494 How to add storage volumes
  doc/explanation/storage.md
  doc/howto/storage_add_volume.md
  doc/howto/storage_create_pool.md
  doc/instances.md
  doc/storage.md
Labels: Documentation

#10500 doc: storage: clarification about sharing of storage volumes
  doc/explanation/storage.md
  doc/howto/storage_add_volume.md
Labels: Documentation

#10499 Update /1.0/events API description
  doc/rest-api.yaml
  lxd/events.go
Labels: Documentation, API

#10512 New `raw.qemu.conf` config option
  doc/api-extensions.md
  doc/instances.md
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/driver_qemu_config_override.go
  lxd/instance/drivers/driver_qemu_config_test.go
  scripts/bash/lxd-client
  shared/instance.go
  shared/version/api.go
Labels: Documentation, API

#10539 doc/instances: Add section about raw.qemu.conf
  doc/instances.md
Labels: Documentation

#10544 doc: add link to video about network forwards
  doc/howto/network_forwards.md
Labels: Documentation

#10548 Database: Refactor db.Image to cluster.Image
  lxd/api_project.go
  lxd/daemon_images.go
  lxd/db/cluster/images.go
  lxd/db/cluster/images.interface.mapper.go
  lxd/db/cluster/images.mapper.go
  lxd/db/db_internal_test.go
  lxd/db/entity.go
  lxd/db/images.go
  lxd/db/images_test.go
  lxd/images.go
  lxd/instance.go
  lxd/instance/instance_utils.go
  lxd/instances_post.go
  lxd/storage/backend_lxd.go
  lxd/storage_pools.go
  shared/api/image.go
Labels: API

#10556 Storage doc: add howtos
  doc/explanation/storage.md
  doc/howto/storage_add_volume.md
  doc/howto/storage_configure.md
  doc/howto/storage_list.md
  doc/howto/storage_move.md
  doc/storage.md
Labels: Documentation

#10588 doc: Rename refquota config key name for use_refquota
  doc/reference/storage_zfs.md
Labels: Documentation

#10592 doc: storage: I/O limits
  doc/howto/storage_add_volume.md
  doc/instances.md
  doc/reference/storage_drivers.md
Labels: Documentation

#10587 doc: storage: how to back up storage volumes
  doc/doc-cheat-sheet.md
  doc/howto/storage_backup.md
  doc/howto/storage_configure.md
  doc/howto/storage_move.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_drivers.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
  doc/storage.md
  doc/substitutions.yaml
Labels: Documentation

#10593 doc: storage: cleanup of the general storage drivers reference
  doc/explanation/storage.md
  doc/reference/storage_drivers.md
Labels: Documentation

#10602 doc: storage: clarify moving of storage volumes
  doc/howto/storage_move.md
Labels: Documentation

#10603 doc: fix version switcher to work for latest
  .sphinx/_extra/versions.json
  .sphinx/_static/version-switcher.js
Labels: Documentation

#10606 doc: storage: clarify that most docs are about custom volumes
  doc/howto/storage_add_volume.md
  doc/howto/storage_backup.md
  doc/howto/storage_configure.md
  doc/howto/storage_list.md
Labels: Documentation

#10612 Update lifecycle events
  doc/events.md
  lxd/lifecycle/certificate.go
  lxd/lifecycle/cluster.go
  lxd/lifecycle/cluster_groups.go
  lxd/lifecycle/cluster_member.go
  lxd/lifecycle/config.go
  lxd/lifecycle/image.go
  lxd/lifecycle/image_alias.go
  lxd/lifecycle/instance.go
  lxd/lifecycle/instance_backup.go
  lxd/lifecycle/instance_log.go
  lxd/lifecycle/instance_metadata.go
  lxd/lifecycle/instance_metadata_template.go
  lxd/lifecycle/instance_snapshot.go
  lxd/lifecycle/network.go
  lxd/lifecycle/network_acl.go
  lxd/lifecycle/network_forward.go
  lxd/lifecycle/network_peer.go
  lxd/lifecycle/network_zone.go
  lxd/lifecycle/operation.go
  lxd/lifecycle/profile.go
  lxd/lifecycle/project.go
  lxd/lifecycle/storage_pool.go
  lxd/lifecycle/storage_volume.go
  lxd/lifecycle/storage_volume_backup.go
  lxd/lifecycle/storage_volume_snapshot.go
  lxd/lifecycle/warning.go
  shared/api/event_lifecycle.go
Labels: Documentation, API

#10614 doc: add link to YouTube video about image handling
  doc/image-handling.md
Labels: Documentation
