Repository canonical/lxd, pull requests merged in 2022-05, with the labels that each got.

#10353 doc: Fix typos
  doc/howto/network_bgp.md
  doc/metrics.md
Labels: Documentation

#10355 server.crt referred to as lxd.crt in the prometheus config file
  doc/metrics.md
Labels: Documentation

#10360 Inclusive language
  .github/workflows/woke.yml
  doc/api-extensions.md
  doc/authentication.md
  doc/contributing.md
  doc/doc-cheat-sheet.md
  doc/instances.md
  doc/rest-api.md
  doc/security.md
Labels: Documentation, API

#10358 Peer routing relationships
  doc/howto/network_ovn_peers.md
Labels: Documentation

#10364 lxc: Fix instance snapshot deletion
  doc/howto/network_ovn_peers.md
  lxc/utils.go
  lxd/device/disk.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: Documentation

#10368 doc: document how to handle SAN vs target name mismatch in Prometheus sample
  doc/metrics.md
Labels: Documentation

#10328 doc: update firewall configuration documentation
  doc/howto/network_bridge_firewalld.md
  doc/reference/network_bridge.md
Labels: Documentation

#10356 doc: rework doc for setting up OVN
  doc/howto/network_ovn_setup.md
Labels: Documentation

#10387 expose PCI VPD info in resources
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/resources/pci.go
  lxd/resources/pci_vpd.go
  shared/api/resource.go
  shared/version/api.go
Labels: Documentation, API

#10400 Instance: Regenerate running VM NVRAM on next start if profile `security.secureboot` setting is changed
  doc/instances.md
  lxd/instance/drivers/driver_qemu.go
  shared/instance.go
Labels: Documentation

#10397 Instance: Show non-editable fields in `lxc config edit` screen without expanded config
  lxc/config.go
  lxd/filter/value.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/instance.go
  shared/api/instance_snapshot.go
  test/suites/config.sh
Labels: API

#10421 doc: add link to YouTube video for network ACLs
  doc/howto/network_acls.md
Labels: Documentation

#10439 docs: Typo in ovn docs
  doc/howto/network_ovn_setup.md
Labels: Documentation

#10388 Version switcher
  .sphinx/_extra/versions.json
  .sphinx/_static/custom.css
  .sphinx/_static/version-switcher.js
  .sphinx/_templates/sidebar/variant-selector.html
  .sphinx/conf.py
Labels: Documentation

#10453 doc: add a link to the YouTube video on BGP
  doc/howto/network_bgp.md
Labels: Documentation

#10458 Quick fixes to storage docs
  doc/api-extensions.md
  doc/explanation/storage.md
  doc/faq.md
  doc/instances.md
  doc/migration.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_drivers.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation, API

#10476 doc: fix version numbers in the version switcher
  .sphinx/_extra/versions.json
Labels: Documentation

#10475 Storage doc
  .sphinx/_static/custom.css
  doc/explanation/storage.md
  doc/reference/storage_drivers.md
Labels: Documentation

#10463 Database Refactor: Profiles
  lxd/api_internal_recover.go
  lxd/api_project.go
  lxd/db/cluster/instance_profiles.go
  lxd/db/cluster/instance_profiles.interface.mapper.go
  lxd/db/cluster/instance_profiles.mapper.go
  lxd/db/cluster/instances.go
  lxd/db/cluster/instances.interface.mapper.go
  lxd/db/cluster/instances.mapper.go
  lxd/db/cluster/profiles.go
  lxd/db/cluster/profiles.interface.mapper.go
  lxd/db/cluster/profiles.mapper.go
  lxd/db/db.go
  lxd/db/entity.go
  lxd/db/images.go
  lxd/db/instance_profiles.go
  lxd/db/instances.go
  lxd/db/instances_test.go
  lxd/db/profiles.go
  lxd/db/profiles.interface.mapper.go
  lxd/db/profiles.mapper.go
  lxd/db/storage_pools.go
  lxd/instance_test.go
  lxd/main_test.go
  lxd/network/acl/acl_load.go
  lxd/network/acl/acl_ovn.go
  lxd/network/acl/driver_common.go
  lxd/network/network_utils.go
  lxd/profiles.go
  lxd/profiles_utils.go
  lxd/project/permissions.go
  lxd/storage/utils.go
  lxd/storage_volumes_utils.go
  shared/api/instance.go
  shared/api/profile.go
Labels: API

#10482 doc: update info on how to grow a ZFS pool
  doc/reference/storage_zfs.md
Labels: Documentation
