Repository canonical/lxd, pull requests merged in 2022-04, with the labels that each got.

#10139 Networking docs restructure
  .sphinx/conf.py
  doc/configuration.md
  doc/explanation/networks.md
  doc/howto/network_acls.md
  doc/howto/network_bgp.md
  doc/howto/network_bridge_firewalld.md
  doc/howto/network_bridge_resolved.md
  doc/howto/network_create.md
  doc/howto/network_forwards.md
  doc/howto/network_ovn_peers.md
  doc/howto/network_ovn_setup.md
  doc/howto/network_zones.md
  doc/index.md
  doc/instances.md
  doc/networks.md
  doc/projects.md
  doc/reference/network_bridge.md
  doc/reference/network_external.md
  doc/reference/network_macvlan.md
  doc/reference/network_ovn.md
  doc/reference/network_physical.md
  doc/reference/network_sriov.md
  doc/server.md
Labels: Documentation

#10170 Fix typo in notes
  doc/rest-api.yaml
  lxc/cluster.go
  lxc/image.go
  lxc/utils.go
  lxd/api.go
  lxd/api_cluster.go
  lxd/endpoints/cluster.go
  lxd/network/acl/acl_ovn.go
Labels: Documentation, API

#10171 Storage volume total size and used in a single query
  doc/api-extensions.md
  lxd/storage_volumes_state.go
  shared/api/storage_pool_volume_state.go
  shared/version/api.go
Labels: Documentation, API

#10180 doc/rest-api: Refresh swagger YAML
  doc/rest-api.yaml
Labels: Documentation, API

#10150 doc: move Sphinx extensions to a separate repo
  .sphinx/_extensions/related-links.py
  .sphinx/_extensions/youtube-link.py
  .sphinx/_static/custom.css
  .sphinx/conf.py
  .sphinx/requirements.txt
Labels: Documentation

#10190 Lxd 100 network bgp
  doc/howto/network_bgp.md
  doc/instances.md
Labels: Documentation

#10214 Update doc links
  .github/SUPPORT.md
  .sphinx/conf.py
  CONTRIBUTING.md
  README.md
  doc/README.md
  grafana/LXD.json
Labels: Documentation

#10201 Network types documentation
  doc/explanation/networks.md
  doc/howto/network_acls.md
  doc/howto/network_bgp.md
  doc/howto/network_bridge_firewalld.md
  doc/howto/network_bridge_resolved.md
  doc/howto/network_forwards.md
  doc/howto/network_ovn_peers.md
  doc/howto/network_ovn_setup.md
  doc/howto/network_zones.md
  doc/reference/network_bridge.md
  doc/reference/network_external.md
  doc/reference/network_macvlan.md
  doc/reference/network_ovn.md
  doc/reference/network_physical.md
  doc/reference/network_sriov.md
  doc/substitutions.yaml
Labels: Documentation

#10218 Implement HEAD in file API
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/daemon.go
  lxd/instance_file.go
  lxd/instances.go
  shared/version/api.go
Labels: Documentation, API

#10226 test: drop dependency on uuidgen
  doc/installing.md
  test/includes/lxc.sh
  test/main.sh
Labels: Documentation

#10212 Add global config option instances.nic.host_name
  doc/api-extensions.md
  doc/server.md
  lxd/cluster/config.go
  lxd/device/device_common.go
  lxd/device/nic_bridged.go
  lxd/device/nic_ipvlan.go
  lxd/device/nic_macvlan.go
  lxd/device/nic_ovn.go
  lxd/device/nic_p2p.go
  lxd/device/nic_routed.go
  lxd/network/network_utils.go
  shared/version/api.go
Labels: Documentation, API

#10241 Comment updates for upcoming godoc/gofmt changes
  client/doc.go
  shared/api/doc.go
  shared/subprocess/bgpm_test.go
Labels: API

#10251 lxd/device/disk: Apply name length restriction to VM only
  doc/instances.md
  lxd/device/disk.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/load.go
Labels: Documentation

#10259 Cluster: Allow member join when a project has `restricted.networks.subnets`
  doc/howto/network_ovn_setup.md
  doc/reference/network_bridge.md
  lxd/api_cluster.go
  lxd/cluster/connect.go
  lxd/cluster/heartbeat.go
  lxd/db/db.go
  lxd/db/images.go
  lxd/db/instances.go
  lxd/db/instances_test.go
  lxd/db/networks.go
  lxd/db/node.go
  lxd/db/node_test.go
  lxd/db/raft.go
  lxd/db/snapshots_test.go
  lxd/db/storage_pools.go
  lxd/db/storage_volumes.go
  lxd/db/storage_volumes_test.go
  lxd/db/warnings.go
  lxd/device/proxy.go
  lxd/init.go
  lxd/instance_post.go
  lxd/instances_put.go
  lxd/network/driver_bridge.go
  lxd/network/driver_ovn.go
  lxd/network/network_utils_sriov.go
  lxd/networks.go
  lxd/storage/backend_lxd.go
  lxd/storage/utils.go
  lxd/storage_pools.go
  lxd/warnings/warnings.go
  test/suites/clustering.sh
Labels: Documentation

#10225 Database Refactor: Remove UsedBy/Config from Projects
  lxd/api_internal_recover.go
  lxd/api_project.go
  lxd/backup.go
  lxd/db/generate/db/method_v2.go
  lxd/db/instances.go
  lxd/db/instances_test.go
  lxd/db/projects.go
  lxd/db/projects.interface.mapper.go
  lxd/db/projects.mapper.go
  lxd/db/projects_test.go
  lxd/device/disk.go
  lxd/device/nic_bridged.go
  lxd/device/proxy.go
  lxd/images.go
  lxd/instance.go
  lxd/instance_post.go
  lxd/instance_snapshot.go
  lxd/instances_post.go
  lxd/network/acl/acl_load.go
  lxd/network/driver_bridge.go
  lxd/network/driver_ovn.go
  lxd/network/network_utils.go
  lxd/network/network_utils_sriov.go
  lxd/network/zone/load.go
  lxd/patches.go
  lxd/project/permissions.go
  lxd/project/permissions_test.go
  lxd/project/project.go
  lxd/storage/backend_lxd.go
  lxd/storage/utils.go
  lxd/storage_volumes.go
  lxd/storage_volumes_snapshot.go
  lxd/storage_volumes_utils.go
  shared/api/project.go
Labels: API

#10307 Replace 20.04/Focal Fossa by 22.04/Jammy Jellyfish
  doc/cloud-init.md
  doc/clustering.md
  doc/howto/network_ovn_setup.md
  doc/image-handling.md
  doc/instances.md
  doc/rest-api.yaml
  lxc/init.go
  lxc/launch.go
  lxc/main.go
  lxd/db/cluster/update_test.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/image.go
  shared/api/instance.go
  shared/api/server.go
Labels: Documentation, API

#10318 Doc: integrate with systemd-resolved
  doc/howto/network_bridge_resolved.md
Labels: Documentation

#10283 Seccomp: Add syscall interception for sysinfo
  .gitignore
  doc/api-extensions.md
  doc/instances.md
  doc/syscall-interception.md
  lxd/cgroup/abstraction.go
  lxd/cgroup/file.go
  lxd/instance/drivers/driver_lxc.go
  lxd/seccomp/seccomp.go
  scripts/bash/lxd-client
  shared/instance.go
  shared/version/api.go
  test/includes/external_auth.sh
  test/main.sh
  test/suites/container_syscall_interception.sh
  test/syscall/sysinfo/sysinfo.go
Labels: Feature, Documentation, API

#10333 shared/api: nowadays various types of certs are accepted
  doc/rest-api.yaml
  shared/api/certificate.go
Labels: Documentation, API

#10332 Allow overriding the cluster evacuation mode
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/cluster.go
  lxd/api_cluster.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/cluster.go
  shared/version/api.go
Labels: Documentation, API

#10342 doc: mention that ECDSA cert generation requires openssl 1.1.0+
  doc/metrics.md
Labels: Documentation
