Repository canonical/lxd, pull requests merged in 2022-08, with the labels that each got.

#10717 doc: mark up default values correctly
  .sphinx/requirements.txt
  doc/clustering.md
  doc/howto/network_zones.md
  doc/instances.md
  doc/production-setup.md
  doc/projects.md
  doc/reference/network_bridge.md
  doc/reference/network_macvlan.md
  doc/reference/network_ovn.md
  doc/reference/network_physical.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
  doc/security.md
  doc/server.md
Labels: Documentation

#10728 Doc landing page
  README.md
  doc/index.md
Labels: Documentation

#10737 doc/reference: improve description of storage option
  doc/reference/storage_dir.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation

#10749 doc/reference: fix description of dir source param
  doc/reference/storage_dir.md
Labels: Documentation

#10757 Small doc fixes
  doc/authentication.md
  doc/reference/storage_zfs.md
Labels: Documentation

#10761 doc/storage/zfs: {remove_snapshots,use_refquota,reserve_space} are bools
  doc/reference/storage_zfs.md
Labels: Documentation

#10767 doc/migration: clean up "live migration" documentation
  doc/migration.md
Labels: Documentation

#10769 Storage: Improve and simplify `/1.0/storage-pools/<pool>/volumes` endpoint
  lxd/db/instances.go
  lxd/db/storage_volumes.go
  lxd/instance/drivers/driver_common.go
  lxd/instance/drivers/driver_qemu_config_override.go
  lxd/instances_get.go
  lxd/project/project.go
  lxd/resources/cpu.go
  lxd/storage_volumes.go
  shared/api/instance.go
  shared/api/storage_pool_volume.go
Labels: API

#10770 doc: use HTTPS for links to CRIU site and inotify man
  doc/containers.md
  doc/production-setup.md
Labels: Documentation

#10768 Network: BGP peer holdtime option configuration
  doc/api-extensions.md
  doc/howto/network_bgp.md
  doc/reference/network_bridge.md
  doc/reference/network_physical.md
  lxd/bgp/debug.go
  lxd/bgp/server.go
  lxd/network/driver_common.go
  shared/version/api.go
Labels: Documentation, API

#10773 Storage: Volume list improvements
  lxd/db/images.go
  lxd/db/storage_pools.go
  lxd/db/storage_volumes.go
  lxd/storage/backend_lxd.go
  lxd/storage/storage.go
  lxd/storage_pools.go
  lxd/storage_volumes.go
  lxd/storage_volumes_utils.go
  shared/api/storage_pool_volume.go
Labels: API

#10778 Storage: Adds `--all-projects` to `lxc storage volume list`
  client/interfaces.go
  client/lxd_storage_volumes.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/storage_volume.go
  lxd/db/storage_volumes.go
  lxd/events.go
  lxd/instances_get.go
  lxd/storage/storage.go
  lxd/storage_volumes.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/storage_pool_volume.go
  shared/version/api.go
Labels: Documentation, API

#10801 doc/storage/ceph: remove YouTube link from content that is reused
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
Labels: Documentation

#10799 Doc: Separate storage howtos to cover pool and volumes separately
  doc/explanation/storage.md
  doc/howto/storage_backup_volume.md
  doc/howto/storage_configure_pool.md
  doc/howto/storage_configure_volume.md
  doc/howto/storage_create_instance.md
  doc/howto/storage_create_volume.md
  doc/howto/storage_move_volume.md
  doc/howto/storage_resize_pool.md
  doc/howto/storage_resize_volume.md
  doc/howto/storage_view_pools.md
  doc/howto/storage_view_volumes.md
  doc/storage.md
Labels: Documentation

#10805 api: metrics_memory_oom_total
  doc/api-extensions.md
  shared/version/api.go
Labels: Documentation, API

#10804 Doc for lxd-migrate
  .sphinx/.wordlist.txt
  .sphinx/_static/custom.css
  doc/authentication.md
  doc/doc-cheat-sheet.md
  doc/howto/import_machines_to_instances.md
  doc/howto/move_instances.md
  doc/internals.md
  doc/migration.md
  doc/operation.md
Labels: Documentation

#10821 Doc: Fix typo in howto/storage_backup
  doc/howto/storage_backup_volume.md
Labels: Documentation

#10826 doc: backquote true and NO_PROXY in doc/server.md
  doc/server.md
Labels: Documentation

#10824 doc: backquote instance types in events.md
  doc/events.md
Labels: Documentation

#10823 doc: backqoute cloud-init in doc/cloud-init.md
  doc/cloud-init.md
Labels: Documentation

#10822 doc: backquote mac in doc/api-extensions.md
  doc/api-extensions.md
Labels: Documentation, API

#10832 doc: Note AIO requirement
  doc/requirements.md
Labels: Documentation

#10831 Storage: Fix typo in `cephobject.radosgw.endpoint*` settings
  doc/howto/storage_create_pool.md
  doc/reference/storage_cephobject.md
  lxd/db/cluster/update.go
  lxd/storage/drivers/driver_cephobject.go
  lxd/storage/drivers/driver_cephobject_buckets.go
  test/suites/storage_buckets.sh
Labels: Documentation

#10830 Doc fixes buckets
  .sphinx/conf.py
  doc/explanation/storage.md
  doc/howto/storage_buckets.md
  doc/howto/storage_configure_bucket.md
  doc/howto/storage_configure_pool.md
  doc/howto/storage_configure_volume.md
  doc/howto/storage_create_bucket.md
  doc/howto/storage_pools.md
  doc/howto/storage_resize_bucket.md
  doc/howto/storage_resize_pool.md
  doc/howto/storage_resize_volume.md
  doc/howto/storage_view_buckets.md
  doc/howto/storage_view_pools.md
  doc/howto/storage_view_volumes.md
  doc/howto/storage_volumes.md
  doc/reference/storage_cephobject.md
  doc/storage.md
Labels: Documentation

#10839 Doc: several fixes
  .sphinx/.wordlist.txt
  doc/faq.md
  doc/howto/import_machines_to_instances.md
  doc/installing.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_lvm.md
  doc/storage.md
Labels: Documentation

#10835 Storage: Create initial admin credentials on bucket creation
  client/interfaces.go
  client/lxd_storage_buckets.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/storage_bucket.go
  lxd/storage_buckets.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/version/api.go
  test/suites/storage_buckets.sh
Labels: Documentation, API

#10848 Project rename response docs
  doc/rest-api.yaml
  lxd/api_project.go
Labels: Documentation, API

#10852 doc/requirements: correct statement about AIO
  doc/requirements.md
Labels: Documentation

#10856 doc: improve systemd-resolved integration by adding stop command
  doc/howto/network_bridge_resolved.md
Labels: Documentation

#10849 New lxd_cpu_effective_total metric
  doc/api-extensions.md
  lxd/cgroup/abstraction.go
  lxd/instance/drivers/driver_lxc.go
  lxd/metrics/api.go
  lxd/metrics/metrics.go
  lxd/metrics/types.go
  shared/version/api.go
Labels: Documentation, API

#10858 Doc fixes
  doc/instances.md
  doc/reference/network_bridge.md
  doc/reference/network_ovn.md
Labels: Documentation

#10859 doc/storage/volumes: add `--all-projects` to documentation
  doc/howto/storage_volumes.md
Labels: Documentation

#10863 doc: add related links to the start page
  doc/index.md
Labels: Documentation
