Repository canonical/lxd, pull requests merged in 2022-07, with the labels that each got.

#10629 Fix OVN docs
  .sphinx/_static/custom.css
  doc/howto/network_ovn_setup.md
Labels: Documentation

#10638 Fix incorrect error fields in swagger
  doc/rest-api.yaml
  lxd/response/swagger.go
Labels: Documentation, API

#10643 doc: update storage driver reference
  doc/api-extensions.md
  doc/explanation/storage.md
  doc/howto/storage_backup.md
  doc/howto/storage_create_pool.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_dir.md
  doc/reference/storage_drivers.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
  doc/substitutions.yaml
Labels: Documentation, API

#10657 Load balancer fixes
  doc/howto/network_load_balancers.md
  doc/networks.md
  doc/reference/network_ovn.md
Labels: Documentation

#10665 doc: Fix use of setup/set up
  doc/container-environment.md
  doc/dev-lxd.md
  doc/environment.md
  doc/instances.md
  doc/requirements.md
  doc/server.md
Labels: Documentation

#10610 Bidirectional vsock interface
  doc/api-extensions.md
  lxd-agent/api_1.0.go
  lxd-agent/daemon.go
  lxd-agent/devlxd.go
  lxd-agent/main_agent.go
  lxd/api.go
  lxd/api_vsock.go
  lxd/daemon.go
  lxd/db/instances.go
  lxd/devlxd.go
  lxd/endpoints/endpoints.go
  lxd/endpoints/endpoints_test.go
  lxd/endpoints/vsock.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/qmp/monitor.go
  lxd/instance/instance_interface.go
  lxd/response/response.go
  lxd/vsock/vsock.go
  shared/api/lxd-agent.go
  shared/api/server.go
  shared/version/api.go
Labels: Documentation, API

#10673 Doc: Two additional storage how-tos
  doc/explanation/storage.md
  doc/howto/storage_create_instance.md
  doc/howto/storage_resize.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
  doc/storage.md
Labels: Documentation

#10675 doc/storage: move content from FAQ to storage section
  doc/explanation/storage.md
  doc/faq.md
  doc/howto/storage_create_pool.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_drivers.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation

#10669 doc: Update cloud-init.md with user-data examples
  doc/cloud-init.md
Labels: Documentation

#10686 Don't expose internal structs
  lxd-agent/api/agent.go
  lxd-agent/api/devlxd.go
  lxd-agent/api_1.0.go
  lxd-agent/devlxd.go
  lxd/devlxd.go
  lxd/instance/drivers/driver_qemu.go
  shared/api/server.go
Labels: API

#10689 Remove redundant LXD before ZFS pool
  doc/reference/storage_zfs.md
Labels: Documentation

#10688 Doc: Fix LXD volume group to LVM
  doc/reference/storage_lvm.md
Labels: Documentation

#10692 doc/authentication: add information about a server behind NAT
  doc/authentication.md
Labels: Documentation

#10695 Generator: New generator logic for Warnings
  lxd/api_internal.go
  lxd/cgroup/init.go
  lxd/cluster/heartbeat.go
  lxd/daemon.go
  lxd/db/cluster/certificate_projects.go
  lxd/db/cluster/certificates.go
  lxd/db/cluster/certificates.mapper.go
  lxd/db/cluster/config.go
  lxd/db/cluster/devices.go
  lxd/db/cluster/images.go
  lxd/db/cluster/images.mapper.go
  lxd/db/cluster/instance_profiles.go
  lxd/db/cluster/instances.go
  lxd/db/cluster/operations.go
  lxd/db/cluster/profiles.go
  lxd/db/cluster/projects.go
  lxd/db/cluster/snapshots.go
  lxd/db/cluster/warnings.go
  lxd/db/cluster/warnings.interface.mapper.go
  lxd/db/cluster/warnings.mapper.go
  lxd/db/generate/db.go
  lxd/db/generate/db/lex.go
  lxd/db/generate/db/method.go
  lxd/db/generate/db/method_v2.go
  lxd/db/generate/db/stmt.go
  lxd/db/warnings.go
  lxd/db/warningtype/warning_severity.go
  lxd/db/warningtype/warning_status.go
  lxd/db/warningtype/warning_type.go
  lxd/device/disk.go
  lxd/device/proxy.go
  lxd/instance/drivers/driver_common.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/load.go
  lxd/instances.go
  lxd/network/driver_bridge.go
  lxd/network/driver_common.go
  lxd/networks.go
  lxd/patches.go
  lxd/storage.go
  lxd/storage/backend_lxd.go
  lxd/sys/apparmor.go
  lxd/sys/os.go
  lxd/warnings.go
  lxd/warnings/warnings.go
  shared/api/certificate.go
Labels: API

#10698 doc/storage: add link to video about benchmarking storage drivers
  doc/reference/storage_drivers.md
Labels: Documentation

#10701 LXD: Lifecycle and SyncResponseLocation fixes
  lxd/api_cluster.go
  lxd/api_project.go
  lxd/certificates.go
  lxd/images.go
  lxd/instance_backup.go
  lxd/lifecycle/certificate.go
  lxd/lifecycle/cluster.go
  lxd/lifecycle/cluster_groups.go
  lxd/lifecycle/cluster_member.go
  lxd/lifecycle/config.go
  lxd/lifecycle/image.go
  lxd/lifecycle/image_alias.go
  lxd/lifecycle/instance_backup.go
  lxd/lifecycle/instance_log.go
  lxd/lifecycle/instance_metadata.go
  lxd/lifecycle/instance_metadata_template.go
  lxd/lifecycle/instance_snapshot.go
  lxd/lifecycle/network.go
  lxd/lifecycle/network_acl.go
  lxd/lifecycle/network_forward.go
  lxd/lifecycle/network_load_balancer.go
  lxd/lifecycle/network_peer.go
  lxd/lifecycle/network_zone.go
  lxd/lifecycle/operation.go
  lxd/lifecycle/profile.go
  lxd/lifecycle/project.go
  lxd/lifecycle/storage_pool.go
  lxd/lifecycle/storage_volume.go
  lxd/lifecycle/storage_volume_backup.go
  lxd/lifecycle/storage_volume_snapshot.go
  lxd/lifecycle/warning.go
  lxd/network_acls.go
  lxd/network_forwards.go
  lxd/network_load_balancers.go
  lxd/network_peer.go
  lxd/network_zones.go
  lxd/network_zones_records.go
  lxd/networks.go
  lxd/profiles.go
  lxd/storage_pools.go
  lxd/storage_volumes.go
  lxd/storage_volumes_backup.go
  shared/api/event_lifecycle.go
Labels: API

#10691 Add instance Ready state
  doc/api-extensions.md
  doc/dev-lxd.md
  lxd/daemon.go
  lxd/db/instances.go
  lxd/devlxd.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  shared/api/status_code.go
  shared/instance.go
  shared/version/api.go
  test/deps/devlxd-client.go
  test/suites/devlxd.sh
Labels: Documentation, API

#10713 docs: Update storage create pool howto
  doc/howto/storage_create_pool.md
Labels: Documentation
