Repository canonical/lxd, pull requests merged in 2022-01, with the labels that each got.

#9759 Small doc fixes
  .sphinx/_static/custom.css
  .sphinx/conf.py
  doc/configuration.md
  doc/instances.md
  doc/server.md
Labels: Documentation

#9757 Event: Add Project field to Event and rename group concept to projectName
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd-agent/events.go
  lxd/daemon.go
  lxd/devlxd.go
  lxd/events/common.go
  lxd/events/devlxdEvents.go
  lxd/events/events.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/lifecycle/instance.go
  lxd/state/state.go
  shared/api/event.go
  shared/version/api.go
Labels: Documentation

#9673 Automatically attempt live migration during evacuation
  doc/api-extensions.md
  doc/instances.md
  lxd/api_cluster.go
  lxd/instance/drivers/driver_common.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instance_interface.go
  shared/instance.go
  shared/version/api.go
Labels: Documentation, Incomplete, API

#9780 Allow inconsistent rsync copies with flag
  client/interfaces.go
  client/lxd_instances.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/copy.go
  lxc/move.go
  lxd/instance.go
  lxd/instances_post.go
  lxd/migration/migration_volumes.go
  lxd/storage/backend_lxd.go
  lxd/storage/backend_mock.go
  lxd/storage/drivers/generic_vfs.go
  lxd/storage/pool_interface.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/instance.go
  shared/version/api.go
Labels: Documentation, API

#9788 doc: only link the Swagger files that we actually need
  Makefile
Labels: Documentation

#9793 doc: Adds note about newuidmap to machine setup.
  doc/installing.md
Labels: Documentation

#9790 Bug static ip on multiple bridged nics
  lxd/device/nic_bridged.go
  lxd/dnsmasq/dhcpalloc/dhcpalloc.go
  lxd/dnsmasq/dnsmasq.go
  lxd/network/network_utils.go
  lxd/patches.go
  test/suites/container_devices_nic_bridged.sh
  test/suites/container_devices_nic_bridged_filtering.sh
  test/suites/network.sh
Labels: Incomplete

#9792 lxc/config/file: allow overriding default remote by env variable
  doc/environment.md
  lxc/config/file.go
Labels: Documentation

#9785 Support context.Context in client
  client/connection.go
  client/lxd.go
  client/lxd_server.go
Labels: Incomplete

#9787 Security docs
  .sphinx/_static/custom.css
  README.md
  SECURITY.md
  doc/authentication.md
  doc/index.md
  doc/operation.md
  doc/projects.md
  doc/security.md
Labels: Documentation

#9804 Growing a loop backed btrfs pool new note
  doc/storage.md
Labels: Documentation

#9803 doc: use absolute URL for Swagger
  .sphinx/_static/swagger-override.css
  doc/api.md
Labels: Documentation

#9811 doc: fix broken links
  doc/network-acls.md
  doc/network-forwards.md
  doc/networks.md
Labels: Documentation

#9580 Enable VLAN ranges in vlan.tagged
  doc/instances.md
  lxd/device/device_utils_network.go
  lxd/device/nic_bridged.go
  shared/validate/validate.go
  test/suites/container_devices_nic_bridged_vlan.sh
Labels: Documentation

#9821 Fix typos in network zone API/client
  client/interfaces.go
  client/lxd_network_zones.go
  doc/rest-api.yaml
  shared/api/network_zone.go
Labels: Documentation, API

#9822 doc: enable automatically generated anchors
  .sphinx/conf.py
  doc/doc-cheat-sheet.md
Labels: Documentation

#9813 Report ovn network state
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/network/driver_ovn.go
  lxd/network/openvswitch/ovn.go
  lxd/network/openvswitch/ovs.go
  shared/api/network.go
  shared/version/api.go
Labels: Documentation, API

#9812 Implement server-side API filtering for storage volumes
  doc/api-extensions.md
  doc/rest-api.md
  doc/rest-api.yaml
  lxd/storage_volumes.go
  shared/version/api.go
Labels: Documentation, API

#9828 doc: kernel 5.15+ have sane value for net.core.bpf_jit_limit
  doc/production-setup.md
Labels: Documentation

#9827 Addition of image requirements metadata
  doc/api-extensions.md
  doc/image-handling.md
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  shared/simplestreams/products.go
  shared/util.go
  shared/version/api.go
Labels: Documentation, API

#9829 Add option to not export ZFS pool on shutdown
  doc/api-extensions.md
  doc/storage.md
  lxd/storage/drivers/driver_zfs.go
  lxd/storage_pools_config.go
  shared/version/api.go
Labels: Documentation, API

#9835 Fix test failures on recent kernels
  doc/storage.md
  lxd/instance/drivers/driver_lxc.go
  test/suites/container_devices_disk.sh
Labels: Documentation

#9840 Support for custom DNS records
  client/interfaces.go
  client/lxd_network_zones.go
  doc/api-extensions.md
  doc/network-zones.md
  doc/rest-api.yaml
  lxc/network_zone.go
  lxd/api_1.0.go
  lxd/db/cluster/schema.go
  lxd/db/cluster/update.go
  lxd/db/network_zones.go
  lxd/dns/handler.go
  lxd/lifecycle/network_zone.go
  lxd/network/zone/interface.go
  lxd/network/zone/record.go
  lxd/network/zone/zone.go
  lxd/network/zone/zone_templates.go
  lxd/network_zones_records.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/network_zone.go
  shared/version/api.go
  test/suites/network_zone.sh
Labels: Documentation, API

#9834 ZFS reservation
  doc/api-extensions.md
  doc/storage.md
  lxd/storage/drivers/driver_zfs.go
  lxd/storage/drivers/driver_zfs_volumes.go
  lxd/storage_pools_config.go
  scripts/bash/lxd-client
  shared/version/api.go
Labels: Documentation, API

#9843 Add doc readme
  .sphinx/conf.py
  Makefile
  doc/README.md
Labels: Documentation

#9850 Add ability to retrieve ACL logs (OVN)
  client/interfaces.go
  client/lxd_network_acls.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/network_acl.go
  lxd/api_1.0.go
  lxd/network/acl/acl_interface.go
  lxd/network/acl/acl_ovn.go
  lxd/network/acl/driver_common.go
  lxd/network_acls.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/version/api.go
Labels: Documentation, API

#9848 Option to configure the ZFS block size on volumes
  doc/api-extensions.md
  doc/storage.md
  lxd/storage/drivers/driver_zfs.go
  lxd/storage/drivers/driver_zfs_utils.go
  lxd/storage/drivers/driver_zfs_volumes.go
  lxd/storage_pools_config.go
  shared/version/api.go
Labels: Documentation, API

#9857 doc: quick cleanup of FAQ
  doc/faq.md
  doc/security.md
Labels: Documentation
