Repository canonical/lxd, pull requests merged in 2022-02, with the labels that each got.

#9859 Fix bad CPU metrics
  doc/api-extensions.md
  lxd-agent/metrics.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu_metrics.go
  lxd/metrics/api.go
  lxd/metrics/metrics.go
  lxd/metrics/types.go
  lxd/storage/backend_lxd.go
  lxd/storage/backend_lxd_patches.go
  lxd/storage/backend_mock.go
  lxd/storage/pool_interface.go
  shared/version/api.go
Labels: Documentation, API

#9864 Clarify multiple gpu device passthrough
  doc/instances.md
  lxd/device/gpu_mig.go
Labels: Documentation

#9865 Improve doc/metrics
  doc/metrics.md
Labels: Documentation

#9866 Varied small fixes
  doc/instance-exec.md
  doc/metadata.yaml
  doc/operation.md
  doc/rest-api.yaml
  lxd/instance/drivers/driver_lxc.go
  lxd/instance_exec.go
  lxd/operations/operations.go
  shared/api/image.go
Labels: Documentation, API

#9873 Add `@never` cron pattern
  doc/api-extensions.md
  doc/instances.md
  lxd/snapshot_common.go
  shared/instance.go
  shared/version/api.go
Labels: Documentation, API

#9884 Varied fixes (console, certificate, trust store)
  doc/api-extensions.md
  lxc/config_trust.go
  lxc/console.go
  lxd/certificates.go
  shared/api/cluster.go
  shared/util.go
Labels: Documentation, API

#9886 Download doc assets
  .gitignore
  .sphinx/_templates/header.html
  .sphinx/conf.py
  Makefile
  README.md
  doc/index.md
Labels: Documentation

#9816 Token based remote connection
  client/interfaces.go
  client/lxd_certificates.go
  doc/api-extensions.md
  doc/authentication.md
  lxc/cluster.go
  lxc/config_trust.go
  lxc/remote.go
  lxd/certificates.go
  lxd/db/operations_types.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/certificate.go
  shared/api/operation.go
  shared/cert.go
  shared/version/api.go
  test/suites/remote.sh
Labels: Documentation, API

#9890 doc: fix path to image in the header
  .sphinx/_templates/header.html
Labels: Documentation

#9913 doc/metrics: stop tuning job's scrape_interval now that results are c…
  doc/metrics.md
Labels: Documentation

#9914 doc/metrics: don't assume any default scrape_interval value
  doc/metrics.md
Labels: Documentation

#9930 shared/api/url: Add WithQuery
  shared/api/url.go
Labels: API

#9936 Improve `lxc query` support for metrics
  client/interfaces.go
  client/lxd.go
  client/lxd_containers.go
  client/lxd_images.go
  client/lxd_instances.go
  client/lxd_network_acls.go
  client/lxd_storage_volumes.go
  client/simplestreams.go
  doc/rest-api.yaml
  lxc/query.go
  lxd/api_metrics.go
Labels: Documentation, API

#9943 doc/metrics: use secp384r1 curve with SHA384 signature
  doc/metrics.md
Labels: Documentation

#9944 NIC: Adds ipv{n}.neighbor_probe settings to routed NIC
  doc/api-extensions.md
  doc/instances.md
  lxd/device/nic_routed.go
  shared/version/api.go
  test/suites/clustering.sh
  test/suites/container_devices_nic_macvlan.sh
  test/suites/container_devices_nic_routed.sh
Labels: Documentation, API

#9639 Events: Add event-hub cluster member role
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd-agent/daemon.go
  lxd-agent/events.go
  lxd/api_1.0.go
  lxd/api_cluster.go
  lxd/cluster/events.go
  lxd/cluster/heartbeat.go
  lxd/cluster/membership.go
  lxd/daemon.go
  lxd/db/node.go
  lxd/events.go
  lxd/events/events.go
  shared/api/server.go
  shared/version/api.go
  test/suites/clustering.sh
Labels: Documentation, API

#9959 doc: add Open Graph metadata
  .sphinx/conf.py
  .sphinx/requirements.txt
Labels: Documentation

#9893 Adds lxd-agent option to apply name and MTU to nic devices
  doc/api-extensions.md
  doc/instances.md
  lxd-agent/main_agent.go
  lxd-agent/network.go
  lxd/device/config/device_runconfig.go
  lxd/device/nic_bridged.go
  lxd/instance/drivers/driver_qemu.go
  shared/instance.go
  shared/version/api.go
Labels: Documentation, API

#9966 doc: fix the footer
  .sphinx/_static/custom.css
  .sphinx/_templates/footer.html
Labels: Documentation

#9968 doc: Fix cert pathing in metrics.md
  doc/metrics.md
Labels: Documentation

#9967 VM: Bug fixes and improvements to the lxd-agent NIC settings feature
  doc/api-extensions.md
  doc/instances.md
  lxd-agent/network.go
  lxd/device/config/device_runconfig.go
  lxd/device/device_utils_network.go
  lxd/device/nic_bridged.go
  lxd/device/nic_macvlan.go
  lxd/device/nic_ovn.go
  lxd/device/nic_p2p.go
  lxd/device/nic_routed.go
  lxd/instance/drivers/driver_qemu.go
  shared/instance.go
  shared/version/api.go
  test/suites/container_devices_nic_routed.sh
Labels: Documentation, API
