Repository canonical/lxd, pull requests merged in 2022-03, with the labels that each got.

#9985 Instance: Add mount support via SFTP
  client/interfaces.go
  client/lxd_instances.go
  doc/rest-api.yaml
  lxc/file.go
  lxd/api_1.0.go
  lxd/instance_sftp.go
  lxd/instances.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  test/godeps.list
Labels: Documentation, API

#9993 Improve network ACLs documentation
  doc/instances.md
  doc/network-acls.md
  doc/networks.md
Labels: Documentation

#9995 Improve network forwards documentation
  doc/network-forwards.md
  doc/networks.md
Labels: Documentation

#10008 Add `restricted.containers.interception` to projects
  doc/api-extensions.md
  doc/instances.md
  doc/projects.md
  lxd/api_project.go
  lxd/project/permissions.go
  scripts/bash/lxd-client
  shared/version/api.go
  test/suites/projects.sh
Labels: Documentation, API

#10005 Allow unauthenticated metrics
  doc/api-extensions.md
  doc/server.md
  lxd/api_metrics.go
  lxd/cluster/config.go
  lxd/node/config.go
  scripts/bash/lxd-client
  shared/version/api.go
  test/suites/metrics.sh
Labels: Documentation, API

#10018 Add last-modified to file API
  doc/rest-api.yaml
  lxd/instance_file.go
Labels: Documentation, API

#10035 sphinx: Don't pin dependencies
  .sphinx/requirements.txt
Labels: Documentation

#10055 doc: restrict docutils version to fix parsing of notes
  .sphinx/requirements.txt
Labels: Documentation

#10068 Add --target-project to lxc image copy
  client/lxd_images.go
  doc/api-extensions.md
  lxc/image.go
  lxd/images.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/image.go
  shared/version/api.go
  test/suites/remote.sh
Labels: Documentation, API

#10069 UUID based cloud-init instance-id
  doc/dev-lxd.md
  doc/instances.md
  lxd-agent/devlxd.go
  lxd/devlxd.go
  lxd/instance/drivers/driver_common.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instance_interface.go
  lxd/instance/instance_utils.go
  lxd/instance/instancetype/instance_vmagent.go
  lxd/instance/instancetype/instance_vmagentmount.go
  shared/instance.go
  test/main.sh
  test/suites/cloud-init.sh
Labels: Documentation

#10056 Network: Degraded startup
  lxc/network.go
  lxd/daemon.go
  lxd/db/warnings_types.go
  lxd/device/nic_bridged.go
  lxd/device/nic_macvlan.go
  lxd/device/nic_ovn.go
  lxd/device/nic_sriov.go
  lxd/network/driver_bridge.go
  lxd/network/driver_common.go
  lxd/network/driver_macvlan.go
  lxd/network/driver_ovn.go
  lxd/network/driver_physical.go
  lxd/network/driver_sriov.go
  lxd/network/network_interface.go
  lxd/network/network_load.go
  lxd/networks.go
  lxd/patches.go
  lxd/storage.go
  shared/api/network.go
Labels: API

#10074 Discourse links clean
  .sphinx/_extensions/discourse-links.py
  .sphinx/_static/custom.css
  .sphinx/_templates/page.html
  .sphinx/conf.py
  doc/authentication.md
  doc/backup.md
  doc/cloud-init.md
  doc/clustering.md
  doc/containers.md
  doc/installing.md
  doc/instances.md
  doc/metrics.md
  doc/network-acls.md
  doc/network-forwards.md
  doc/network-peers.md
  doc/network-zones.md
  doc/networks.md
  doc/storage.md
  doc/virtual-machines.md
Labels: Documentation

#10095 LXD: Allow disabling shiftfs independently of idmapped mount support
  doc/environment.md
  lxd/daemon.go
Labels: Documentation

#10106 Various small fixes
  .github/workflows/test.yml
  doc/clustering.md
  lxd/api_internal.go
  lxd/network/driver_ovn.go
Labels: Documentation

#10108 Related links
  .sphinx/_extensions/discourse-links.py
  .sphinx/_extensions/related-links.py
  .sphinx/_static/custom.css
  .sphinx/_templates/page.html
  .sphinx/conf.py
  doc/cloud-init.md
  doc/database.md
  doc/getting_started.md
  doc/installing.md
  doc/metrics.md
Labels: Documentation

#10094 Use allow inconsistent for cluster migrations
  client/lxd_instances.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/instance_post.go
  shared/api/instance.go
  shared/version/api.go
Labels: Documentation, API

#10126 doc/authentication: mention ECDSA keys as recommend
  doc/authentication.md
Labels: Documentation

#10131 Update dependencies ahead of LXD 5.0
  .github/workflows/test.yml
  client/util.go
  doc/requirements.md
  go.mod
  go.sum
  lxd-agent/network.go
  lxd/cluster/gateway.go
  lxd/cluster/migrate.go
  lxd/cluster/migrate_test.go
  lxd/cluster/raft/bolt.go
  lxd/cluster/raft/configuration.go
  lxd/cluster/raft/doc.go
  lxd/cluster/raft/file_snapshot.go
  lxd/cluster/raft/log.go
  lxd/cluster/raft/snapshot.go
  lxd/cluster/raft/transport.go
  lxd/device/device_utils_network.go
  shared/cert.go
  shared/network.go
  test/macaroon-identity/auth.go
  test/macaroon-identity/formschema.go
Labels: Documentation

#10119 Introduce OVN chassis role
  doc/api-extensions.md
  doc/clustering.md
  lxd/daemon.go
  lxd/db/node.go
  lxd/network/driver_ovn.go
  lxd/networks.go
  lxd/networks_utils.go
  shared/version/api.go
Labels: Documentation, API

#10107 Network zones documentation
  doc/network-acls.md
  doc/network-zones.md
Labels: Documentation

#10157 doc: add link to multi-user video
  doc/authentication.md
  doc/projects.md
Labels: Documentation

#10143 Add syscall interception for sched_setscheduler
  doc/api-extensions.md
  doc/instances.md
  doc/syscall-interception.md
  lxd/main_forksyscall.go
  lxd/seccomp/seccomp.go
  scripts/bash/lxd-client
  shared/instance.go
  shared/version/api.go
Labels: Documentation, API
