Repository canonical/lxd, pull requests merged in 2022-11, with the labels that each got.

#11076 Add some how-to guides to the instances docs
  doc/explanation/devices.md
  doc/explanation/instance_config.md
  doc/howto/instances_configure.md
  doc/howto/instances_create.md
  doc/howto/instances_manage.md
  doc/instances.md
  doc/profiles.md
  doc/reference/instance_options.md
Labels: Documentation

#11086 doc/instances: add instructions for accessing files
  .sphinx/.wordlist.txt
  doc/howto/instances_access_files.md
  doc/instances.md
Labels: Documentation

#11079 doc/instances: add instructions for running commands and logging on
  doc/explanation/instances.md
  doc/howto/instances_console.md
  doc/howto/instances_manage.md
  doc/howto/storage_move_volume.md
  doc/instance-exec.md
  doc/instances.md
  doc/operation.md
Labels: Documentation

#11094 Add shared devlxd structs
  lxd-agent/devlxd.go
  lxd/devlxd.go
  shared/api/devlxd.go
Labels: API

#11102 doc: the location is set in responses from GET /1.0 in devlxd API
  doc/dev-lxd.md
Labels: Documentation

#11103 Refresh REST API
  CONTRIBUTING.md
  doc/rest-api.yaml
  shared/api/instance_backup.go
  shared/api/storage_pool_volume_backup.go
  test/lint/rest-api-up-to-date.sh
Labels: Documentation, API

#11109 doc: Fix configuration directory in remotes.md
  doc/remotes.md
Labels: Documentation

#11116 doc/instances: add example for filtering by location
  doc/howto/instances_manage.md
Labels: Documentation

#11121 doc/security: add YouTube link
  doc/security.md
Labels: Documentation

#11075 Enable CPU hot-(un)plugging for VMs
  doc/api-extensions.md
  doc/reference/instance_options.md
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/driver_qemu_config_test.go
  lxd/instance/drivers/driver_qemu_templates.go
  lxd/instance/drivers/qmp/commands.go
  shared/version/api.go
Labels: Documentation, API

#11140 doc: allow returning traffic in DOCKER-USER custom chain
  doc/howto/network_bridge_firewalld.md
Labels: Documentation

#11139 lxd/device/tpm: Expose tpmrm to the container
  doc/reference/devices_tpm.md
  lxd/device/tpm.go
  test/suites/container_devices_tpm.sh
Labels: Documentation

#11130 lxd: Fix handling of images in projects with features.images=false
  lxd/api_project.go
  lxd/db/cluster/projects.go
  lxd/db/images.go
  test/suites/projects.sh
Labels: Bug

#11152 fsmonitor: Don't watch for WRITE events when using inotify
  doc/backup.md
  doc/reference/devices_nic.md
  doc/rest-api.yaml
  doc/server.md
  go.mod
  go.sum
  lxd/acme/acme.go
  lxd/db/db.go
  lxd/db/generate/db/parse.go
  lxd/db/instances.go
  lxd/db/transaction.go
  lxd/device/device_utils_unix_events.go
  lxd/device/disk.go
  lxd/device/nic_bridged.go
  lxd/device/nic_ovn.go
  lxd/device/unix_common.go
  lxd/fsmonitor/drivers/common.go
  lxd/fsmonitor/drivers/driver_fanotify.go
  lxd/fsmonitor/drivers/driver_inotify.go
  lxd/fsmonitor/drivers/interface.go
  lxd/fsmonitor/drivers/load.go
  lxd/fsmonitor/load.go
  lxd/images.go
  lxd/instance/drivers/driver_common.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/main_forkdns.go
  lxd/main_sql.go
  lxd/network/driver_bridge.go
  lxd/storage/drivers/driver_lvm_utils.go
  lxd/task/task.go
  lxd/util/http.go
  shared/api/cluster.go
  test/suites/clustering.sh
Labels: Documentation, API

#11173 doc: add link to Running in production YouTube video
  doc/explanation/performance_tuning.md
  doc/getting_started.md
Labels: Documentation

#11175 docs: Added snap version directory for local remotes
  doc/remotes.md
Labels: Documentation
