Repository canonical/lxd, pull requests merged in 2023-09, with the labels that each got.

#12139 Doc: PoC for adding API instructions
  doc/conf.py
  doc/howto/instances_configure.md
  doc/howto/instances_manage.md
  doc/rest-api.md
Labels: Documentation

#12101 lxd: Add generated configuration options to API
  .gitignore
  Makefile
  doc/api-extensions.md
  doc/conf.py
  doc/config_options.txt
  doc/contributing.md
  doc/explanation/clustering.md
  doc/howto/cluster_groups.md
  doc/reference/cluster_member_config.md
  doc/rest-api.yaml
  lxd/api_1.0.go
  lxd/api_cluster.go
  lxd/cluster/config/config.go
  lxd/documentation.go
  lxd/instance/drivers/driver_lxc.go
  lxd/lxd-metadata/README.md
  lxd/lxd-metadata/lxd_metadata.go
  lxd/lxd-metadata/lxd_metadata_test.go
  lxd/lxd-metadata/lxddoc.go
  lxd/lxd-metadata/lxddoc_test.go
  lxd/lxd-metadata/main.go
  lxd/metadata/configuration.json
  lxd/node/config.go
  shared/instance.go
  shared/version/api.go
  test/lint/metadata-up-to-date.sh
Labels: Documentation, API

#12215 Reduce doc size
  .gitignore
  Makefile
  doc/.sphinx/_static/furo_colors.css
  doc/.sphinx/_static/header.css
  doc/.sphinx/_templates/base.html
  doc/.sphinx/_templates/header.html
  doc/.sphinx/requirements.txt
  doc/conf.py
Labels: Documentation

#12220 doc/zfs: remove limitation
  doc/reference/storage_zfs.md
Labels: Documentation

#12098 lxd: expose a documentation server to LXD
  doc/getting_started.md
  doc/howto/access_documentation.md
  lxd/api.go
Labels: Documentation

#12223 Update storage_volumes.md
  doc/howto/storage_volumes.md
Labels: Documentation

#12240 doc: add information about LXD 4.0 EOL
  doc/support.md
Labels: Documentation

#12237 doc/instances: add UI instructions
  doc/howto/instances_configure.md
  doc/howto/instances_manage.md
  doc/images/UI/limits_memory_example.png
Labels: Documentation

#12253 doc/storage: clarify that `block.*` options are for filesystem volumes
  doc/reference/storage_ceph.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation

#12265 doc/faq: add info about VPN cgroup1 issues
  doc/.sphinx/.wordlist.txt
  doc/faq.md
Labels: Documentation

#12272 Better document `loki.api.url`
  doc/api-extensions.md
  doc/config_options.txt
  lxd/cluster/config/config.go
  lxd/metadata/configuration.json
Labels: Documentation, API

#12200 Send OVN logs to events API and Loki
  doc/.sphinx/.wordlist.txt
  doc/api-extensions.md
  doc/config_options.txt
  doc/howto/network_ovn_setup.md
  lxd/api_1.0.go
  lxd/cluster/config/config.go
  lxd/daemon.go
  lxd/events.go
  lxd/events/internalListener.go
  lxd/loki/loki.go
  lxd/metadata/configuration.json
  lxd/node/config.go
  lxd/syslog.go
  shared/api/event.go
  shared/version/api.go
  test/main.sh
  test/suites/syslog.sh
Labels: Documentation, API

#12273 doc: Update docs on loki.api.url
  doc/config_options.txt
  lxd/cluster/config/config.go
  lxd/metadata/configuration.json
Labels: Documentation

#12286 shared: Add support for OVN logs to `lxc monitor --pretty`
  doc/howto/network_ovn_setup.md
  shared/api/event.go
Labels: Documentation, API

#12302 doc: add link to Windows VM tutorial
  doc/howto/images_create.md
  doc/instances.md
Labels: Documentation

#12275 doc: align with current doc starter pack
  Makefile
  doc/.sphinx/_static/custom.css
  doc/.sphinx/_static/github_issue_links.css
  doc/.sphinx/_static/github_issue_links.js
  doc/.sphinx/_static/header.css
  doc/.sphinx/_static/tag.png
  doc/.sphinx/_templates/base.html
  doc/.sphinx/_templates/footer.html
  doc/.sphinx/_templates/header.html
  doc/.sphinx/requirements.txt
  doc/.sphinx/spellingcheck.yaml
  doc/.wordlist.txt
  doc/404.md
  doc/conf.py
  doc/custom_conf.py
  doc/howto/network_ovn_setup.md
  doc/myconf.py
Labels: Documentation

#12303 doc: include the cheat sheet again
  doc/conf.py
Labels: Documentation

#12301 Add name and project to lifecycle events and loki
  doc/api-extensions.md
  lxd/lifecycle/instance.go
  lxd/loki/loki.go
  shared/api/event.go
  shared/version/api.go
Labels: Documentation, API

#12135 Add support for network device limits.priority option
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/config_options.txt
  doc/reference/devices_nic.md
  lxd/cgroup/init.go
  lxd/device/device_utils_network.go
  lxd/device/nic.go
  lxd/device/nic_bridged.go
  lxd/device/nic_p2p.go
  lxd/device/nic_routed.go
  lxd/firewall/drivers/drivers_nftables.go
  lxd/firewall/drivers/drivers_nftables_templates.go
  lxd/firewall/drivers/drivers_xtables.go
  lxd/firewall/firewall_interface.go
  lxd/metadata/configuration.json
  shared/instance.go
  shared/version/api.go
  test/suites/container_devices_nic_bridged.sh
Labels: Documentation, API

#12288 Doc: fix for topical navigation
  doc/.sphinx/requirements.txt
  doc/clustering.md
  doc/custom_conf.py
  doc/external_resources.md
  doc/getting_started.md
  doc/images.md
  doc/index.md
  doc/index_topical.md
  doc/instances.md
  doc/internals.md
  doc/migration.md
  doc/networks.md
  doc/operation.md
  doc/production-setup.md
  doc/projects.md
  doc/reference/network_bridge.md
  doc/reference/network_ovn.md
  doc/storage.md
Labels: Documentation

#12089 Instance volume configuration through disk device
  doc/api-extensions.md
  doc/reference/devices_disk.md
  lxd/device/config/devices.go
  lxd/device/disk.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instances_post.go
  lxd/storage/backend_lxd.go
  shared/version/api.go
  test/main.sh
  test/suites/storage_volume_initial_config.sh
Labels: Documentation, API

#12316 Enforce `security.shifted` and `security.unmapped` to be mutually exclusive.
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/driver_common.go
  test/suites/container_devices_disk.sh
Labels: Bug

#12251 doc: document the project config options
  doc/config_options.txt
  doc/explanation/projects.md
  doc/howto/network_forwards.md
  doc/howto/network_load_balancers.md
  doc/howto/network_zones.md
  doc/reference/projects.md
  lxd/api_project.go
  lxd/metadata/configuration.json
Labels: Documentation

#12329 Doc fixes for 5.0
  README.md
  doc/.sphinx/.wordlist.txt
  doc/.sphinx/_extra/rest-api.yaml
  doc/.sphinx/_static/lxd.mp3
  doc/.sphinx/_static/lxd.ogg
  doc/.sphinx/_static/lxd.wav
  doc/database.md
  doc/explanation/containers_and_vms.md
  doc/explanation/instances.md
  doc/explanation/security.md
  doc/external_resources.md
  doc/getting_started.md
  doc/howto/benchmark_performance.md
  doc/howto/images_copy.md
  doc/howto/images_manage.md
  doc/howto/images_remote.md
  doc/howto/instances_create.md
  doc/images/application-vs-system-containers.svg
  doc/images/virtual-machines-vs-system-containers.svg
  doc/index.md
  doc/installing.md
  doc/instances.md
  doc/reference/remote_image_servers.md
  doc/support.md
Labels: Documentation
