Repository canonical/lxd, pull requests merged in 2023-11, with the labels that each got.

#12497 Stable-5.0: cherry-pick doc fixes
  doc/.sphinx/.markdownlint/doc-lint.sh
  doc/api-extensions.md
  doc/explanation/instances.md
  doc/howto/images_create.md
  doc/howto/instances_routed_nic_vm.md
  doc/howto/network_ipam.md
  doc/index.md
  doc/instances.md
  doc/projects.md
  doc/restapi_landing.md
Labels: Documentation, API

#12455 Always use `--` with `exec delimiter`
  doc/howto/instances_troubleshoot.md
  doc/howto/network_ovn_setup.md
  lxd/devlxd.go
  test/suites/basic.sh
  test/suites/clustering.sh
  test/suites/config.sh
  test/suites/devlxd.sh
  test/suites/image_acl.sh
  test/suites/storage_snapshots.sh
Labels: Documentation

#12500 Add NVME disk support
  doc/api-extensions.md
  doc/reference/devices_disk.md
  lxd/device/disk.go
  lxd/instance/drivers/driver_qemu.go
  shared/version/api.go
Labels: Documentation, API

#12512 Go 1.20 followup
  Makefile
  doc/howto/benchmark_performance.md
  doc/howto/migrate_from_lxc.md
  doc/installing.md
  doc/requirements.md
  lxd/util/http.go
  shared/cert.go
Labels: Documentation

#12535 config: Fix `acme.ca_url` short description
  doc/config_options.txt
  lxd/cluster/config/config.go
  lxd/metadata/configuration.json
Labels: Documentation

#12522 lxd/instance/drivers/driver_qemu: add the boot.debug_edk2 option
  doc/config_options.txt
  lxd/instance/drivers/driver_qemu.go
  lxd/metadata/configuration.json
  shared/instance.go
Labels: Documentation

#12545 Go 1.19 (stable-5.0)
  .github/workflows/commits.yml
  .github/workflows/tests.yml
  .golangci.yml
  Makefile
  doc/.readthedocs.yaml
  doc/howto/benchmark_performance.md
  doc/howto/migrate_from_lxc.md
  doc/installing.md
  doc/requirements.md
  go.mod
  go.sum
  lxd/api.go
  lxd/apparmor/rsync.go
  lxd/device/device_utils_generic.go
  lxd/devlxd.go
  lxd/network/network_utils.go
  lxd/util/http.go
  shared/cert.go
  staticcheck.conf
Labels: Documentation

#12549 doc/installing: LXC_DEVEL needs to be fixed on 22.04+
  doc/installing.md
Labels: Documentation

#12538 Optionally create entities for `cephfs` storage pool
  doc/api-extensions.md
  doc/reference/storage_cephfs.md
  lxd/storage/drivers/driver_cephfs.go
  lxd/storage/drivers/driver_cephfs_utils.go
  shared/version/api.go
  test/suites/storage_driver_cephfs.sh
Labels: Documentation, API

#12572 Update iso import in instances_create
  doc/howto/instances_create.md
Labels: Documentation

#12574 doc/howto: Make pool name consistent in iso tutorial.
  doc/howto/instances_create.md
Labels: Documentation

#12565 Revert to filepath traversal if subvolume list fails
  lxd/storage/drivers/driver_btrfs_utils.go
Labels: Bug

#12576 doc/instances: change pool name to be consistent
  doc/howto/instances_create.md
Labels: Documentation
