Repository canonical/lxd, pull requests merged in 2023-10, with the labels that each got.

#12350 doc/devices_nic: add missing column to `limits.priority` description
  doc/reference/devices_nic.md
Labels: Documentation

#12347 lxd: Fully configure new node from cluster config after it is added.
  lxd/api_cluster.go
Labels: Bug

#12345 Stable 5.0 backports (stable-5.0)
  doc/.sphinx/.wordlist.txt
  doc/api-extensions.md
  doc/reference/devices_nic.md
  lxc/network_allocations.go
  lxd/cgroup/init.go
  lxd/device/device_utils_network.go
  lxd/device/nic.go
  lxd/device/nic_bridged.go
  lxd/device/nic_p2p.go
  lxd/device/nic_routed.go
  lxd/firewall/drivers/drivers_nftables.go
  lxd/firewall/drivers/drivers_nftables_templates.go
  lxd/firewall/drivers/drivers_xtables.go
  lxd/firewall/firewall_interface.go
  lxd/lifecycle/instance.go
  lxd/main_init.go
  lxd/main_init_auto.go
  lxd/patches.go
  shared/version/api.go
  test/suites/container_devices_nic_bridged.sh
  test/suites/network.sh
Labels: Documentation, API

#12353 lxc/storage: Initialise writable storage pool config map if nil.
  lxc/storage.go
Labels: Bug

#12372 lxd-agent: Adds an operation wait endpoint to fix VM exec operations
  lxd-agent/api_1.0.go
  lxd-agent/operations.go
Labels: Bug

#12371 doc/support: clarify information about LTS releases and timing
  doc/support.md
Labels: Documentation

#12369 Doc: fixes to projects documentation
  doc/howto/projects_create.md
  doc/howto/projects_work.md
Labels: Documentation

#12365 Doc: add information about managing the snap
  doc/.wordlist.txt
  doc/conf.py
  doc/custom_conf.py
  doc/getting_started.md
  doc/howto/projects_confine.md
  doc/howto/snap.md
  doc/installing.md
Labels: Documentation

#12378 Fix .md docs
  doc/.sphinx/.markdownlint/doc-lint.sh
  doc/howto/instances_routed_nic_vm.md
  doc/howto/network_ipam.md
Labels: Documentation

#12383 doc: remove lxd.{ogg,wav} now that mp3 support is ubiquitous
  doc/.sphinx/_static/lxd.ogg
  doc/.sphinx/_static/lxd.wav
  doc/index.md
Labels: Documentation

#12380 Operation wait extension
  client/lxd_instances.go
  doc/api-extensions.md
  shared/version/api.go
Labels: Bug, Documentation, API

#12407 shared/api/url: Fix double path encoding issue
  shared/api/url.go
  shared/api/url_test.go
Labels: API

#12427 doc: update link to tool downloads
  doc/howto/import_machines_to_instances.md
  doc/howto/initialize.md
  doc/installing.md
Labels: Documentation

#12434 [Stable-4.0] doc: fix symbolic link to rest-api.yaml after moving the directory
  doc/.sphinx/_extra/rest-api.yaml
  doc/rest-api.yaml
Labels: Documentation, API

#12420 doc: add a note about go-lxc build issue when LXC_DEVEL=1
  doc/installing.md
Labels: Documentation

#12435 Doc updates 5.19
  doc/config_options.txt
  doc/howto/instances_create.md
  lxd/metadata/configuration.json
  shared/instance.go
Labels: Documentation

#12440 Doc: remove undesired content
  doc/index.md
Labels: Documentation

#12448 doc: temporarily ignore MAAS links
  doc/custom_conf.py
Labels: Documentation

#12450 Authentication method constants
  client/connection.go
  client/lxd_server.go
  lxc/config/file.go
  lxc/config/remote.go
  lxc/remote.go
  lxd-agent/api_1.0.go
  lxd-migrate/main_migrate.go
  lxd-migrate/utils.go
  lxd/api_1.0.go
  lxd/daemon.go
  shared/api/auth.go
Labels: API

#12386 Support server side copy/move of custom storage volumes in clusters
  client/lxd_storage_volumes.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/db/storage_volumes.go
  lxd/storage_volumes.go
  shared/api/storage_pool_volume.go
  shared/version/api.go
Labels: Documentation, API

#12252 OpenFGA authorization driver
  .github/workflows/tests.yml
  Makefile
  doc/.wordlist.txt
  doc/authentication.md
  doc/authorization.md
  doc/config_options.txt
  doc/explanation/index.md
  doc/explanation/projects.md
  doc/howto/projects_confine.md
  doc/security.md
  doc/server.md
  go.mod
  go.sum
  lxd/api_1.0.go
  lxd/auth/authorization.go
  lxd/auth/authorization_types.go
  lxd/auth/driver_openfga.go
  lxd/auth/driver_openfga_model.go
  lxd/auth/driver_openfga_model.openfga
  lxd/cluster/config/config.go
  lxd/daemon.go
  lxd/db/storage_volumes.go
  lxd/metadata/configuration.json
  test/includes/certificates.sh
  test/includes/openfga.sh
  test/includes/rbac.sh
  test/lint/openfga-up-to-date.sh
  test/main.sh
  test/suites/clustering.sh
  test/suites/openfga.sh
Labels: Feature, Documentation

#12480 doc: add page title for related links
  doc/explanation/instances.md
  doc/howto/images_create.md
  doc/index.md
  doc/instances.md
  doc/projects.md
  doc/restapi_landing.md
Labels: Documentation

#12485 doc: small fixes OpenFGA docs
  doc/authentication.md
  doc/authorization.md
  doc/config_options.txt
  doc/server.md
  lxd/cluster/config/config.go
  lxd/metadata/configuration.json
Labels: Documentation
