Repository canonical/lxd, pull requests merged in 2023-03, with the labels that each got.

#11420 doc: fix documentation warnings
  doc/doc-cheat-sheet.md
  doc/explanation/clustering.md
Labels: Documentation

#11423 removed the `-p 1053` param from the `dig` call
  doc/howto/network_zones.md
Labels: Documentation

#11433 Clean up cloud-init docs
  .sphinx/.wordlist.txt
  .sphinx/conf.py
  doc/cloud-init.md
  doc/reference/devices_disk.md
  doc/reference/instance_options.md
Labels: Documentation

#11432 doc/faq: add a section explaining where lxc stores its config
  doc/authentication.md
  doc/debugging.md
  doc/faq.md
  doc/howto/initialize.md
  doc/howto/network_acls.md
Labels: Documentation

#11438 Small doc fixes
  .sphinx/.wordlist.txt
  doc/howto/benchmark_performance.md
  doc/installing.md
  doc/reference/devices_tpm.md
Labels: Documentation

#11450 instance: Add Generation ID support for Virtual Machines
  doc/api-extensions.md
  doc/reference/instance_options.md
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instance_utils.go
  lxd/instance_put.go
  shared/instance.go
  shared/version/api.go
  test/suites/backup.sh
  test/suites/snapshots.sh
Labels: Documentation, API

#11447 Doc: extension for terminal output
  .sphinx/.markdownlint/exceptions.txt
  .sphinx/conf.py
  doc/cloud-init.md
  doc/howto/cluster_form.md
  doc/howto/cluster_manage.md
  doc/howto/import_machines_to_instances.md
  doc/howto/instances_troubleshoot.md
  doc/howto/migrate_from_lxc.md
  doc/howto/network_bridge_resolved.md
  doc/howto/network_create.md
  doc/howto/network_ovn_setup.md
  doc/howto/network_zones.md
  doc/howto/storage_pools.md
  doc/installing.md
  doc/metrics.md
Labels: Documentation

#11469 doc/images: link to Discourse post on LXD image servers
  doc/reference/remote_image_servers.md
Labels: Documentation

#11468 doc/devices/usb: add link to video and some explanation
  doc/reference/devices_usb.md
Labels: Documentation

#11459 Instance: Fix hang during migration if target member encounters an error
  client/lxd_containers.go
  client/lxd_instances.go
  go.mod
  lxc-to-lxd/utils.go
  lxd-agent/exec.go
  lxd-migrate/utils.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instance_interface.go
  lxd/instance_console.go
  lxd/instance_exec.go
  lxd/instances_post.go
  lxd/migrate.go
  lxd/migrate_instance.go
  lxd/migrate_storage_volumes.go
  lxd/storage_volumes.go
  shared/api/migration.go
Labels: API

#11472 Documentation: fixed typo
  doc/reference/devices_unix_hotplug.md
Labels: Documentation

#11405 Config options
  .sphinx/conf.py
  doc/config_options_cheat_sheet.md
Labels: Documentation

#11479 storage: Use rsync when refreshing filesystem volumes in volume-only mode
  doc/reference/storage_drivers.md
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/migrate_storage_volumes.go
  lxd/storage/backend_lxd.go
  lxd/storage/backend_mock.go
  lxd/storage/drivers/driver_btrfs.go
  lxd/storage/drivers/driver_ceph.go
  lxd/storage/drivers/driver_cephfs.go
  lxd/storage/drivers/driver_cephobject.go
  lxd/storage/drivers/driver_common.go
  lxd/storage/drivers/driver_zfs.go
  lxd/storage/drivers/interface.go
  lxd/storage/pool_interface.go
Labels: Documentation

#11483 doc: Add source.wipe
  doc/reference/storage_btrfs.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
Labels: Documentation

#11502 doc/devices/pci: add link to YouTube video
  doc/reference/devices_pci.md
Labels: Documentation

#11460 Adding basic support for AMD SEV VMs
  .sphinx/.wordlist.txt
  doc/api-extensions.md
  doc/reference/instance_options.md
  lxd/apparmor/instance_qemu.go
  lxd/device/device_utils_disk.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/driver_qemu_templates.go
  lxd/instance/drivers/qmp/commands.go
  lxd/instance/instance_interface.go
  shared/instance.go
  shared/version/api.go
Labels: Documentation, API

#11497 Update network_increase_bandwidth.md
  doc/howto/network_increase_bandwidth.md
Labels: Documentation

#11512 doc/authentication: Update minimum TLS
  doc/authentication.md
Labels: Documentation
