Repository canonical/lxd, pull requests merged in 2023-12, with the labels that each got.

#12563 Respect all flags when moving an instance
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/move.go
  lxd/instance_post.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/instance.go
  shared/version/api.go
  test/suites/container_move.sh
Labels: Documentation, API

#12516 Feat/remove shiftfs
  .github/workflows/tests.yml
  doc/api-extensions.md
  doc/config_options.txt
  doc/environment.md
  doc/faq.md
  lxd/api_1.0.go
  lxd/daemon.go
  lxd/device/config/device_runconfig.go
  lxd/instance/drivers/driver_lxc.go
  lxd/main_checkfeature.go
  lxd/main_forkmount.go
  lxd/main_forksyscall.go
  lxd/metadata/configuration.json
  lxd/seccomp/seccomp.go
  lxd/storage/drivers/utils.go
  lxd/sys/os.go
  shared/idmap/shift_linux.go
  shared/instance.go
  test/suites/container_devices_disk.sh
  test/suites/security.sh
Labels: Documentation, API

#12609 Revert OpenFGA authorization driver
  .github/workflows/tests.yml
  Makefile
  doc/.wordlist.txt
  doc/authentication.md
  doc/authorization.md
  doc/config_options.txt
  doc/explanation/index.md
  doc/explanation/projects.md
  doc/howto/projects_confine.md
  doc/security.md
  doc/server.md
  go.mod
  go.sum
  lxd/api_1.0.go
  lxd/auth/authorization.go
  lxd/auth/authorization_types.go
  lxd/auth/driver_openfga.go
  lxd/auth/driver_openfga_model.go
  lxd/auth/driver_openfga_model.openfga
  lxd/cluster/config/config.go
  lxd/daemon.go
  lxd/db/storage_volumes.go
  lxd/metadata/configuration.json
  test/includes/certificates.sh
  test/includes/openfga.sh
  test/includes/rbac.sh
  test/main.sh
  test/suites/clustering.sh
  test/suites/openfga.sh
Labels: Documentation

#12640 Set keep-alive headers early in operation wait handler
  lxd/operations.go
  lxd/response/response.go
Labels: Bug

#12650 doc: fix broken links
  doc/howto/snap.md
Labels: Documentation

#12661 doc/storage/cephfs: specify that you can automatically create pools
  doc/howto/storage_pools.md
  doc/reference/storage_cephfs.md
Labels: Documentation

#12663 Change license to AGPLv3
  AUTHORS
  CONTRIBUTING.md
  COPYING
  doc/.wordlist.txt
  doc/index.md
  doc/rest-api.yaml
  lxd/swagger.go
Labels: Documentation, API

#12673 doc: clarify some wording around the license
  AUTHORS
  CONTRIBUTING.md
  doc/index.md
Labels: Documentation
