Repository canonical/lxd, pull requests merged in 2023-04, with the labels that each got.

#11541 doc, api: Storage pool resize
  doc/api-extensions.md
  doc/howto/storage_pools.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_lvm.md
  doc/reference/storage_zfs.md
  shared/version/api.go
Labels: Documentation, API

#11540 Migration: Add VM live migration for non-shared storage
  doc/api-extensions.md
  lxd/apparmor/instance_qemu.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/qmp/commands.go
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/driver_ceph.go
  lxd/storage/drivers/driver_types.go
  shared/version/api.go
Labels: Documentation, API

#11499 Doc: clean up project documentation
  doc/authentication.md
  doc/explanation/projects.md
  doc/explanation/security.md
  doc/howto/projects_confine.md
  doc/howto/projects_create.md
  doc/howto/projects_work.md
  doc/index.md
  doc/operation.md
  doc/projects.md
  doc/reference/projects.md
  doc/server.md
Labels: Documentation

#11556 doc: add links to YouTube videos
  doc/reference/devices_infiniband.md
  doc/reference/devices_none.md
  doc/reference/remote_image_servers.md
Labels: Documentation

#11513 Device: Adds nested OVN NIC support
  doc/api-extensions.md
  doc/reference/devices_nic.md
  lxd/device/nic.go
  lxd/device/nic_bridged.go
  lxd/device/nic_ovn.go
  lxd/network/driver_ovn.go
  lxd/network/openvswitch/ovn.go
  shared/version/api.go
Labels: Documentation, API

#11523 Add OpenID Connect as authentication
  .sphinx/.wordlist.txt
  client/connection.go
  client/lxd.go
  client/lxd_candid.go
  client/lxd_oidc.go
  client/lxd_server.go
  doc/api-extensions.md
  doc/server.md
  go.mod
  go.sum
  lxc/config/config.go
  lxc/config/remote.go
  lxc/main.go
  lxc/remote.go
  lxd/api_1.0.go
  lxd/api_cluster.go
  lxd/auth/candid/candid.go
  lxd/auth/candid/identity.go
  lxd/auth/oidc/oidc.go
  lxd/cluster/config/config.go
  lxd/daemon.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/version/api.go
  test/godeps.list
Labels: Documentation, API

#11568 doc/cheat-sheet: update with more markup
  doc/doc-cheat-sheet.md
Labels: Documentation

#11570 doc/authentication: mention that RBAC is covered by Ubuntu Pro
  doc/authentication.md
Labels: Documentation

#11569 doc/footer: add community links
  .sphinx/_templates/footer.html
Labels: Documentation

#11557 Network: Add L3 only mode for OVN networks
  doc/api-extensions.md
  doc/reference/network_ovn.md
  lxd/network/driver_ovn.go
  lxd/network/network_utils.go
  lxd/network/openvswitch/ovn.go
  shared/version/api.go
Labels: Documentation, API

#11528 Support VDPA alongside SR-IOV on OVN NICs
  .sphinx/.wordlist.txt
  doc/api-extensions.md
  doc/reference/devices_nic.md
  doc/reference/instance_options.md
  doc/rest-api.yaml
  go.mod
  lxd/device/device_utils_network.go
  lxd/device/nic.go
  lxd/device/nic_ovn.go
  lxd/instance/drivers/driver_qemu.go
  lxd/ip/vdpa.go
  lxd/resources/network.go
  shared/api/resource.go
  shared/version/api.go
Labels: Documentation, API

#11567 Doc: update metrics documentation
  .sphinx/.spellcheck.yaml
  .sphinx/.wordlist.txt
  .sphinx/conf.py
  doc/explanation/performance_tuning.md
  doc/images/grafana_add_datasource.png
  doc/images/grafana_configure_datasource.png
  doc/images/grafana_dashboard_id.png
  doc/images/grafana_dashboard_import.png
  doc/images/grafana_dashboard_select_datasource.png
  doc/images/grafana_instances.png
  doc/images/grafana_resources.png
  doc/images/grafana_select_prometheus.png
  doc/index.md
  doc/metrics.md
  doc/operation.md
  doc/production-setup.md
  doc/reference/provided_metrics.md
  doc/restapi_landing.md
Labels: Documentation

#11580 doc: Fix OVN peers doc incorrectly listing a ports option
  doc/howto/network_ovn_peers.md
Labels: Documentation

#11587 API: Storage bucket fixes
  lxd/db/storage_buckets.go
  lxd/storage_buckets.go
  shared/api/storage_pool_bucket.go
Labels: API

#11584 Automated cluster healing
  doc/api-extensions.md
  doc/server.md
  lxd/api_cluster.go
  lxd/api_internal.go
  lxd/cluster/config/config.go
  lxd/daemon.go
  lxd/db/operationtype/operation_type.go
  lxd/instance_post.go
  shared/version/api.go
Labels: Documentation, API

#11589 Add Total fields to InstanceStateDisk and InstanceStateMemory
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd-agent/state.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/storage/backend_lxd.go
  lxd/storage/backend_mock.go
  lxd/storage/pool_interface.go
  lxd/storage/utils.go
  lxd/storage_volumes_state.go
  shared/api/instance_state.go
  shared/version/api.go
Labels: Documentation, API

#11591 Network: Skip `bridge` ovn/dhcp range overlap check when DHCP is off
  lxd/network/driver_bridge.go
Labels: Bug

#11604 Various doc updates for 5.13
  doc/authentication.md
  doc/howto/move_instances.md
  doc/howto/network_ovn_setup.md
  doc/howto/storage_pools.md
  doc/reference/devices_proxy.md
Labels: Documentation

#11614 doc/storage/buckets: add info on configuring the S3 address
  doc/howto/storage_buckets.md
Labels: Documentation

#11613 lxc/export: Rename backup file based on compression type
  doc/howto/storage_backup_volume.md
  lxc/export.go
Labels: Documentation

#11622 doc/storage: clarify that "attach" is an alias for "device add"
  doc/howto/network_create.md
  doc/howto/storage_volumes.md
Labels: Documentation

#11624 doc/devices/nic: add link to video and missing info about macvlan
  doc/reference/devices_nic.md
  doc/reference/network_macvlan.md
Labels: Documentation
