Repository canonical/lxd, pull requests merged in 2024-11, with the labels that each got.

#14382 doc/tutorial: specify LXD snap
  doc/tutorial/first_steps.md
Labels: Documentation

#14378 db: Print last dqlite entry
  doc/howto/cluster_form.md
  doc/howto/cluster_recover.md
  lxd/cluster/gateway.go
  lxd/cluster/gateway_test.go
  lxd/cluster/info.go
  lxd/cluster/recover.go
  lxd/db/db.go
Labels: Documentation

#14399 docs: Improve Windows image conversion examples
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/howto/import_machines_to_instances.md
Labels: Documentation

#14400 Backports (stable-5.0)
  .github/workflows/tests.yml
  Makefile
  doc/howto/cluster_form.md
  go.mod
  go.sum
  lxc/console.go
  lxd/api_cluster.go
  lxd/cluster/gateway.go
  lxd/cluster/gateway_test.go
  lxd/cluster/heartbeat_test.go
  lxd/cluster/membership.go
  lxd/cluster/membership_test.go
  lxd/cluster/raft_test.go
  lxd/cluster/recover.go
  lxd/cluster/upgrade.go
  lxd/cluster/upgrade_test.go
  lxd/daemon.go
  lxd/db/cluster/open.go
  lxd/db/db.go
  lxd/db/migration_test.go
  lxd/db/query/retry.go
  lxd/db/raft.go
  lxd/db/raft_test.go
  lxd/db/testing.go
  lxd/main.go
  lxd/main_cluster.go
  lxd/node/raft.go
  lxd/node/raft_test.go
  lxd/response/smart_linux.go
Labels: Documentation, 5.0 LTS

#14405 Prevent use of one OVN network's volatile IP on another OVN network (stable-5.0)
  lxd/network/driver_common.go
  lxd/network/driver_ovn.go
Labels: 5.0 LTS

#14409 Pass request to `Render` backport (stable-5.21)
  lxd-agent/devlxd.go
  lxd-agent/events.go
  lxd-agent/server.go
  lxd-agent/sftp.go
  lxd/api.go
  lxd/api_cluster.go
  lxd/api_internal.go
  lxd/auth/oidc/oidc.go
  lxd/cluster/notify_test.go
  lxd/daemon.go
  lxd/devlxd.go
  lxd/events.go
  lxd/instance_sftp.go
  lxd/operations.go
  lxd/operations/response.go
  lxd/operations/websocket.go
  lxd/response/response.go
Labels: 5.21 LTS

#14411 Backport removal of non- stdlib errors from `lxd/response` (stable-5.21)
  lxd/db/errors.go
  lxd/main.go
  lxd/response/response.go
  lxd/response/smart_linux.go
Labels: 5.21 LTS

#14414 Docs: Fix ovn ipv4/6 address description
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/network/driver_ovn.go
Labels: Documentation

#14445 Make `security.devlxd.images` live-updatable for VMs
  doc/metadata.txt
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Documentation

#14444 doc: Document devlxd Ubuntu Pro API endpoints.
  doc/dev-lxd.md
Labels: Documentation

#14446 Auth: Mask errors returned by OpenFGADatastore
  lxd/auth/drivers/openfga.go
Labels: Bug

#14331 Auth: Allow updating TLS identity certificates
  doc/rest-api.yaml
  lxd/certificates.go
  lxd/db/cluster/identities.go
  lxd/identities.go
  shared/api/auth.go
  test/suites/auth.sh
Labels: Documentation, API

#14448 gomod: Update go-dqlite to support unified raft builds (stable-4.0)
  go.mod
  go.sum
Labels: 4.0 LTS

#14450 Doc: Fix broken link to maas docs
  doc/howto/initialize.md
Labels: Documentation

#14447 Auth: Allow listing unmanaged networks with fine-grained auth
  doc/metadata.txt
  lxd/auth/drivers/openfga_model.openfga
  lxd/auth/drivers/tls.go
  lxd/auth/entitlements_generated.go
  lxd/metadata/configuration.json
  lxd/networks.go
  test/suites/auth.sh
Labels: Bug, Documentation

#14458 lxc: Use TrustToken field if supported by the server (stable-5.21)
  lxc/remote.go
Labels: 5.21 LTS

#14459 github: Use squid/candidate for microceph (stable-5.21)
  .github/workflows/tests.yml
Labels: 5.21 LTS

#14466 Release LXD 5.0.4 (stable-5.0)
  shared/version/flex.go
Labels: 5.0 LTS

#14454 Update device option descriptions to accurately convey compatibility with containers and VMs
  doc/metadata.txt
  doc/reference/devices_unix_block.md
  doc/reference/devices_unix_char.md
  doc/reference/devices_unix_hotplug.md
  lxd/device/unix_common.go
  lxd/device/unix_hotplug.go
  lxd/metadata/configuration.json
Labels: Documentation

#14495 Pro: Revert Pro client integration pending review of Pro client CLI
  doc/api-extensions.md
  doc/dev-lxd.md
  doc/metadata.txt
  lxd-agent/devlxd.go
  lxd/daemon.go
  lxd/devlxd.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
  lxd/state/state.go
  lxd/ubuntupro/client.go
  lxd/ubuntupro/client_test.go
  shared/api/devlxd.go
  shared/version/api.go
Labels: Documentation, API

#14502 doc: fix defaultdesc format for instance configuration related to boot
  doc/metadata.txt
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Documentation

#14501 api: Add `gpu_cdi` extension
  doc/.custom_wordlist.txt
  doc/api-extensions.md
  shared/version/api.go
Labels: Documentation, API

#14528 doc: fix broken maas link (stable-5.0)
  doc/howto/initialize.md
Labels: Documentation, 5.0 LTS

#14536 lxd/storage: Remove `security.shared` from cephfs keys
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/storage/utils.go
Labels: Documentation

#14260 API: Add support for fetching images across all projects (from Incus)
  client/interfaces.go
  client/lxd_images.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/image.go
  lxd/db/images.go
  lxd/images.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/image.go
  shared/version/api.go
  test/suites/auth.sh
Labels: Documentation, API

#14559 Simplify config validation
  doc/metadata.txt
  lxd/device/tpm.go
  lxd/device/usb.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
  lxd/network/driver_common.go
  lxd/storage/drivers/driver_cephobject.go
  lxd/storage/drivers/driver_powerflex.go
Labels: Documentation
