Repository canonical/lxd, pull requests merged in 2024-04, with the labels that each got.

#13193 Allow setting file permissions via API and `lxd file push --mode`
  client/interfaces.go
  client/lxd_instances.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/file.go
  lxd/instance_file.go
  shared/util.go
  shared/util_test.go
  shared/version/api.go
Labels: Documentation, API

#13244 Backports and gomod dependency updates (stable-5.21)
  .gitignore
  client/interfaces.go
  client/lxd_containers.go
  client/lxd_instances.go
  doc/api-extensions.md
  doc/rest-api.yaml
  go.mod
  go.sum
  lxc/config/default.go
  lxc/file.go
  lxd/api_metrics.go
  lxd/auth/authorization_types.go
  lxd/auth/driver_openfga_model.openfga
  lxd/auth/driver_tls.go
  lxd/auth/util.go
  lxd/daemon.go
  lxd/db/cluster/certificates.go
  lxd/db/cluster/identities.go
  lxd/db/cluster/update.go
  lxd/db/cluster/update_test.go
  lxd/device/disk.go
  lxd/identity/util.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance_file.go
  lxd/metrics/metrics.go
  lxd/metrics/metrics_test.go
  shared/api/auth.go
  shared/util.go
  shared/util_test.go
  shared/version/api.go
  test/client-godeps.list
  test/lint/client-imports.sh
  test/lint/lxd-agent-imports.sh
  test/lxd-agent-godeps.list
  test/mini-oidc/go.mod
  test/mini-oidc/go.sum
  test/suites/auth.sh
  test/suites/metrics.sh
Labels: Documentation, API, 5.21 LTS

#13248 Backports (stable-5.21)
  lxd/api_metrics.go
  lxd/instance/drivers/driver_lxc.go
  lxd/metrics/metrics.go
  lxd/metrics/types.go
  test/suites/metrics.sh
Labels: 5.21 LTS

#13254 Release LXD 5.21.1 (stable-5.21)
  shared/version/flex.go
Labels: 5.21 LTS

#13249 Introduce requirements.nesting for images
  doc/api-extensions.md
  doc/image-handling.md
  lxd/instance/drivers/driver_lxc.go
  shared/version/api.go
Labels: Documentation, API

#13151 Instance: Add container `finit_module()` syscall interception support
  doc/api-extensions.md
  doc/config_options.txt
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/instancetype/instance.go
  lxd/main.go
  lxd/main_forksyscallgo.go
  lxd/metadata/configuration.json
  lxd/project/permissions.go
  lxd/seccomp/cgo.go
  lxd/seccomp/seccomp.go
  scripts/bash/lxd-client
  shared/version/api.go
Labels: Documentation, API

#13293 doc/storage: document how to list all storage volumes
  doc/howto/storage_volumes.md
Labels: Documentation

#13241 Doc: Suggested changes to the first steps tutorial
  doc/tutorial/first_steps.md
Labels: Documentation

#13298 lxd: `GET /1.0/warnings` should use the `can_view_warnings` entitlement.
  lxd/api_internal.go
  lxd/warnings.go
  test/suites/auth.sh
Labels: Bug

#13300 doc/api extensions: add links to config options
  doc/api-extensions.md
Labels: Documentation, API

#13335 doc/file push: include information about permission flags
  doc/howto/instances_access_files.md
Labels: Documentation

#13336 doc: clarify relation between proxy devices and network forwards
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/howto/network_forwards.md
  doc/reference/devices_proxy.md
Labels: Documentation

#13342 doc/faq: add an entry about ZFS 2.1 being required
  doc/faq.md
  doc/requirements.md
Labels: Documentation

#13348 Backports (stable-5.21)
  Makefile
  README.md
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/howto/instances_access_files.md
  doc/howto/network_forwards.md
  doc/reference/devices_proxy.md
  go.mod
  go.sum
  scripts/bash/lxd-client
  test/godeps/lxd-agent.list
  test/lint/godeps.sh
Labels: Documentation, 5.21 LTS

#13356 doc/ovn: include networking architecture figures
  doc/images/ovn_networking_1.svg
  doc/images/ovn_networking_2.svg
  doc/reference/network_ovn.md
Labels: Documentation

#13358 doc/ui: add instructions for enabling or disabling the UI
  doc/howto/access_ui.md
  doc/howto/snap.md
Labels: Documentation

#13364 Auth: Use correct pool name in storage volume URLs when calling the permission checker.
  lxd/storage_volumes.go
  test/suites/auth.sh
Labels: Bug

#13370 doc/storage: fix import command
  doc/explanation/storage.md
Labels: Documentation

#13376 doc: pin version of myst-parser
  doc/.sphinx/build_requirements.py
Labels: Documentation

#13377 doc: pin version of myst-parser (stable-5.21)
  doc/.sphinx/build_requirements.py
Labels: Documentation, 5.21 LTS

#13378 doc: pin version of myst-parser (stable-5.0)
  doc/.sphinx/requirements.txt
Labels: Documentation, 5.0 LTS

#13380 github: Explicitly pass the -package flag to lxd-snapcraft (stable-5.21)
  .github/workflows/tests.yml
Labels: 5.21 LTS

#13392 Have dqlite build raft
  .github/workflows/tests.yml
  Makefile
  doc/installing.md
Labels: Documentation

#13394 Remove traces of raft being a separated lib
  Makefile
  doc/installing.md
Labels: Documentation

#13397 doc: unpin version of myst-parser
  doc/.sphinx/build_requirements.py
Labels: Documentation

#13382 Add `lxd` group creation to installation process
  doc/installing.md
  doc/tutorial/first_steps.md
Labels: Documentation

#13391 Replace Ubuntu 22.04 by 24.04
  doc/howto/benchmark_performance.md
  doc/howto/cluster_groups.md
  doc/howto/cluster_manage_instance.md
  doc/howto/images_manage.md
  doc/howto/images_remote.md
  doc/howto/instances_create.md
  doc/howto/instances_routed_nic_vm.md
  doc/howto/network_ovn_setup.md
  doc/howto/projects_work.md
  doc/reference/image_format.md
  doc/rest-api.yaml
  doc/tutorial/first_steps.md
  lxc/init.go
  lxc/launch.go
  lxc/main.go
  lxd-benchmark/main.go
  po/lxd.pot
  shared/api/image.go
  shared/api/instance.go
  shared/api/server.go
Labels: Documentation, API

#13403 doc/ovn: update OVN networking diagrams to work on dark background
  doc/images/ovn_networking_1.svg
  doc/images/ovn_networking_2.svg
Labels: Documentation

#13404 Add page describing lxc show and info
  doc/explanation/index.md
  doc/explanation/lxc_show_info.md
Labels: Documentation

#13405 doc: fix topical build
  doc/operation.md
Labels: Documentation
