Repository canonical/lxd, pull requests merged in 2024-08, with the labels that each got.

#13878 Image export over devlxd for virtual machines
  doc/metadata.txt
  lxd-agent/devlxd.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Feature, Documentation

#13882 Adds an API extension for image export over devlxd in VMs
  doc/api-extensions.md
  shared/version/api.go
Labels: Documentation, API

#13851 doc: Update architectures documentation (from Incus)
  doc/architectures.md
Labels: Documentation

#13876 doc/tutorial: add a UI tutorial
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/custom_conf.py
  doc/howto/access_ui.md
  doc/images/tutorial/add_disk_device.png
  doc/images/tutorial/broken_terminal.png
  doc/images/tutorial/create_desktop_vm.png
  doc/images/tutorial/create_instance.png
  doc/images/tutorial/create_project.png
  doc/images/tutorial/create_vm.png
  doc/images/tutorial/desktop_console.png
  doc/images/tutorial/hello_world_desktop.png
  doc/images/tutorial/instance_summary.png
  doc/images/tutorial/instances.png
  doc/images/tutorial/resource_limits.png
  doc/images/tutorial/root_disk_size.png
  doc/images/tutorial/yaml_configuration.png
  doc/images/ui_set_up_certificates.png
  doc/images/ui_set_up_existing_cert.png
  doc/index.md
  doc/substitutions.yaml
  doc/tutorial/first_steps.md
  doc/tutorial/index.md
  doc/tutorial/ui.md
Labels: Documentation

#13888 doc: unpin Swagger version
  doc/custom_conf.py
Labels: Documentation

#13898 doc: add information about creating a Windows VM
  doc/custom_conf.py
  doc/howto/images_create.md
  doc/howto/instances_create.md
Labels: Documentation

#13901 doc/tutorial: improve the UI tutorial
  doc/custom_conf.py
  doc/howto/access_ui.md
  doc/tutorial/first_steps.md
  doc/tutorial/ui.md
Labels: Documentation

#13908 General doc cleanup
  doc/.readthedocs.yaml
  doc/.sphinx/_static/custom.css
  doc/.sphinx/fonts/Ubuntu-B.ttf
  doc/.sphinx/fonts/Ubuntu-R.ttf
  doc/.sphinx/fonts/Ubuntu-RI.ttf
  doc/.sphinx/fonts/UbuntuMono-B.ttf
  doc/.sphinx/fonts/UbuntuMono-R.ttf
  doc/.sphinx/fonts/UbuntuMono-RI.ttf
  doc/.sphinx/fonts/ubuntu-font-licence-1.0.txt
  doc/.sphinx/get_vale_conf.py
  doc/.sphinx/images/Canonical-logo-4x.png
  doc/.sphinx/images/front-page-light.pdf
  doc/.sphinx/images/front-page.png
  doc/.sphinx/images/normal-page-footer.pdf
  doc/.sphinx/latex_elements_template.txt
  doc/.wordlist.txt
  doc/Makefile
  doc/Makefile.sp
  doc/conf.py
  doc/custom_conf.py
  doc/index.md
Labels: Documentation

#13935 doc/images: specify the order of split images
  doc/howto/images_copy.md
Labels: Documentation

#13905 lxd: Add virtio-blk support for virtual machines (from Incus)
  doc/api-extensions.md
  doc/metadata.txt
  lxd/device/disk.go
  lxd/instance/drivers/driver_qemu.go
  lxd/metadata/configuration.json
  shared/version/api.go
Labels: Documentation, API

#13951 Backports (stable-5.21)
  doc/api-extensions.md
  doc/howto/instances_manage.md
  doc/metadata.txt
  lxd/device/disk.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instancetype/instance.go
  lxd/instances.go
  lxd/metadata/configuration.json
  scripts/bash/lxd-client
  shared/version/api.go
  test/suites/security.sh
Labels: Documentation, API, 5.21 LTS

#13950 doc/tutorial: integrate feedback for UI tutorial
  doc/tutorial/ui.md
Labels: Documentation

#13956 doc/instances: add anchor to allow linking to section
  doc/howto/instances_manage.md
Labels: Documentation

#13900 Network: Switch to long-lived OVN ports
  doc/metadata.txt
  lxd/device/nic_ovn.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
  lxd/network/driver_ovn.go
  lxd/patches.go
Labels: Documentation

#13886 Effective project handling
  doc/explanation/projects.md
  lxd/auth/drivers/openfga.go
  lxd/auth/drivers/tls.go
  lxd/auth/types.go
  lxd/events.go
  lxd/images.go
  lxd/network_acls.go
  lxd/network_allocations.go
  lxd/network_forwards.go
  lxd/network_load_balancers.go
  lxd/network_peer.go
  lxd/network_zones.go
  lxd/network_zones_records.go
  lxd/networks.go
  lxd/profiles.go
  lxd/project/project.go
  lxd/storage_volumes.go
  test/includes/storage.sh
  test/suites/auth.sh
  test/suites/storage_buckets.sh
  test/suites/tls_restrictions.sh
Labels: Documentation

#13987 Add methods to instantiate a `StatusError` without formatting
  lxc/remote.go
  lxd/auth/drivers/openfga.go
  lxd/auth/drivers/tls.go
  lxd/devlxd.go
  lxd/instance/drivers/qmp/commands.go
  lxd/instance_sftp.go
  lxd/project/permissions.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/error.go
Labels: API

#13990 doc/reference: Add warning about volatile keys
  doc/reference/instance_options.md
Labels: Documentation

#13989 Add guest OS compatibility matrix
  doc/.custom_wordlist.txt
  doc/guest-os-compatibility.md
  doc/reference/index.md
Labels: Documentation

#13562 gpu: Support GPU passthrough to LXD containers using Container Device Interface (CDI)
  doc/.custom_wordlist.txt
  doc/howto/container_gpu_passthrough_with_docker.md
  doc/instances.md
  doc/metadata.txt
  doc/reference/devices_gpu.md
  go.mod
  go.sum
  lxd/device/cdi/configure.go
  lxd/device/cdi/hooks.go
  lxd/device/cdi/id.go
  lxd/device/cdi/id_test.go
  lxd/device/cdi/log.go
  lxd/device/cdi/spec.go
  lxd/device/gpu.go
  lxd/device/gpu_physical.go
  lxd/instance/drivers/driver_common.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/main_callhook.go
  lxd/metadata/configuration.json
Labels: Documentation

#13996 shared: Fix conversion source disk size JSON and YAML key name
  doc/rest-api.yaml
  shared/api/instance.go
Labels: Documentation, API

#14000 lxd/device/cdi: Disable NVIDIA CDI for `armhf` platforms
  doc/reference/devices_gpu.md
  lxd/device/cdi/spec.go
  lxd/device/cdi/spec_unsupported.go
Labels: Documentation

#13993 Bump Go min to 1.21 (stable-5.0)
  .github/workflows/tests.yml
  Makefile
  doc/.readthedocs.yaml
  doc/requirements.md
  go.mod
  go.sum
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/godeps/lxd-agent.list
Labels: Documentation, 5.0 LTS

#14005 doc/guest-os-compatibility: add SUSE 12 and 15
  doc/.custom_wordlist.txt
  doc/guest-os-compatibility.md
Labels: Documentation

#14012 Makefile: pin gorilla/websocket version (stable-5.0)
  Makefile
Labels: 5.0 LTS

#14014 Add Ubuntu to guest OS compat
  doc/.custom_wordlist.txt
  doc/guest-os-compatibility.md
Labels: Documentation

#14016 lxd/storage: Create a volume snapshot with a `Description`
  doc/rest-api.yaml
  lxc/storage_volume.go
  lxd/storage/backend_lxd.go
  lxd/storage/backend_mock.go
  lxd/storage/pool_interface.go
  lxd/storage_volumes_snapshot.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/storage_pool_volume_snapshot.go
  test/suites/storage_snapshots.sh
Labels: Documentation, API

#14023 Improve on doc on how to manually setup the LXD agent
  doc/howto/instances_create.md
Labels: Documentation
