Repository canonical/lxd, pull requests merged in 2024-10, with the labels that each got.

#14187 Backports (stable-5.0)
  Makefile
  doc/requirements.md
  doc/rest-api.yaml
  go.mod
  go.sum
  lxc/config/default.go
  lxc/export.go
  lxd/daemon.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/driver_qemu_cmd.go
  lxd/instance_exec.go
  lxd/main_init_interactive.go
  lxd/storage/drivers/utils.go
  lxd/sys/os.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/image.go
  shared/api/instance.go
  test/godeps/lxd-agent.list
  test/lint/godeps.sh
  test/main.sh
  test/suites/exec.sh
  test/suites/projects.sh
  test/suites/remote.sh
Labels: Documentation, API, 5.0 LTS

#14190 doc: silence warning caused by sphinx-tabs
  doc/custom_conf.py
Labels: Documentation

#14203 lxc/completions: Improvements to completions for `lxc action`, `lxc delete` and `lxc exec`
  lxc/action.go
  lxc/completion.go
  lxc/delete.go
  lxc/exec.go
  shared/api/status_code.go
Labels: API

#14202 Replace old links (stable-5.0)
  doc/.sphinx/_templates/footer.html
  doc/cloud-init.md
  doc/external_resources.md
  doc/howto/images_create.md
  doc/howto/images_remote.md
  doc/installing.md
  doc/reference/remote_image_servers.md
  po/de.po
  po/fr.po
  po/ja.po
Labels: Documentation, 5.0 LTS

#14201 doc/installing: update link to how to manage the LXD snap
  doc/installing.md
Labels: Documentation

#14208 doc: silence all warnings related to Sphinx 9.0 deprecations
  doc/custom_conf.py
Labels: Documentation

#14213 PKI test improvements
  test/suites/pki.sh
Labels: Bug

#14239 Backports (stable-5.21)
  Makefile
  test/suites/basic.sh
Labels: 5.21 LTS

#14238 Remove workaround for sphinx-tabs warnings
  doc/custom_conf.py
Labels: Documentation

#14191 Auth: Implement identity deletion
  client/interfaces.go
  client/lxd_auth.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/auth.go
  lxd/api_1.0.go
  lxd/auth/drivers/openfga.go
  lxd/identities.go
  lxd/lifecycle/identity.go
  lxd/response/swagger.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/event_lifecycle.go
  shared/version/api.go
  test/suites/auth.sh
Labels: Documentation, API

#14248 test/suites: Improve grep usage in PKI tests. (stable-5.21)
  test/suites/pki.sh
Labels: 5.21 LTS

#14283 Backports (stable-5.21)
  lxc/remote.go
  lxd/certificates.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  test/suites/clustering.sh
  test/suites/pki.sh
  test/suites/remote.sh
Labels: 5.21 LTS

#14210 OVN external addresses on `lxc network list-allocations`
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/network_allocations.go
  lxd/network/driver_bridge.go
  lxd/network/driver_ovn.go
  lxd/network_allocations.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/network.go
  shared/api/network_addresses.go
  shared/version/api.go
  test/suites/network.sh
Labels: Documentation, API

#14289 doc: fix minor typos
  doc/howto/projects_create.md
  doc/howto/server_expose.md
Labels: Documentation

#14296 api: Add network_ovn_uplink_vlan API extension
  doc/api-extensions.md
  shared/version/api.go
Labels: Documentation, API

#14298 Backports (stable-5.0)
  Makefile
  lxd/network/driver_bridge.go
  lxd/network/driver_ovn.go
  test/deps/import-busybox
Labels: 5.0 LTS

#14300 Backports (stable-5.0)
  lxc/remote.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: 5.0 LTS

#14295 doc: embed discourse post title as link text
  doc/explanation/authorization.md
  doc/howto/snap.md
  doc/installing.md
  doc/reference/remote_image_servers.md
  doc/reference/uefi_variables.md
Labels: Documentation

#14294 Notifier update; MemberState update
  doc/rest-api.yaml
  lxd/api_1.0.go
  lxd/api_cluster.go
  lxd/auth_groups.go
  lxd/certificates.go
  lxd/cluster/member_state.go
  lxd/cluster/member_state_test.go
  lxd/cluster/notify.go
  lxd/cluster/notify_test.go
  lxd/cluster/upgrade.go
  lxd/daemon.go
  lxd/db/node.go
  lxd/identities.go
  lxd/identity_provider_groups.go
  lxd/images.go
  lxd/network/acl/driver_common.go
  lxd/network/driver_bridge.go
  lxd/network/driver_common.go
  lxd/network/driver_ovn.go
  lxd/network/zone/zone.go
  lxd/networks.go
  lxd/profiles.go
  lxd/scriptlet/instance_placement.go
  lxd/state/testing.go
  lxd/storage_pools.go
  shared/api/cluster_state.go
Labels: Documentation, API

#14306 doc/howto: Fix argument order when adding permissions to a group.
  doc/howto/projects_confine.md
Labels: Bug, Documentation

#14312 Backports (stable-5.21)
  .github/workflows/tests.yml
  doc/explanation/authorization.md
  doc/howto/snap.md
  doc/installing.md
  doc/reference/remote_image_servers.md
  doc/reference/uefi_variables.md
  go.mod
  go.sum
  lxc/profile.go
  lxd/network/driver_bridge.go
  lxd/network/network_utils.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: Documentation, 5.21 LTS

#14313 Backports (stable-5.0)
  go.mod
  go.sum
  lxc/profile.go
  lxd/network/driver_bridge.go
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: 5.0 LTS

#14314 api: Add `state_logical_cpus` extension
  doc/api-extensions.md
  shared/version/api.go
Labels: Documentation, API

#14317 doc: embed discourse titles as link text (stable-5.0)
  doc/installing.md
  doc/reference/remote_image_servers.md
Labels: Documentation, 5.0 LTS

#14171 Add `limits.cpu.pin_strategy` setting to disable VM CPU auto pinning by default
  doc/api-extensions.md
  doc/metadata.txt
  doc/reference/instance_options.md
  lxd/cgroup/cgroup_cpu.go
  lxd/devices.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instance_utils.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
  shared/validate/validate.go
  shared/version/api.go
  test/suites/config.sh
Labels: Documentation, API

#14333 lxd: Switch to use go-dqlite v2 and dqlite lts-1.17.x (stable-5.21)
  .github/workflows/tests.yml
  Makefile
  go.mod
  go.sum
  lxd/cluster/gateway.go
  lxd/cluster/gateway_test.go
  lxd/cluster/heartbeat_test.go
  lxd/cluster/membership.go
  lxd/cluster/membership_test.go
  lxd/cluster/raft_test.go
  lxd/cluster/recover.go
  lxd/cluster/upgrade.go
  lxd/cluster/upgrade_test.go
  lxd/daemon.go
  lxd/db/cluster/open.go
  lxd/db/db.go
  lxd/db/migration_test.go
  lxd/db/query/retry.go
  lxd/db/raft.go
  lxd/db/raft_test.go
  lxd/db/storage_buckets.go
  lxd/db/testing.go
  lxd/main.go
  lxd/main_cluster.go
  lxd/node/raft.go
  lxd/node/raft_test.go
  lxd/response/smart_linux.go
Labels: 5.21 LTS

#14335 lxd: Use explicit cluster addr when core addr is wildcard (stable-5.21)
  lxd/api_cluster.go
Labels: 5.21 LTS
