Repository canonical/lxd, pull requests merged in 2024-06, with the labels that each got.

#13520 doc: effectively joining the lxd group requires to log out/in
  doc/installing.md
  doc/substitutions.yaml
  doc/tutorial/first_steps.md
Labels: Documentation

#13471 Update metrics.md Changed /common/tls to /current/tls for metrics.crt, metrics.key & server.crt location
  doc/metrics.md
Labels: Documentation

#13537 Doc: update the build framework
  .github/workflows/tests.yml
  Makefile
  doc/.custom_wordlist.txt
  doc/.gitignore
  doc/.readthedocs.yaml
  doc/.sphinx/.markdownlint/doc-lint.sh
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/.sphinx/_static/custom.css
  doc/.sphinx/_static/footer.css
  doc/.sphinx/_static/footer.js
  doc/.sphinx/_static/furo_colors.css
  doc/.sphinx/_templates/footer.html
  doc/.sphinx/build_requirements.py
  doc/.sphinx/get_vale_conf.py
  doc/.sphinx/spellingcheck.yaml
  doc/.wokeignore
  doc/.wordlist.txt
  doc/Makefile
  doc/Makefile.sp
  doc/README.md
  doc/conf.py
  doc/custom_conf.py
  doc/doc-cheat-sheet-myst.md
  doc/doc-cheat-sheet.md
Labels: Documentation

#13541 Update grafana.md with additional details on setting loki.instance key value.
  doc/howto/grafana.md
Labels: Documentation

#13545 doc: update the documentation for the doc framework
  doc/README.md
  doc/contributing.md
  doc/custom_conf.py
Labels: Documentation

#13547 Doc: some more cleanup
  .github/workflows/tests.yml
  doc/.custom_wordlist.txt
  doc/Makefile.sp
  doc/explanation/authorization.md
  doc/explanation/clustering.md
  doc/howto/cluster_form.md
  doc/reference/storage_ceph.md
Labels: Documentation

#13552 doc/Makefile.sp: replace subshell by command group
  doc/Makefile.sp
Labels: Documentation

#13558 doc/images: replace distrobuilder with LXD image builder
  doc/howto/images_copy.md
  doc/howto/images_create.md
Labels: Documentation

#13557 doc/server: add UI instructions for configuring server settings
  doc/howto/lxc_alias.md
  doc/howto/server_configure.md
  doc/howto/server_expose.md
  doc/remotes.md
Labels: Documentation

#13561 doc: add notes to files from the starter pack that should not be edited
  doc/.wordlist.txt
  doc/Makefile.sp
Labels: Documentation

#13568 Remove the `cloud-init` way of installing the LXD agent
  doc/cloud-init.md
  doc/howto/instances_create.md
Labels: Documentation

#13575 lxc: Parse location header into URL
  lxc/network_forward.go
  lxc/network_load_balancer.go
Labels: Bug

#13584 doc/howto/images_remote: add token to the list of accepted params for…
  doc/howto/images_remote.md
Labels: Documentation

#13587 Backports (stable-5.21)
  .github/workflows/tests.yml
  doc/cloud-init.md
  doc/howto/images_remote.md
  doc/howto/instances_create.md
  go.mod
  go.sum
  lxc/network_forward.go
  lxc/network_load_balancer.go
  lxd/apparmor/instance_lxc.go
  lxd/device/device_utils_disk.go
  lxd/device/tpm.go
  lxd/instance/drivers/driver_qemu.go
  lxd/util/sys.go
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/godeps/lxd-agent.list
  test/lint/test-tests.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/config.sh
  test/suites/container_devices_disk.sh
  test/suites/container_devices_tpm.sh
  test/suites/container_devices_unix.sh
  test/suites/database.sh
  test/suites/fuidshift.sh
  test/suites/image.sh
  test/suites/image_profiles.sh
  test/suites/init_dump.sh
  test/suites/remote.sh
  test/suites/serverconfig.sh
Labels: Documentation, 5.21 LTS

#13589 Server: Add support for explicitly specifying a trust token - From Incus
  .github/workflows/tests.yml
  client/lxd.go
  client/lxd_cluster.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/remote.go
  lxd/api_cluster.go
  lxd/certificates.go
  lxd/cluster/connect.go
  lxd/main_init_interactive.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/certificate.go
  shared/api/cluster.go
  shared/api/init.go
  shared/version/api.go
  test/includes/clustering.sh
  test/suites/clustering.sh
  test/suites/remote.sh
Labels: Documentation, API

#13594 doc: Use more direct HTTP links where possible
  README.md
  doc/authentication.md
  doc/debugging.md
  doc/howto/instances_troubleshoot.md
  doc/howto/move_instances.md
  doc/howto/network_bridge_firewalld.md
  doc/index.md
  doc/reference/storage_powerflex.md
  doc/tutorial/first_steps.md
Labels: Documentation

#13605 Fix limits.memroy unit in docs
  doc/config_options.txt
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Documentation

#13629 Workaround microceph rgw default enable (stable-5.0)
  .github/workflows/tests.yml
Labels: 5.0 LTS

#13591 doc: Update build tools used on readthedocs
  doc/.readthedocs.yaml
Labels: Documentation

#13637 Update Go modules
  .github/workflows/tests.yml
  Makefile
  doc/requirements.md
  go.mod
  go.sum
Labels: Documentation

#13640 doc/projects: Add API instructions
  doc/howto/projects_confine.md
  doc/howto/projects_create.md
  doc/howto/projects_work.md
  doc/howto/server_expose.md
  doc/profiles.md
Labels: Documentation

#13653 test: Flush routes on lo interface left over from liblxc ipvlan bug
  test/suites/container_devices_nic_bridged_filtering.sh
  test/suites/container_devices_nic_ipvlan.sh
Labels: 4.0 LTS

#13655 Add support for LXD_IDMAPPED_MOUNTS_DISABLE env var to allow running shift protection tests
  lxd/instance/drivers/driver_lxc.go
  test/suites/security.sh
Labels: 4.0 LTS

#13657 test: Order client dependencies alphabetically.
  test/godeps.list
Labels: 4.0 LTS

#13658 *: Runs `gofmt -w -s ./`.
  client/lxd_events.go
  lxd-agent/devlxd.go
  lxd/api.go
  lxd/cluster/migrate.go
  lxd/events/devlxdEvents.go
  lxd/events/events.go
  lxd/instance_delete.go
  lxd/instance_get.go
  lxd/storage_volumes.go
Labels: 4.0 LTS

#13663 Snap builds (stable-4.0)
  .github/workflows/test.yml
Labels: 4.0 LTS

#13664 Backports (stable-5.21)
  lxd/apparmor/instance_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/storage/drivers/driver_powerflex_utils.go
  lxd/storage/drivers/driver_zfs_volumes.go
Labels: 5.21 LTS

#13668 Add minimal remotes (stable-4.0)
  lxc/config/default.go
  lxd-benchmark/main.go
Labels: 4.0 LTS

#13670 Disable VM CPU auto pinning (stable-5.21)
  lxd/devices.go
  lxd/instance/drivers/driver_qemu.go
Labels: 5.21 LTS

#13669 doc: small fixes
  Makefile
  doc/Makefile
  doc/cloud-init.md
  doc/custom_conf.py
  doc/faq.md
  doc/howto/benchmark_performance.md
  doc/howto/images_manage.md
  doc/howto/instances_create.md
  doc/howto/instances_routed_nic_vm.md
  doc/installing.md
  doc/tutorial/first_steps.md
Labels: Documentation

#13676 Backports (stable-5.21)
  Makefile
  doc/Makefile
  doc/cloud-init.md
  doc/custom_conf.py
  doc/howto/benchmark_performance.md
  doc/howto/images_manage.md
  doc/howto/instances_create.md
  doc/howto/instances_routed_nic_vm.md
  doc/installing.md
  doc/tutorial/first_steps.md
  lxd-agent/events.go
  lxd-agent/main.go
  lxd-agent/main_agent.go
  lxd-agent/server.go
  lxd/apparmor/instance_qemu.go
  lxd/auth/drivers/tls.go
  lxd/auth/generate/main.go
  lxd/cluster/membership.go
  lxd/daemon.go
  lxd/firewall/drivers/drivers_xtables.go
  lxd/identities.go
  lxd/project/permissions.go
Labels: Documentation, 5.21 LTS
