Repository canonical/lxd, pull requests merged in 2024-03, with the labels that each got.

#13006 DB: Fix query for storage volume snaphot.
  lxd/db/cluster/entities.go
Labels: Bug

#13034 Auth: Fix entitlement for group list request.
  lxd/auth_groups.go
Labels: Bug

#13043 Auth: Fix query when setting the IdP group mapping
  lxc/auth.go
  lxd/db/cluster/identities.go
  lxd/db/cluster/identity_provider_groups.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
Labels: Bug

#13013 lxd-metadata: Annotate codebase for `pci` device config keys
  doc/config_options.txt
  doc/reference/devices_pci.md
  lxd/device/pci.go
  lxd/metadata/configuration.json
Labels: Documentation

#13042 Set minimum Go version to 1.22.0 to accomodate OpenFGA.
  .github/workflows/tests.yml
  Makefile
  doc/requirements.md
  go.mod
  test/lint/licenses.sh
  test/mini-oidc/go.mod
Labels: Documentation

#13008 lxd-metadata: Annotate codebase for `gpu` device config keys
  doc/config_options.txt
  doc/reference/devices_gpu.md
  lxd/device/gpu.go
  lxd/lxd-metadata/lxd_metadata.go
  lxd/metadata/configuration.json
Labels: Documentation

#13058 lxd/db/cluster: Actually swap argument order in SQL statement.
  lxd/db/cluster/identity_provider_groups.go
Labels: Bug

#13005 lxd-metadata: Annotate codebase for `disk` device config keys
  doc/config_options.txt
  doc/howto/move_instances.md
  doc/howto/storage_volumes.md
  doc/reference/devices_disk.md
  doc/reference/storage_btrfs.md
  lxd/device/config/devices.go
  lxd/device/disk.go
  lxd/metadata/configuration.json
Labels: Documentation

#12984 lxd-metadata: Annotate codebase for `nic` device config keys
  doc/config_options.txt
  doc/reference/devices_nic.md
  lxd/device/nic.go
  lxd/device/nic_routed.go
  lxd/metadata/configuration.json
Labels: Documentation

#13045 Auth: Add `GET /1.0/auth/identities/current`.
  client/interfaces.go
  client/lxd_auth.go
  doc/rest-api.yaml
  lxc/auth.go
  lxd/auth_groups.go
  lxd/db/cluster/auth_groups.go
  lxd/db/cluster/identities.go
  lxd/db/cluster/identity_provider_groups.go
  lxd/db/cluster/permissions.go
  lxd/identities.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/auth.go
  test/suites/auth.sh
Labels: Feature, Documentation, API

#13010 lxd-metadata: Annotate codebase for `infiniband` device config keys
  doc/config_options.txt
  doc/reference/devices_infiniband.md
  lxd/device/infiniband_physical.go
  lxd/metadata/configuration.json
Labels: Documentation

#12743 Storage: Add optimized volume refresh for Ceph RBD
  doc/reference/storage_drivers.md
  lxd/instance/drivers/driver_lxc.go
  lxd/migration/migrate.pb.go
  lxd/migration/migrate.proto
  lxd/migration/migration_volumes.go
  lxd/storage/drivers/driver_ceph.go
  lxd/storage/drivers/driver_ceph_utils.go
  lxd/storage/drivers/driver_ceph_utils_test.go
  lxd/storage/drivers/driver_ceph_volumes.go
  lxd/storage/drivers/generic_vfs.go
Labels: Documentation

#13012 lxd-metadata: Annotate codebase for `tpm` device config keys
  doc/config_options.txt
  doc/reference/devices_tpm.md
  lxd/device/tpm.go
  lxd/metadata/configuration.json
Labels: Documentation

#13032 lxd-metadata: Annotate codebase for `sriov` network config keys
  doc/config_options.txt
  doc/reference/network_sriov.md
  lxd/metadata/configuration.json
  lxd/network/driver_sriov.go
Labels: Documentation

#13011 lxd-metadata: Annotate codebase for `proxy` device config keys
  doc/config_options.txt
  doc/reference/devices_proxy.md
  lxd/device/proxy.go
  lxd/metadata/configuration.json
Labels: Documentation

#13029 lxd-metadata: Annotate codebase for `macvlan` network config keys
  doc/config_options.txt
  doc/reference/network_macvlan.md
  lxd/metadata/configuration.json
  lxd/network/driver_macvlan.go
Labels: Documentation

#13067 Auth: Identity cache improvements
  lxd/identity/cache.go
  lxd/identity/util.go
Labels: Bug

#13027 lxd-metadata: Annotate codebase for `bridge` network config keys
  doc/config_options.txt
  doc/reference/network_bridge.md
  lxd/metadata/configuration.json
  lxd/network/driver_bridge.go
Labels: Documentation

#13031 lxd-metadata: Annotate codebase for `physical` network config keys
  doc/config_options.txt
  doc/reference/network_physical.md
  lxd/metadata/configuration.json
  lxd/network/driver_physical.go
Labels: Documentation

#13033 lxd-metadata: Annotate codebase for instance properties
  doc/config_options.txt
  doc/reference/instance_properties.md
  lxd/instance/drivers/driver_lxc.go
  lxd/metadata/configuration.json
Labels: Documentation

#13028 lxd-metadata: Annotate codebase for `ovn` network config keys
  doc/config_options.txt
  doc/reference/network_ovn.md
  lxd/metadata/configuration.json
  lxd/network/driver_ovn.go
Labels: Documentation

#12976 Auth: Embedded OpenFGA authorization driver
  Makefile
  go.mod
  go.sum
  lxd/auth/authorization.go
  lxd/auth/driver_common.go
  lxd/auth/driver_openfga.go
  lxd/auth/driver_openfga_model.openfga
  lxd/daemon.go
  lxd/db/cluster/entities.go
  lxd/db/openfga.go
  test/includes/certificates.sh
  test/suites/auth.sh
Labels: Feature

#13002 VM: Add disk I/O limit support - from Incus
  doc/api-extensions.md
  lxd/device/config/device_runconfig.go
  lxd/device/disk.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/qmp/commands.go
  shared/version/api.go
Labels: Documentation, API

#13086 API: Documents all-projects parameter for storage volumes
  doc/rest-api.yaml
  lxd/storage_volumes.go
Labels: Documentation, API

#13107 Auth: Ensure projects cannot be edited or deleted by restricted clients.
  lxd/auth/driver_tls.go
  test/suites/tls_restrictions.sh
Labels: Bug

#13109 Stable 5.21 backports (stable-5.21)
  go.mod
  go.sum
  lxd/api.go
  lxd/api_1.0.go
  lxd/auth/authorization_types.go
  lxd/auth/driver_openfga.go
  lxd/auth/driver_openfga_model.openfga
  lxd/auth/driver_tls.go
  lxd/auth/util.go
  lxd/storage/drivers/driver_btrfs_volumes.go
  test/suites/auth.sh
  test/suites/tls_restrictions.sh
Labels: 5.21 LTS

#13111 github: fix branch target name/version extraction logic (stable-5.21)
  .github/workflows/commits.yml
Labels: 5.21 LTS

#13113 Github: Update Tests badge to use correct branch (stable-5.21)
  README.md
Labels: 5.21 LTS

#13116 client: Unset project when querying permissions.
  client/lxd_auth.go
Labels: Bug

#13122 Backports (stable-5.21)
  client/lxd_auth.go
  lxc/copy.go
  lxd/device/nic_ovn.go
Labels: 5.21 LTS

#13117 Update starterpack
  .gitignore
  Makefile
  doc/.readthedocs.yaml
  doc/.sphinx/_static/404.svg
  doc/.sphinx/_static/custom.css
  doc/.sphinx/_static/furo_colors.css
  doc/.sphinx/_static/github_issue_links.css
  doc/.sphinx/_templates/404.html
  doc/.sphinx/_templates/footer.html
  doc/.sphinx/_templates/sidebar/search.html
  doc/.sphinx/build_requirements.py
  doc/.sphinx/pa11y.json
  doc/.sphinx/requirements.txt
  doc/conf.py
  doc/custom_conf.py
Labels: Documentation

#13123 Doc: Fix CLI instructions for changing an image alias
  doc/howto/images_manage.md
Labels: Documentation

#13124 Backports (stable-5.21)
  .gitignore
  Makefile
  doc/.readthedocs.yaml
  doc/.sphinx/_static/404.svg
  doc/.sphinx/_static/custom.css
  doc/.sphinx/_static/furo_colors.css
  doc/.sphinx/_static/github_issue_links.css
  doc/.sphinx/_templates/404.html
  doc/.sphinx/_templates/footer.html
  doc/.sphinx/_templates/sidebar/search.html
  doc/.sphinx/build_requirements.py
  doc/.sphinx/pa11y.json
  doc/.sphinx/requirements.txt
  doc/conf.py
  doc/custom_conf.py
  doc/howto/images_manage.md
Labels: Documentation, 5.21 LTS

#13128 doc/UI: reword status of the LXD UI
  doc/howto/access_ui.md
Labels: Documentation

#13127 Backports (stable-5.21)
  doc/howto/access_ui.md
  lxd/auth/authorization.go
  lxd/auth/driver_common.go
  lxd/auth/driver_openfga.go
  lxd/auth/driver_tls.go
  lxd/db/openfga.go
  lxd/instance/drivers/driver_qemu.go
Labels: Documentation, 5.21 LTS

#13130 Release LXD 5.21.0 (stable-5.21)
  Makefile
  shared/version/flex.go
Labels: 5.21 LTS

#13138 Release LXD 5.21.0 (stable-5.21)
  shared/version/flex.go
Labels: 5.21 LTS

#13143 Backports (stable-5.0)
  doc/reference/instance_options.md
  lxd/instance/instance_utils.go
  lxd/network/acl/acl_ovn.go
  lxd/storage/drivers/driver_zfs.go
Labels: Documentation

#13144 lxc: Correctly parse remote when listing permissions.
  lxc/auth.go
Labels: Bug

#13160 doc/devices/proxy: add CLI examples for proxy device
  doc/reference/devices_proxy.md
Labels: Documentation

#13152 Doc: Add CLI examples for more device types
  doc/.sphinx/spellingcheck.yaml
  doc/reference/devices_infiniband.md
  doc/reference/devices_none.md
  doc/reference/devices_pci.md
  doc/reference/devices_tpm.md
  doc/reference/devices_usb.md
Labels: Documentation

#13163 Doc: add configuration examples for gpu devices
  doc/reference/devices_gpu.md
Labels: Documentation

#13166 Stable backports (stable-5.21)
  doc/.sphinx/spellingcheck.yaml
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/authentication.md
  doc/explanation/authorization.md
  doc/explanation/index.md
  doc/reference/devices_gpu.md
  doc/reference/devices_infiniband.md
  doc/reference/devices_nic.md
  doc/reference/devices_none.md
  doc/reference/devices_pci.md
  doc/reference/devices_proxy.md
  doc/reference/devices_tpm.md
  doc/reference/devices_unix_block.md
  doc/reference/devices_unix_char.md
  doc/reference/devices_unix_hotplug.md
  doc/reference/devices_usb.md
  doc/security.md
  lxc/auth.go
  lxc/config/remote.go
  lxc/remote.go
  lxd/api.go
  lxd/api_1.0.go
  lxd/api_project.go
  lxd/auth/authorization.go
  lxd/auth/driver_common.go
  lxd/auth/driver_openfga.go
  lxd/auth/driver_tls.go
  lxd/auth_groups.go
  lxd/certificates.go
  lxd/daemon.go
  lxd/images.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance_sftp.go
  lxd/instances_put.go
  lxd/network_acls.go
  lxd/network_zones.go
  lxd/networks.go
  lxd/operations.go
  lxd/patches.go
  lxd/profiles.go
  lxd/project/permissions_test.go
  lxd/request/const.go
  lxd/response/response.go
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/driver_btrfs_volumes.go
  lxd/storage/s3/miniod/miniod.go
  lxd/storage_buckets.go
  lxd/storage_pools.go
  scripts/bash/lxd-client
  shared/api/error.go
  test/suites/basic.sh
Labels: Documentation, API, 5.21 LTS

#13170 lxd/device/nic: fix default IP for routed NIC (`ipv4.host_address`)
  doc/config_options.txt
  lxd/device/nic.go
  lxd/metadata/configuration.json
Labels: Documentation

#13180 doc/reference: reorder pages and update the landing page
  doc/explanation/instance_config.md
  doc/internals.md
  doc/reference/index.md
  doc/restapi_landing.md
Labels: Documentation

#13182 doc/explanation: reorder pages and update the landing page
  doc/custom_conf.py
  doc/explanation/containers_and_vms.md
  doc/explanation/index.md
  doc/explanation/instances.md
  doc/getting_started.md
Labels: Documentation

#13187 Backports (stable-5.21)
  .github/dependabot.yml
  doc/config_options.txt
  doc/custom_conf.py
  doc/explanation/containers_and_vms.md
  doc/explanation/index.md
  doc/explanation/instance_config.md
  doc/explanation/instances.md
  doc/getting_started.md
  doc/internals.md
  doc/reference/index.md
  doc/restapi_landing.md
  lxc/file.go
  lxc/image.go
  lxd/api.go
  lxd/device/nic.go
  lxd/instance/drivers/driver_common.go
  lxd/metadata/configuration.json
  lxd/storage/drivers/driver_btrfs.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  scripts/bash/lxd-client
Labels: Documentation, 5.21 LTS

#13188 doc/howto: reorder pages and update the landing pages
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/clustering.md
  doc/custom_conf.py
  doc/explanation/index.md
  doc/getting_started.md
  doc/howto/import_machines_to_instances.md
  doc/howto/index.md
  doc/howto/migrate_from_lxc.md
  doc/howto/troubleshoot.md
  doc/images.md
  doc/index.md
  doc/instances.md
  doc/networks.md
  doc/operation.md
  doc/production-setup.md
  doc/projects.md
  doc/reference/index.md
  doc/storage.md
  doc/support.md
Labels: Documentation

#13196 doc: workaround for undefined references
  doc/external_resources.md
Labels: Documentation

#13185 Backports (stable-5.0)
  .github/workflows/tests.yml
  .golangci.yml
  README.md
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/installing.md
  doc/requirements.md
  doc/rest-api.yaml
  lxc/config/remote.go
  lxc/remote.go
  lxd-migrate/main.go
  lxd-migrate/main_migrate.go
  lxd-migrate/utils.go
  lxd/api.go
  lxd/api_1.0.go
  lxd/api_cluster.go
  lxd/cluster/gateway.go
  lxd/cluster/membership.go
  lxd/daemon.go
  lxd/db/cluster/update_test.go
  lxd/device/disk.go
  lxd/endpoints/network_util.go
  lxd/endpoints/network_util_test.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/driver_qemu_templates.go
  lxd/patches.go
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/driver_ceph_volumes.go
  lxd/storage/drivers/driver_lvm_volumes.go
  lxd/storage/drivers/generic_vfs.go
  lxd/storage_volumes.go
  shared/api/certificate.go
  shared/api/server.go
  shared/version/api.go
  shared/version/flex.go
  test/suites/storage_snapshots.sh
  test/suites/tls_restrictions.sh
Labels: Documentation, API

#13203 Backports (stable-5.21)
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/clustering.md
  doc/custom_conf.py
  doc/explanation/index.md
  doc/external_resources.md
  doc/getting_started.md
  doc/howto/import_machines_to_instances.md
  doc/howto/index.md
  doc/howto/migrate_from_lxc.md
  doc/howto/troubleshoot.md
  doc/images.md
  doc/index.md
  doc/instances.md
  doc/networks.md
  doc/operation.md
  doc/production-setup.md
  doc/projects.md
  doc/reference/index.md
  doc/storage.md
  doc/support.md
  lxd/api.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/driver_qemu_templates.go
  lxd/patches.go
Labels: Documentation, 5.21 LTS

#13216 doc: remove nesting for the tutorial
  doc/custom_conf.py
  doc/index.md
  doc/tutorial/index.md
Labels: Documentation

#13036 API: Add list all volumes endpoint
  client/interfaces.go
  client/lxd_storage_volumes.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/storage_volume.go
  lxd/api_1.0.go
  lxd/db/storage_volumes.go
  lxd/storage/storage.go
  lxd/storage_volumes.go
  lxd/storage_volumes_snapshot.go
  lxd/storage_volumes_utils.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/storage_pool_volume.go
  shared/version/api.go
  test/suites/auth.sh
  test/suites/storage_local_volume_handling.sh
Labels: Documentation, API

#13230 Ensure `uid`, `gid`, and `mode` are valid during parsing
  doc/rest-api.yaml
  lxd/instance_file.go
  shared/util.go
Labels: Documentation, API

#13229 Cleanup for the automatically generated config options
  doc/.sphinx/_static/custom.css
  doc/.sphinx/_templates/domainindex.html
  doc/api-extensions.md
  doc/config_options.txt
  doc/dev-lxd.md
  doc/explanation/clustering.md
  doc/explanation/security.md
  doc/howto/cluster_config_networks.md
  doc/howto/cluster_manage.md
  doc/howto/instances_create.md
  doc/howto/instances_troubleshoot.md
  doc/howto/network_bridge_resolved.md
  doc/howto/network_zones.md
  doc/howto/projects_work.md
  doc/reference/devices_disk.md
  doc/reference/devices_nic.md
  doc/reference/instance_options.md
  doc/reference/server_settings.md
  doc/reference/storage_drivers.md
  doc/syscall-interception.md
  doc/userns-idmap.md
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Documentation, API

#13235 Update Go version for tests (stable-5.0)
  .github/workflows/tests.yml
Labels: 5.0 LTS

#13214 Metrics: Differentiate between restricted and unrestricted certificates
  lxd/api_metrics.go
  lxd/auth/authorization_types.go
  lxd/auth/driver_openfga_model.openfga
  lxd/auth/driver_tls.go
  lxd/auth/util.go
  lxd/daemon.go
  lxd/db/cluster/certificates.go
  lxd/db/cluster/identities.go
  lxd/db/cluster/update.go
  lxd/db/cluster/update_test.go
  lxd/identity/util.go
  lxd/metrics/metrics.go
  lxd/metrics/metrics_test.go
  shared/api/auth.go
  test/suites/auth.sh
  test/suites/metrics.sh
Labels: API
