Repository canonical/lxd, pull requests merged in 2024-02, with the labels that each got.

#12812 Document that the `certificate` field is base64 on `POST /1.0/certificates`
  doc/rest-api.yaml
  shared/api/certificate.go
Labels: Documentation, API

#12819 doc: update minimum and recommended requirements
  doc/.wordlist.txt
  doc/requirements.md
Labels: Documentation

#12833 doc: additional options recommended for running Docker
  doc/.wordlist.txt
  doc/faq.md
  doc/syscall-interception.md
Labels: Documentation

#12837 Doc: update versioning scheme and snap channels
  doc/howto/snap.md
  doc/installing.md
  doc/support.md
Labels: Documentation

#12848 Auth: TLS driver should return a false permission checker when client is restricted.
  lxd/auth/driver_tls.go
  test/suites/tls_restrictions.sh
Labels: Bug

#12851 doc: no need to sudo for snap info
  doc/support.md
Labels: Documentation

#12860 Auth: Candid RBAC removal follow up.
  client/lxd.go
  client/simplestreams.go
  doc/api-extensions.md
  go.mod
  go.sum
  lxc/config/config.go
  lxc/main.go
  lxc/remote.go
  lxd/daemon.go
  shared/api/server.go
  shared/version/api.go
  test/godeps.list
Labels: Documentation, API

#12827 Auth: Add OIDC identities to identity cache and extract identity provider groups
  client/lxd_oidc.go
  doc/api-extensions.md
  doc/config_options.txt
  lxd/api_1.0.go
  lxd/auth/oidc/oidc.go
  lxd/certificates.go
  lxd/cluster/config/config.go
  lxd/cluster/connect.go
  lxd/daemon.go
  lxd/db/cluster/identities.go
  lxd/metadata/configuration.json
  lxd/operations.go
  lxd/request/const.go
  shared/api/auth.go
  shared/version/api.go
  test/suites/oidc.sh
Labels: Documentation, API

#12876 Add support for `loki.instance` from Incus
  doc/api-extensions.md
  doc/config_options.txt
  grafana/LXD.json
  lxd/api_1.0.go
  lxd/cluster/config/config.go
  lxd/daemon.go
  lxd/loki/loki.go
  lxd/metadata/configuration.json
  shared/version/api.go
Labels: Documentation, API

#12880 Doc: Add some device examples
  doc/reference/devices_disk.md
  doc/reference/devices_nic.md
Labels: Documentation

#12896 Instance: Temporarily host the instance type preset files on Github
  doc/external_resources.md
  doc/reference/index.md
  lxd/instance_instance_types.go
  meta/instance-types/.yaml
  meta/instance-types/aws.yaml
  meta/instance-types/azure.yaml
  meta/instance-types/gce.yaml
Labels: Documentation

#12840 Storage: Set `volatile.uuid` for all volumes and snapshots
  doc/api-extensions.md
  doc/config_options.txt
  lxd/metadata/configuration.json
  lxd/patches.go
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/generic_vfs.go
  lxd/storage/drivers/volume.go
  lxd/storage/utils.go
  shared/version/api.go
  test/suites/backup.sh
  test/suites/migration.sh
  test/suites/snapshots.sh
  test/suites/storage.sh
  test/suites/storage_buckets.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
  test/suites/storage_volume_import.sh
  test/suites/storage_volume_initial_config.sh
Labels: Documentation, API

#12901 doc/profiles: link to instance configuration
  doc/.wordlist.txt
  doc/profiles.md
Labels: Documentation

#12879 Replace `madmin` SDK with `mc` CLI shim
  .github/workflows/tests.yml
  doc/.wordlist.txt
  doc/howto/storage_buckets.md
  go.mod
  go.sum
  lxd/storage/backend_lxd.go
  lxd/storage/s3/miniod/admin.go
  lxd/storage/s3/miniod/miniod.go
  lxd/storage/s3/policy.go
Labels: Documentation

#12144 Add device parameter for importing instance command
  client/interfaces.go
  client/lxd_instances.go
  doc/api-extensions.md
  lxc/import.go
  lxd/api_internal.go
  lxd/backup/backup_config_utils.go
  lxd/instances_post.go
  shared/version/api.go
Labels: Documentation, API

#12870 VM instance's UEFI variables manipulation support
  client/interfaces.go
  client/lxd_instances.go
  doc/api-extensions.md
  doc/internals.md
  doc/reference/uefi_variables.md
  doc/rest-api.yaml
  lxc/config.go
  lxd/api_1.0.go
  lxd/apparmor/pyuefivars.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/drivers/uefi/uefi.go
  lxd/instance/instance_interface.go
  lxd/instance_uefi_vars.go
  lxd/instances.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/instance.go
  shared/version/api.go
Labels: Documentation, API

#12922 doc/requirements: ZFS 2.1 or higher is required
  doc/requirements.md
Labels: Documentation

#12924 doc/getting started: update how to access the UI
  doc/howto/access_ui.md
Labels: Documentation

#12925 Auth: Ensure the default config expiry interval is set.
  lxd/auth/oidc/oidc.go
Labels: Bug

#12923 Storage: Clone PowerFlex volume copies by default
  doc/config_options.txt
  lxd/metadata/configuration.json
  lxd/storage/drivers/driver_powerflex.go
  lxd/storage/drivers/driver_powerflex_utils.go
  lxd/storage/drivers/driver_powerflex_volumes.go
Labels: Documentation

#12831 Doc: Add API instructions to instances how-tos
  doc/.sphinx/spellingcheck.yaml
  doc/cloud-init.md
  doc/howto/instances_access_files.md
  doc/howto/instances_backup.md
  doc/howto/instances_configure.md
  doc/howto/instances_console.md
  doc/howto/instances_create.md
  doc/howto/instances_manage.md
  doc/howto/instances_routed_nic_vm.md
  doc/howto/instances_troubleshoot.md
  doc/howto/storage_backup_volume.md
  doc/instance-exec.md
  doc/profiles.md
  doc/reference/devices_nic.md
Labels: Documentation

#12930 Doc: small fixed to Powerflex documentation
  doc/.wordlist.txt
  doc/config_options.txt
  doc/reference/storage_powerflex.md
  lxd/metadata/configuration.json
  lxd/storage/drivers/driver_powerflex.go
  lxd/storage/drivers/driver_powerflex_volumes.go
  lxd/storage/utils.go
Labels: Documentation

#12913 Howto loki
  doc/.wordlist.txt
  doc/howto/grafana.md
  doc/howto/logs_loki.md
  doc/images/grafana_configure_loki.png
  doc/images/grafana_configure_prometheus.png
  doc/images/grafana_dashboard_import.png
  doc/images/grafana_dashboard_select_datasource.png
  doc/images/grafana_instances.png
  doc/images/grafana_resources.png
  doc/images/grafana_select_loki.png
  doc/images/grafana_select_prometheus.png
  doc/images/grafana_welcome.png
  doc/metrics.md
  doc/production-setup.md
Labels: Documentation

#12936 doc/images: minify .png
  doc/images/UI/limits_memory_example.png
  doc/images/grafana_add_datasource.png
  doc/images/grafana_configure_datasource.png
  doc/images/grafana_configure_loki.png
  doc/images/grafana_configure_prometheus.png
  doc/images/grafana_dashboard_id.png
  doc/images/grafana_dashboard_import.png
  doc/images/grafana_dashboard_select_datasource.png
  doc/images/grafana_instances.png
  doc/images/grafana_resources.png
  doc/images/grafana_select_loki.png
  doc/images/grafana_select_prometheus.png
  doc/images/grafana_welcome.png
  doc/images/ui_console.png
  doc/images/ui_security_warning.png
  doc/images/ui_set_up_certificates.png
Labels: Documentation

#12937 Doc: Mention that SVG/PNG are preferred in CONTRIBUTING
  .github/workflows/tests.yml
  doc/.wordlist.txt
  doc/contributing.md
  test/main.sh
Labels: Documentation

#12944 doc/images: quote command containing asterisk
  doc/howto/images_manage.md
Labels: Documentation

#12964 doc: remove old reference to liblxc 4.0.0 being supported
  doc/installing.md
  doc/requirements.md
Labels: Documentation

#12956 Prepare for lxd-benchmark to not be shipped in the snap
  .github/workflows/tests.yml
  doc/howto/benchmark_performance.md
Labels: Documentation

#12947 Drop offending legacy config names for syscall filtering
  doc/api-extensions.md
  lxd/instance/instance_utils.go
  lxd/instance/instancetype/instance.go
  lxd/seccomp/seccomp.go
  shared/version/api.go
Labels: Documentation, API

#12970 Auth: Correctly return authentication error.
  lxd/daemon.go
Labels: Bug

#12973 doc/api: pin Swagger version
  doc/custom_conf.py
Labels: Documentation

#12972 doc/instances: clarify how to override device options during creation
  doc/howto/instances_backup.md
  doc/howto/instances_create.md
Labels: Documentation

#12966 Auth: Notify cluster members of new or updated OIDC identities
  lxc/storage_volume.go
  lxd/api_internal.go
  lxd/certificates.go
  lxd/daemon.go
  lxd/lifecycle/identity.go
  shared/api/event_lifecycle.go
Labels: Bug, API

#12987 API: Change `authorization_apis` extension name to `access_management`.
  client/lxd_auth.go
  doc/.wordlist.txt
  doc/api-extensions.md
  shared/api/auth.go
  shared/version/api.go
Labels: Documentation, API

#12990 doc/howto/migrate_from_lxc: 5.0 is the last LTS release shipping lxd.lxc-to-lxd
  doc/howto/migrate_from_lxc.md
Labels: Documentation

#12985 Auth: Set OIDC relying party HTTP client to comply with proxy configuration.
  lxd/api_1.0.go
  lxd/auth/oidc/oidc.go
  lxd/daemon.go
  lxd/daemon_config.go
Labels: Bug
