Repository canonical/lxd, pull requests merged in 2024-12, with the labels that each got.

#14530 API: Add `scope` to metadata configuration API
  doc/api-extensions.md
  doc/metadata.txt
  doc/rest-api.yaml
  lxd/metadata/configuration.json
  lxd/network/driver_bridge.go
  lxd/network/driver_macvlan.go
  lxd/network/driver_physical.go
  lxd/network/driver_sriov.go
  lxd/storage/drivers/driver_btrfs.go
  lxd/storage/drivers/driver_ceph.go
  lxd/storage/drivers/driver_ceph_volumes.go
  lxd/storage/drivers/driver_cephfs.go
  lxd/storage/drivers/driver_cephobject.go
  lxd/storage/drivers/driver_lvm.go
  lxd/storage/drivers/driver_lvm_volumes.go
  lxd/storage/drivers/driver_powerflex.go
  lxd/storage/drivers/driver_powerflex_volumes.go
  lxd/storage/drivers/driver_zfs.go
  lxd/storage/drivers/driver_zfs_volumes.go
  lxd/storage/utils.go
  shared/api/metadata_configuration.go
  shared/version/api.go
Labels: Documentation, API

#14558 Clarify which snap channel we recommend
  doc/howto/migrate_from_lxc.md
  doc/howto/snap.md
  doc/installing.md
Labels: Documentation

#14573 doc: Add noble package to Windows image conversion
  doc/howto/import_machines_to_instances.md
Labels: Documentation

#14576 README: Update references to latest documentation to stable-5.21 (stable-5.21)
  README.md
Labels: 5.21 LTS

#14579 doc: Update doclint exceptions
  doc/.sphinx/.markdownlint/exceptions.txt
Labels: Documentation

#14562 doc/support: detail the 3 levels of LTS support
  .github/workflows/tests.yml
  doc/howto/snap.md
  doc/installing.md
  doc/support.md
Labels: Documentation

#14587 Introduce source type constants
  client/lxd.go
  client/lxd_containers.go
  client/lxd_images.go
  client/lxd_instances.go
  client/lxd_storage_volumes.go
  lxc-to-lxd/main.go
  lxc-to-lxd/main_migrate.go
  lxc/init.go
  lxc/rebuild.go
  lxd-benchmark/benchmark/operation.go
  lxd-migrate/main_migrate.go
  lxd/images.go
  lxd/instance/instance_utils.go
  lxd/instance_post.go
  lxd/instance_rebuild.go
  lxd/instances_post.go
  lxd/project/limits/permissions.go
  lxd/storage_volumes.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/instance.go
Labels: API

#14627 gomod: Update dependencies (stable-5.0)
  go.mod
  go.sum
Labels: 5.0 LTS

#14604 doc: clarify that storage size is equal to quota
  doc/cloud-init.md
  doc/explanation/clustering.md
  doc/explanation/storage.md
  doc/howto/initialize.md
  doc/howto/instances_backup.md
  doc/howto/storage_backup_volume.md
  doc/howto/storage_buckets.md
  doc/howto/storage_pools.md
  doc/reference/devices_disk.md
  doc/reference/storage_lvm.md
  doc/reference/storage_powerflex.md
  doc/reference/storage_zfs.md
  doc/tutorial/first_steps.md
  doc/tutorial/ui.md
Labels: Documentation

#14556 Docs: Add OVN network developer documentation
  doc/.custom_wordlist.txt
  doc/.wordlist.txt
  doc/images/ovn/ovn-integration-bridge-container.svg
  doc/images/ovn/ovn-integration-bridge-vm.svg
  doc/images/ovn/ovn-network.svg
  doc/images/ovn/ovn-uplink-bridge-native.svg
  doc/images/ovn/ovn-uplink-bridge-ovs.svg
  doc/images/ovn/ovn-uplink-physical.svg
  doc/internals.md
  doc/reference/ovn-internals.md
Labels: Documentation

#14044 Set OSD pool size when creating `ceph` and `cephfs` storage pools
  .github/actions/setup-microceph/action.yml
  .github/workflows/tests.yml
  doc/api-extensions.md
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/storage/drivers/driver_ceph.go
  lxd/storage/drivers/driver_ceph_utils.go
  lxd/storage/drivers/driver_cephfs.go
  lxd/storage/drivers/driver_cephfs_utils.go
  shared/version/api.go
  test/suites/storage_driver_ceph.sh
Labels: Documentation, API

#14574 Documentation: VM live migration internals documentation
  doc/.custom_wordlist.txt
  doc/images/vm_live_migration_flowchart.svg
  doc/images/vm_live_migration_fsa_diagram.svg
  doc/internals.md
  doc/reference/vm_live_migration_internals.md
Labels: Documentation

#14629 Doc: Mention that `zfs.delegate` is best used in conjunction with `security.nesting`
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/storage/drivers/driver_zfs_volumes.go
Labels: Documentation

#14578 docs: Update storage volume How-to
  doc/howto/storage_volumes.md
Labels: Documentation

#14600 Documentation: Update doc links
  doc/authentication.md
  doc/cloud-init.md
  doc/clustering.md
  doc/custom_conf.py
  doc/explanation/clustering.md
  doc/explanation/instances.md
  doc/explanation/lxd_lxc.md
  doc/faq.md
  doc/howto/cluster_form.md
  doc/howto/cluster_groups.md
  doc/howto/cluster_manage.md
  doc/howto/disaster_recovery.md
  doc/howto/import_machines_to_instances.md
  doc/howto/instances_console.md
  doc/howto/instances_troubleshoot.md
  doc/howto/move_instances.md
  doc/howto/network_acls.md
  doc/howto/network_bgp.md
  doc/howto/network_bridge_firewalld.md
  doc/howto/network_forwards.md
  doc/howto/network_load_balancers.md
  doc/howto/network_ovn_peers.md
  doc/howto/network_zones.md
  doc/howto/storage_move_volume.md
  doc/howto/storage_pools.md
  doc/metrics.md
  doc/myconf.py
  doc/networks.md
  doc/reference/devices_proxy.md
  doc/reference/network_bridge.md
  doc/reference/network_ovn.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephobject.md
  doc/reference/storage_zfs.md
  doc/storage.md
Labels: Documentation

#14511 lxd: Show correct instance root disk size on API
  doc/rest-api.yaml
  lxc/info.go
  lxd/storage/backend_lxd.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/instance_state.go
  test/suites/storage.sh
Labels: Documentation, API

#14637 Doc: Remove monthly from feature release
  README.md
  SECURITY.md
  doc/installing.md
  doc/support.md
Labels: Documentation

#14643 doc: fix lxc network load-balancer backend add command syntax
  doc/howto/network_load_balancers.md
Labels: Documentation

#14644 lxd: Deny creation of empty ISO volume
  doc/explanation/storage.md
  lxd/storage_volumes.go
  test/suites/storage_local_volume_handling.sh
Labels: Documentation

#14652 Documentation: Update VM live migration implementation diagrams
  doc/images/vm_live_migration_flowchart.svg
  doc/images/vm_live_migration_fsa_diagram.svg
  doc/images/vm_live_migration_state_diagram.svg
  doc/reference/vm_live_migration_internals.md
Labels: Documentation

#14670 Add `--format` flag to `lxd sql`
  lxd/main.go
  lxd/main_sql.go
  shared/cmd/table.go
Labels: Feature

#14654 Doc: Improve network load-balancer instructions and add examples
  doc/howto/network_load_balancers.md
Labels: Documentation

#14675 Documentation: Update link prefix for `doc/reference/storage_cephfs`
  doc/reference/storage_cephfs.md
Labels: Documentation

#14693 doc/cloud-init: add a note that recent `cloud-init` on older Ubuntu still doesn't support modern keys
  doc/cloud-init.md
Labels: Documentation

#14705 Remove `runtime.Caller` from `schema.DotGo`
  lxd/db/cluster/update.go
  lxd/db/generate/db.go
  lxd/db/generate/db/schema.go
  lxd/db/node/update.go
  lxd/db/schema.go
  lxd/db/schema/update.go
  lxd/db/schema/update_test.go
Labels: Improvement
