Repository canonical/lxd, pull requests merged in 2024-07, with the labels that each got.

#13660 Storage: Add Dell PowerFlex SDC operation mode
  doc/.custom_wordlist.txt
  doc/config_options.txt
  doc/reference/storage_powerflex.md
  go.mod
  go.sum
  lxd/metadata/configuration.json
  lxd/storage/drivers/driver_powerflex.go
  lxd/storage/drivers/driver_powerflex_utils.go
  lxd/storage/drivers/driver_powerflex_volumes.go
Labels: Documentation

#13693 doc/projects: add UI instructions for projects
  doc/howto/projects_confine.md
  doc/howto/projects_create.md
  doc/howto/projects_work.md
  doc/images/UI/create_project.png
  doc/images/UI/create_restr_project1.png
  doc/images/UI/create_restr_project2.png
Labels: Documentation

#13696 Add loongarch64 (from Incus)
  doc/.custom_wordlist.txt
  doc/architectures.md
  lxd/include/syscall_numbers.h
  lxd/seccomp/seccomp.go
  lxd/seccomp/sysinfo_64.go
Labels: Documentation

#13699 doc/bgp: Clarify how to configure BGP for OVN (uplink) networks
  doc/howto/network_bgp.md
Labels: Documentation

#13702 Reinstate 403 when TLS client lists resources in disallowed project
  lxd/api_1.0.go
  lxd/api_metrics.go
  lxd/api_project.go
  lxd/auth/drivers/common.go
  lxd/auth/drivers/openfga.go
  lxd/auth/drivers/tls.go
  lxd/auth/types.go
  lxd/auth/util.go
  lxd/auth_groups.go
  lxd/certificates.go
  lxd/daemon.go
  lxd/events.go
  lxd/identities.go
  lxd/identity_provider_groups.go
  lxd/images.go
  lxd/instance_post.go
  lxd/instances.go
  lxd/instances_get.go
  lxd/instances_put.go
  lxd/network_acls.go
  lxd/network_allocations.go
  lxd/network_zones.go
  lxd/networks.go
  lxd/operations.go
  lxd/profiles.go
  lxd/project/permissions.go
  lxd/storage_buckets.go
  lxd/storage_pools.go
  lxd/storage_volumes.go
  test/suites/pki.sh
  test/suites/remote.sh
  test/suites/tls_restrictions.sh
Labels: Bug

#13724 doc/metadata: Drop now unused file (stable-5.0)
  doc/metadata.yaml
Labels: Documentation, 5.0 LTS

#13727 Update short description for the OIDC groups claim
  doc/config_options.txt
  lxd/cluster/config/config.go
  lxd/metadata/configuration.json
Labels: Documentation

#13734 Improve test reliability (stable-4.0)
  .github/workflows/commits.yml
  README.md
  test/includes/check.sh
  test/suites/backup.sh
  test/suites/container_local_cross_pool_handling.sh
  test/suites/storage_local_volume_handling.sh
Labels: 4.0 LTS

#13705 Enable mTLS for server certificates (stable-4.0)
  lxd-agent/server.go
  lxd/certificates.go
  lxd/cluster/tls.go
  lxd/daemon.go
  lxd/util/http.go
  lxd/util/net.go
  shared/network.go
  test/suites/pki.sh
Labels: 4.0 LTS

#13733 Extract certificate add token metadata from remote member
  lxd/certificates.go
Labels: Bug

#13737 test/suites: Grep for trusted certificate names with `-wF` flags (stable-4.0)
  test/suites/pki.sh
Labels: 4.0 LTS

#13183 Prevent custom block volume sharing
  doc/api-extensions.md
  doc/config_options.txt
  doc/explanation/storage.md
  doc/howto/storage_volumes.md
  lxd/db/instances.go
  lxd/device/config/devices.go
  lxd/device/disk.go
  lxd/metadata/configuration.json
  lxd/network/acl/acl_ovn.go
  lxd/network/acl/driver_common.go
  lxd/network/network_utils.go
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/driver_common.go
  lxd/storage/utils.go
  shared/version/api.go
  test/suites/storage_profiles.sh
Labels: Documentation, API

#13738 Backports (stable-5.21)
  doc/config_options.txt
  doc/tutorial/first_steps.md
  go.mod
  go.sum
  lxd/cluster/config/config.go
  lxd/instance_exec.go
  lxd/metadata/configuration.json
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/godeps/lxd-agent.list
  test/main.sh
Labels: Documentation, 5.21 LTS

#13741 Extract certificate add token metadata from remote member (stable-5.21)
  lxd/certificates.go
  test/includes/uuid.sh
  test/main.sh
  test/suites/clustering.sh
Labels: 5.21 LTS

#13750 Backports (stable-5.21)
  lxd/certificates.go
  lxd/db/instances.go
  lxd/device/config/devices.go
  lxd/device/disk.go
  lxd/network/acl/acl_ovn.go
  lxd/network/acl/driver_common.go
  lxd/network/network_utils.go
  lxd/storage/utils.go
  test/includes/certificates.sh
  test/includes/net.sh
  test/suites/backup.sh
  test/suites/basic.sh
  test/suites/clustering.sh
  test/suites/config.sh
  test/suites/container_devices_nic_bridged.sh
  test/suites/devlxd.sh
  test/suites/incremental_copy.sh
  test/suites/metrics.sh
  test/suites/migration.sh
  test/suites/network_zone.sh
  test/suites/remote.sh
  test/suites/snapshots.sh
  test/suites/storage_buckets.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/tls_restrictions.sh
Labels: 5.21 LTS

#13745 test/suites/backup: cleanup
  doc/reference/storage_drivers.md
  test/includes/lxd.sh
  test/includes/storage.sh
  test/suites/backup.sh
Labels: Documentation

#13770 Release LXD 5.21.2 (stable-5.21)
  shared/version/flex.go
Labels: 5.21 LTS

#13730 Fix devlxd image export
  lxd/daemon.go
  lxd/devlxd.go
  lxd/devlxd_test.go
  lxd/images.go
  test/suites/tls_restrictions.sh
Labels: Bug

#13777 Device: Fix crash when device doesn't return run config when being live updated (stable-5.21)
  lxd/instance/drivers/driver_common.go
Labels: 5.21 LTS

#13772 doc/authentication: clean up PKI instructions
  doc/authentication.md
Labels: Documentation

#13784 fix typo in index.md
  doc/howto/index.md
Labels: Documentation

#13785 doc/contributing: add section on how-tos
  doc/.custom_wordlist.txt
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/contributing.md
Labels: Documentation

#13780 Openfga dependency update
  Makefile
  doc/requirements.md
  go.mod
  go.sum
  lxd/db/openfga/openfga.go
  test/godeps/lxd-agent.list
Labels: Documentation

#13790 Update metrics.md to remove symlink trailing slash
  doc/metrics.md
Labels: Documentation

#13803 doc/projects: fix documentation for PATCH request
  doc/howto/projects_create.md
Labels: Documentation

#13728 Add entitlements to metadata
  .github/workflows/tests.yml
  Makefile
  doc/contributing.md
  doc/explanation/authorization.md
  doc/howto/network_acls.md
  doc/howto/network_forwards.md
  doc/howto/network_load_balancers.md
  doc/howto/network_ovn_peers.md
  doc/howto/network_zones.md
  doc/metadata.txt
  doc/reference/cluster_member_config.md
  doc/reference/devices_disk.md
  doc/reference/devices_gpu.md
  doc/reference/devices_infiniband.md
  doc/reference/devices_nic.md
  doc/reference/devices_pci.md
  doc/reference/devices_proxy.md
  doc/reference/devices_tpm.md
  doc/reference/devices_unix_block.md
  doc/reference/devices_unix_char.md
  doc/reference/devices_unix_hotplug.md
  doc/reference/devices_usb.md
  doc/reference/index.md
  doc/reference/instance_options.md
  doc/reference/instance_properties.md
  doc/reference/network_bridge.md
  doc/reference/network_macvlan.md
  doc/reference/network_ovn.md
  doc/reference/network_physical.md
  doc/reference/network_sriov.md
  doc/reference/permissions.md
  doc/reference/projects.md
  doc/reference/storage_btrfs.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_cephobject.md
  doc/reference/storage_dir.md
  doc/reference/storage_lvm.md
  doc/reference/storage_powerflex.md
  doc/reference/storage_zfs.md
  doc/server.md
  lxd/auth/generate/main.go
  lxd/lxd-metadata/lxd_metadata.go
  lxd/metadata/configuration.json
  test/lint/metadata-up-to-date.sh
Labels: Documentation

#13801 Backports (stable-5.0)
  .github/CODEOWNERS
  .shellcheckrc
  Makefile
  lxd-agent/server.go
  lxd-migrate/main_migrate.go
  lxd-migrate/transfer.go
  lxd-migrate/utils.go
  lxd/api_project.go
  lxd/apparmor/archive.go
  lxd/apparmor/instance.go
  lxd/apparmor/rsync.go
  lxd/certificates.go
  lxd/cluster/membership.go
  lxd/device/config/devices.go
  lxd/device/device_utils_disk.go
  lxd/device/disk.go
  lxd/devlxd.go
  lxd/firewall/drivers/drivers_xtables.go
  lxd/instance/drivers/driver_qemu.go
  lxd/migrate.go
  lxd/migrate_instance.go
  lxd/migrate_storage_volumes.go
  lxd/storage/backend_lxd.go
  lxd/util/http.go
  shared/util_linux.go
  test/includes/lxd.sh
  test/includes/storage.sh
  test/lint/i18n-up-to-date.sh
  test/lint/mixed-whitespace.sh
  test/lint/negated-is-bool.sh
  test/lint/newline-after-block.sh
  test/lint/no-oneline-assign-and-test.sh
  test/lint/no-short-form-imports.sh
  test/lint/rest-api-up-to-date.sh
  test/lint/trailing-space.sh
  test/main.sh
  test/perf.sh
  test/suites/backup.sh
  test/suites/clustering.sh
  test/suites/container_devices_none.sh
  test/suites/projects.sh
  test/suites/remote.sh
  test/suites/security.sh
  test/suites/storage_driver_dir.sh
Labels: 5.0 LTS

#13795 Doc: Add more details on Dell PowerFlex pool creation
  doc/explanation/storage.md
  doc/howto/storage_pools.md
Labels: Documentation

#13804 Backports (stable-5.21)
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/howto/projects_create.md
  lxd/lxd-metadata/lxd_metadata.go
Labels: Documentation, 5.21 LTS

#13809 github: Exclude lvm standalone tests as they fail on Github due to lack of space (stable-4.0)
  .github/workflows/tests.yml
Labels: 4.0 LTS

#13805 doc/storage: change examples to sections instead of tabs
  doc/howto/storage_pools.md
Labels: Documentation

#13814 Release LXD 4.0.10 (stable-4.0)
  shared/version/flex.go
Labels: 4.0 LTS

#13695 lxd: Add support for starting instances on creation (from Incus)
  doc/api-extensions.md
  doc/howto/instances_create.md
  doc/rest-api.yaml
  lxc/init.go
  lxc/launch.go
  lxd/instances_post.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/instance.go
  shared/version/api.go
Labels: Documentation, API

#13819 Doc: Additional examples for cluster storage pools using remote drivers
  doc/howto/storage_pools.md
Labels: Documentation

#13748 Extend conversion API with option to inject virtio drivers
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/.wordlist.txt
  doc/howto/import_machines_to_instances.md
  lxd-migrate/main_migrate.go
  lxd/instances_post.go
  lxd/storage/backend_lxd.go
  lxd/storage/utils.go
Labels: Documentation

#13827 doc: Use consistent naming for remote pool creation examples
  doc/howto/storage_pools.md
Labels: Documentation

#13517 Auth: Add storage volume and bucket location to URL in access check
  lxd/cluster/connect.go
  lxd/response.go
  lxd/storage_buckets.go
  lxd/storage_volumes.go
  lxd/storage_volumes_backup.go
  lxd/storage_volumes_snapshot.go
  shared/entity/type.go
Labels: Bug

#13833 doc: Update rhsrvany link and fix code blocks
  doc/howto/import_machines_to_instances.md
Labels: Documentation

#13824 Add `security.protection.start` to optionally prevent instance start up
  doc/api-extensions.md
  doc/howto/instances_manage.md
  doc/metadata.txt
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instancetype/instance.go
  lxd/instances.go
  lxd/metadata/configuration.json
  scripts/bash/lxd-client
  shared/version/api.go
  test/suites/security.sh
Labels: Documentation, API
