Repository canonical/lxd, pull requests merged in 2024-09, with the labels that each got.

#14026 Tests: Check cluster member names cannot be 'none' (stable-5.21)
  test/suites/clustering.sh
Labels: 5.21 LTS

#14003 Make lxd-agent install script compatible with SUSE
  doc/guest-os-compatibility.md
  lxd/instance/drivers/driver_qemu.go
Labels: Documentation

#13825 API: Add request metrics for disaster recovery
  .golangci.yml
  doc/api-extensions.md
  doc/metrics.md
  doc/reference/provided_metrics.md
  lxd-agent/devlxd.go
  lxd-agent/events.go
  lxd-agent/operations.go
  lxd-agent/server.go
  lxd-agent/sftp.go
  lxd/api.go
  lxd/api_cluster.go
  lxd/api_internal.go
  lxd/api_metrics.go
  lxd/auth/oidc/oidc.go
  lxd/cluster/notify_test.go
  lxd/daemon.go
  lxd/devlxd.go
  lxd/events.go
  lxd/images.go
  lxd/instance_backup.go
  lxd/instance_console.go
  lxd/instance_file.go
  lxd/instance_logs.go
  lxd/instance_metadata.go
  lxd/instance_sftp.go
  lxd/metrics/api_rates.go
  lxd/metrics/metrics.go
  lxd/metrics/types.go
  lxd/network_acls.go
  lxd/operations.go
  lxd/operations/operations.go
  lxd/operations/response.go
  lxd/operations/websocket.go
  lxd/request/const.go
  lxd/request/request.go
  lxd/response/response.go
  lxd/storage_volumes_backup.go
  shared/entity/type.go
  shared/entity/type_test.go
  shared/entity/url.go
  test/suites/metrics.sh
Labels: Documentation, API

#14049 Fix LXD agent to work on SELinux systems (from Incus)
  doc/guest-os-compatibility.md
  lxd/instance/drivers/driver_qemu.go
Labels: Documentation

#14048 doc: Add shell completions instructions to LXD installation docs
  doc/installing.md
Labels: Documentation

#14054 Rework manual install instructions for LXD agent (from Incus)
  doc/guest-os-compatibility.md
  doc/howto/instances_create.md
Labels: Documentation

#14080 Updated storage volume doc to remove any suspicion of action not working
  doc/howto/storage_volumes.md
Labels: Documentation

#14057 doc/authentication: clarify what `{client|server}.ca` are
  doc/authentication.md
Labels: Documentation

#14084 gomod: Update dependencies and bump min Go version to 1.22.6
  Makefile
  doc/requirements.md
  go.mod
  go.sum
  test/godeps/lxd-agent.list
Labels: Documentation

#14078 Per-pool project limits (from Incus)
  doc/api-extensions.md
  doc/metadata.txt
  lxc/project.go
  lxd/api_project.go
  lxd/metadata/configuration.json
  lxd/project/limits/permissions.go
  lxd/project/limits/state.go
  lxd/storage/backend_lxd.go
  lxd/storage_pools.go
  lxd/storage_volumes.go
  shared/version/api.go
  test/suites/projects.sh
Labels: Documentation, API

#14094 Backports (stable-5.0)
  .github/renovate.json
  .github/workflows/commits.yml
  .github/workflows/tests.yml
  Makefile
  client/lxd_instances.go
  doc/.readthedocs.yaml
  doc/requirements.md
  go.mod
  go.sum
  lxc/network.go
  lxd/api_cluster.go
  lxd/api_internal_recover.go
  lxd/apparmor/apparmor.go
  lxd/apparmor/feature_check.go
  lxd/apparmor/instance.go
  lxd/apparmor/instance_lxc.go
  lxd/cluster/notify.go
  lxd/cluster/notify_test.go
  lxd/daemon.go
  lxd/device/device_utils_disk.go
  lxd/firewall/drivers/drivers_nftables.go
  lxd/firewall/drivers/drivers_xtables.go
  lxd/instance/drivers/driver_common.go
  lxd/instance/drivers/driver_lxc.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instance_utils.go
  lxd/instance_console.go
  lxd/instance_file.go
  lxd/instances.go
  lxd/networks.go
  lxd/patches.go
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/driver_dir_utils.go
  lxd/storage/drivers/driver_zfs_volumes.go
  lxd/storage/quota/projectquota.go
  lxd/sys/apparmor.go
  lxd/sys/os.go
  shared/ioprogress/data.go
  shared/util.go
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/godeps/lxd-agent.list
  test/lint/godeps.sh
  test/suites/backup.sh
Labels: Documentation, 5.0 LTS

#14074 Doc: Changes to the import of a Windows VM
  doc/howto/import_machines_to_instances.md
Labels: Documentation

#14111 fsmonitor: Test unix devices with both drivers
  doc/environment.md
  lxd/fsmonitor/drivers/driver_inotify.go
  lxd/fsmonitor/drivers/load.go
  test/suites/container_devices_unix.sh
Labels: Documentation

#14116 Fix pool limits metadata invocation
  doc/metadata.txt
  lxd/api_project.go
  lxd/metadata/configuration.json
Labels: Documentation

#14083 Backup before cluster reconfigure
  doc/howto/cluster_recover.md
  lxd/cluster/recover.go
  lxd/main_cluster.go
  test/suites/clustering.sh
Labels: Documentation

#14114 doc/howto/container_gpu_passthrough_with_docker: use single line cmds
  doc/howto/container_gpu_passthrough_with_docker.md
Labels: Documentation

#14041 Add lxd-migrate flags for non-interactive usage
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/howto/import_machines_to_instances.md
  lxd-migrate/main_migrate.go
  lxd-migrate/utils.go
Labels: Documentation

#14123 Doc: Clarify meaning of `restricted.networks.subnets` and `ipvX.routes` for OVN networks
  doc/metadata.txt
  lxd/api_project.go
  lxd/metadata/configuration.json
  lxd/network/driver_physical.go
Labels: Documentation

#13953 Ubuntu Pro auto-attachment of guests
  .github/workflows/tests.yml
  doc/api-extensions.md
  doc/metadata.txt
  lxd-agent/devlxd.go
  lxd/daemon.go
  lxd/devlxd.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
  lxd/state/state.go
  lxd/ubuntupro/client.go
  lxd/ubuntupro/client_test.go
  shared/api/devlxd.go
  shared/version/api.go
Labels: Documentation, API

#14132 Add API types for configuration metadata
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/auth/generate/main.go
  lxd/documentation.go
  lxd/lxd-metadata/lxd_metadata.go
  lxd/metadata/configuration.json
  shared/api/metadata_configuration.go
  shared/version/api.go
Labels: Documentation, API

#14156 Remove fanotify warning on ubuntu pro fsmonitor initialisation
  lxd/fsmonitor/drivers/driver_fanotify.go
  lxd/fsmonitor/drivers/driver_inotify.go
  lxd/fsmonitor/drivers/load.go
  lxd/fsmonitor/fsmonitor_interface.go
Labels: Bug

#14169 Add trailing `/` to `ubuntu:` and `ubuntu-daily:` remotes to avoid redirects
  client/doc.go
  doc/howto/instances_create.md
  doc/howto/instances_routed_nic_vm.md
  doc/rest-api.yaml
  lxc/config/default.go
  shared/api/image.go
  shared/api/instance.go
  test/suites/remote.sh
Labels: Documentation, API

#14168 Fix cloud-init instance key typos
  doc/metadata.txt
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Documentation
