Repository canonical/lxd, pull requests merged in 2025-03, with the labels that each got.

#15092 doc: Code of Conduct replacement and minor fixes
  CONTRIBUTING.md
  doc/README.md
  doc/contributing.md
Labels: Documentation

#15109 AppArmor-related cherry-picks due to core20 update (stable-4.0)
  lxd/apparmor/instance_lxc.go
Labels: 4.0 LTS

#15110 doc/installing: fix missing words in command syntax
  doc/installing.md
Labels: Documentation

#14930 Storage: Attach VM snapshots as disk devices
  doc/api-extensions.md
  doc/howto/storage_volumes.md
  doc/metadata.txt
  doc/reference/devices_disk.md
  lxc/storage_volume.go
  lxd/device/disk.go
  lxd/metadata/configuration.json
  lxd/storage/utils.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/version/api.go
Labels: Documentation, API

#15113 doc: code of conduct updates
  CODE_OF_CONDUCT.md
  doc/index.md
Labels: Documentation

#15121 doc: update broken link in howto/initialize
  doc/howto/initialize.md
Labels: Documentation

#15120 Backport docs (stable-5.21)
  doc/howto/cluster_manage.md
Labels: Documentation, 5.21 LTS

#15116 docs: add oidc configuration with auth0 and idp groups WD-18947
  doc/.custom_wordlist.txt
  doc/howto/oidc_auth0.md
  doc/operation.md
Labels: Documentation

#15122 Client cert presence check in GET /1.0
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/api_1.0.go
  shared/api/server.go
  shared/version/api.go
Labels: Documentation, API

#15152 Backports (stable-5.21)
  doc/api-extensions.md
  shared/version/api.go
  test/suites/auth.sh
Labels: Documentation, API, 5.21 LTS

#15157 doc: update code of conduct and its link (stable-5.0)
  CONTRIBUTING.md
  doc/index.md
Labels: Documentation, 5.0 LTS

#15158 doc: update contributing guide links to 5.21 docs (stable-5.21)
  CONTRIBUTING.md
  doc/README.md
Labels: Documentation, 5.21 LTS

#15159 Backports (stable-5.21)
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/api_1.0.go
  lxd/instance_instance_types.go
  lxd/resources/network.go
  shared/api/server.go
  shared/version/api.go
Labels: Documentation, API, 5.21 LTS

#15164 API: Don't panic if instance backup config is invalid (stable-5.21)
  lxd/api_internal.go
  lxd/instances_post.go
Labels: 5.21 LTS

#15163 API: Don't panic if instance backup config is invalid (stable-5.0)
  lxd/api_internal.go
  lxd/instances_post.go
Labels: 5.0 LTS

#15168 API: Don't panic if backup config is missing (stable-4.0)
  lxd/backup/backup_config.go
Labels: 4.0 LTS

#15171 doc/cloud-init: Fix command example
  doc/cloud-init.md
Labels: Documentation

#15126 docs: add oidc configuration with ory hydra
  doc/.custom_wordlist.txt
  doc/howto/oidc_ory.md
  doc/operation.md
Labels: Documentation

#15119 Prevent cluster groups from being deleted when referenced by a projects' configuration
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/api_cluster.go
  lxd/db/cluster.go
  lxd/db/cluster/cluster_groups.go
  shared/api/cluster.go
  shared/version/api.go
  test/suites/clustering.sh
Labels: Bug, Documentation, API

#15200 doc: Untrusted TLS identity post endpoint description
  doc/rest-api.yaml
  lxd/identities.go
Labels: Documentation, API

#15207 cloud-init: Allow `none` for `cloud-init.ssh-keys.*`
  doc/cloud-init.md
  lxd/cloudinit/config.go
  shared/validate/validate.go
Labels: Documentation

#15176 docs: add oidc configuration with keycloak
  doc/.custom_wordlist.txt
  doc/howto/oidc_keycloak.md
  doc/operation.md
Labels: Documentation

#15227 doc: hard-code additional link titles
  doc/clustering.md
  doc/explanation/authorization.md
  doc/explanation/clusters.md
  doc/explanation/instances.md
  doc/explanation/lxd_lxc.md
  doc/explanation/performance_tuning.md
  doc/explanation/security.md
  doc/howto/cluster_form.md
  doc/howto/cluster_groups.md
  doc/howto/cluster_manage.md
  doc/howto/disaster_recovery.md
  doc/howto/grafana.md
  doc/howto/import_machines_to_instances.md
  doc/howto/instances_console.md
  doc/howto/instances_troubleshoot.md
  doc/howto/move_instances.md
  doc/howto/network_acls.md
  doc/howto/network_bgp.md
  doc/howto/network_bridge_firewalld.md
  doc/howto/network_forwards.md
  doc/howto/network_load_balancers.md
  doc/howto/network_ovn_peers.md
  doc/howto/network_zones.md
  doc/howto/snap.md
  doc/howto/storage_move_volume.md
  doc/howto/storage_pools.md
  doc/reference/devices_proxy.md
  doc/reference/network_bridge.md
  doc/reference/network_ovn.md
  doc/reference/remote_image_servers.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_cephobject.md
  doc/reference/storage_zfs.md
  doc/reference/uefi_variables.md
  doc/reference/vm_live_migration_internals.md
Labels: Documentation

#15216 doc: minor revisions to keycloak docs
  doc/howto/oidc_keycloak.md
Labels: Documentation

#15262 doc: add localhost:8080 to linkcheck_ignore
  doc/custom_conf.py
Labels: Documentation

#15263 Small adjustments on top of BPF Token support PR
  doc/api-extensions.md
  lxd/api_internal.go
Labels: Documentation, API

#15266 doc: show annotations in microcloud docs integration
  doc/howto/cluster_form.md
  doc/howto/initialize.md
  doc/howto/network_create.md
  doc/howto/network_ovn_setup.md
  doc/installing.md
  doc/tutorial/first_steps.md
  doc/tutorial/ui.md
Labels: Documentation

#15228 feat(doc): add steps to verify lxd host support for vms
  doc/tutorial/first_steps.md
Labels: Documentation

#15206 update: [WD-18946] storage-pool-docs-update
  doc/howto/storage_pools.md
  doc/images/storage/storage_pools_create.png
  doc/images/storage/storage_pools_create_ZFS_driver.png
  doc/images/storage/storage_pools_create_clustered_pool.png
  doc/images/storage/storage_pools_create_clustered_pool_size_config.png
Labels: Documentation

#15155 lxd: Fix target profile on snapshot copy
  client/interfaces.go
  client/lxd_instances.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/copy.go
  lxc/move.go
  lxd/instance.go
  lxd/instance_post.go
  lxd/instances_post.go
  shared/api/instance.go
  shared/version/api.go
  test/suites/container_move.sh
  test/suites/snapshots.sh
Labels: Documentation, API

#15270 doc: Fix swagger definition for `POST /1.0/auth/identities/tls`
  doc/rest-api.yaml
  lxd/identities.go
Labels: Documentation, API
