Repository canonical/lxd, pull requests merged in 2025-02, with the labels that each got.

#14914 Doc: Add `storage_driver_powerflex` API extension
  doc/api-extensions.md
  shared/version/api.go
Labels: Documentation, API

#14905 Network: Parse host physical NIC MAC address for storing in device configuration
  doc/metadata.txt
  lxc/config_device.go
  lxd/device/nic.go
  lxd/device/nic_physical.go
  lxd/metadata/configuration.json
Labels: Documentation

#14599 Storage: Add Pure Storage storage driver
  doc/.wordlist.txt
  doc/api-extensions.md
  doc/explanation/storage.md
  doc/howto/storage_pools.md
  doc/metadata.txt
  doc/reference/storage_drivers.md
  doc/reference/storage_pure.md
  lxd/metadata/configuration.json
  lxd/storage/backend_lxd.go
  lxd/storage/connectors/connector.go
  lxd/storage/connectors/connector_iscsi.go
  lxd/storage/drivers/driver_btrfs.go
  lxd/storage/drivers/driver_ceph.go
  lxd/storage/drivers/driver_cephfs.go
  lxd/storage/drivers/driver_cephobject.go
  lxd/storage/drivers/driver_dir.go
  lxd/storage/drivers/driver_lvm.go
  lxd/storage/drivers/driver_mock.go
  lxd/storage/drivers/driver_powerflex.go
  lxd/storage/drivers/driver_pure.go
  lxd/storage/drivers/driver_pure_util.go
  lxd/storage/drivers/driver_pure_util_test.go
  lxd/storage/drivers/driver_pure_volumes.go
  lxd/storage/drivers/driver_types.go
  lxd/storage/drivers/driver_zfs.go
  lxd/storage/drivers/load.go
  lxd/storage/drivers/volume.go
  lxd/storage/utils.go
  shared/version/api.go
  test/backends/pure.sh
  test/includes/storage.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/container_move.sh
  test/suites/storage_driver_pure.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
Labels: Documentation, API

#14882 Projects: Peform uplink quota validation in a single transaction
  doc/metadata.txt
  lxd/api_project.go
  lxd/metadata/configuration.json
  lxd/network/driver_common.go
  lxd/project/limits/permissions.go
Labels: Documentation

#14919 Storage: Minor fixes for `pure` storage driver
  doc/howto/storage_pools.md
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/storage/drivers/driver_pure.go
  lxd/storage/drivers/driver_pure_util.go
  lxd/storage/drivers/driver_pure_volumes.go
Labels: Documentation

#14917 Network: Update physical NIC device options for added clarity
  doc/metadata.txt
  lxd/device/nic.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Documentation

#14895 Storage: Disk device doc updates
  doc/metadata.txt
  lxd/device/disk.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
  lxd/storage/utils.go
Labels: Documentation

#14925 Doc: Add how-to guides for Entra ID
  doc/.custom_wordlist.txt
  doc/howto/oidc_entra_id.md
  doc/images/auth/entra-id/1-app-registrations.png
  doc/images/auth/entra-id/10-openid-permissions.png
  doc/images/auth/entra-id/11-client-id.png
  doc/images/auth/entra-id/12-discovery-url.png
  doc/images/auth/entra-id/13-keycloak-identity-providers.png
  doc/images/auth/entra-id/14-keycloak-microsoft.png
  doc/images/auth/entra-id/15-keycloak-broker-redirect-uri.png
  doc/images/auth/entra-id/16-app-name-keycloak.png
  doc/images/auth/entra-id/17-redirect-uri-keycloak.png
  doc/images/auth/entra-id/18-certificates-and-secrets.png
  doc/images/auth/entra-id/19-new-client-secret.png
  doc/images/auth/entra-id/2-app-name.png
  doc/images/auth/entra-id/20-copy-client-secret.png
  doc/images/auth/entra-id/21-paste-client-secret.png
  doc/images/auth/entra-id/22-paste-client-id.png
  doc/images/auth/entra-id/23-copy-tenant-id.png
  doc/images/auth/entra-id/24-paste-tenant-id.png
  doc/images/auth/entra-id/25-keycloak-clients.png
  doc/images/auth/entra-id/26-keycloak-new-client.png
  doc/images/auth/entra-id/27-keycloak-client-name-and-id.png
  doc/images/auth/entra-id/28-keycloak-device-flow.png
  doc/images/auth/entra-id/29-keycloak-redirect-uri.png
  doc/images/auth/entra-id/3-redirect-uri.png
  doc/images/auth/entra-id/30-keycloak-realm-settings.png
  doc/images/auth/entra-id/4-authentication.png
  doc/images/auth/entra-id/5-public-client-flows.png
  doc/images/auth/entra-id/6-api-permissions.png
  doc/images/auth/entra-id/7-add-a-permission.png
  doc/images/auth/entra-id/8-graph-api.png
  doc/images/auth/entra-id/9-delegated-permissions.png
  doc/operation.md
Labels: Documentation

#14928 OIDC: Add methods to extract and verify claims
  lxd/auth/oidc/oidc.go
Labels: Improvement

#14931 doc: improve network forward docs including UI instructions
  doc/howto/network_forwards.md
  doc/images/UI/forward_create.png
  doc/images/UI/forward_create_bridge.png
  doc/images/UI/forward_create_ovn.png
  doc/images/UI/forward_create_port.png
  doc/images/UI/forward_delete.png
  doc/images/UI/forward_edit_ex1.png
  doc/images/UI/forward_edit_ex2.png
  doc/images/UI/forwards_view.png
  doc/metadata.txt
  lxd/api_project.go
  lxd/metadata/configuration.json
  shared/api/network_forward.go
Labels: Documentation, API

#14926 doc: update guide on moving instances and live migration
  doc/howto/move_instances.md
Labels: Documentation

#14960 Storage: Include required Pure Storage API token role in description
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/storage/drivers/driver_pure.go
Labels: Documentation

#14961 Storage: Document Powerflex user minimum require role
  doc/.custom_wordlist.txt
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/storage/drivers/driver_powerflex.go
Labels: Documentation

#14962 docs: Clarify Pure Storage array usage between LXD installations
  doc/reference/storage_pure.md
Labels: Documentation

#14900 Storage: Powerflex use `Connect` and `Disconnect` for NVMe/TCP
  doc/.custom_wordlist.txt
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/patches.go
  lxd/storage/connectors/connector.go
  lxd/storage/connectors/connector_iscsi.go
  lxd/storage/connectors/connector_nvme.go
  lxd/storage/connectors/connector_sdc.go
  lxd/storage/drivers/driver_powerflex.go
  lxd/storage/drivers/driver_powerflex_utils.go
  lxd/storage/drivers/driver_powerflex_volumes.go
Labels: Documentation

#14966 OVN bug fixes backports (stable-5.21)
  lxd/network/openvswitch/ovn.go
  lxd/network/zone/zone.go
  shared/dnsutil/reverse.go
  test/suites/network_ovn.sh
Labels: 5.21 LTS

#14959 cloud-init: Support injection of additional SSH keys on instances
  doc/api-extensions.md
  doc/cloud-init.md
  doc/metadata.txt
  lxd/device/disk.go
  lxd/devlxd.go
  lxd/devlxd_test.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
  lxd/util/config.go
  shared/validate/validate.go
  shared/version/api.go
Labels: Documentation, API

#14935 OIDC: Make scopes configurable
  client/lxd.go
  client/lxd_oidc.go
  doc/api-extensions.md
  doc/metadata.txt
  lxd/api_1.0.go
  lxd/auth/oidc/oidc.go
  lxd/cluster/config/config.go
  lxd/daemon.go
  lxd/metadata/configuration.json
  lxd/patches.go
  lxd/patches_test.go
  shared/version/api.go
  test/suites/oidc.sh
Labels: Bug, Documentation, API

#14836 lxd: Add storage and network options to project create
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/project.go
  lxd/api_project.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/project.go
  shared/version/api.go
  test/suites/init_dump.sh
  test/suites/projects.sh
Labels: Documentation, API

#14975 doc: lxd to lxc typo in network_forwards.md
  doc/howto/network_forwards.md
Labels: Documentation

#14980 doc: ignore linkcheck for gnu.org per often fails
  doc/custom_conf.py
Labels: Documentation

#14976 cloud-init: Follow up on SSH key injection
  doc/cloud-init.md
  lxd/device/disk.go
  lxd/devlxd.go
Labels: Documentation

#14982 Replace `source-type` with `source.type`
  doc/metadata.txt
  lxc/storage_volume.go
  lxd/device/disk.go
  lxd/metadata/configuration.json
  lxd/storage/utils.go
Labels: Documentation

#14981 Small tweaks
  client/lxd_network_peer.go
  lxc/console.go
  lxc/network_forward.go
  lxc/network_zone.go
  lxc/profile.go
  lxc/rename.go
  lxc/restore.go
  lxd-agent/devlxd.go
  lxd/apparmor/network_dnsmasq.go
  lxd/auth/oidc/oidc.go
  lxd/certificates.go
  lxd/cgroup/abstraction.go
  lxd/cluster/connect.go
  lxd/config/safe.go
  lxd/db/cluster/permissions.go
  lxd/db/images.go
  lxd/db/networks.go
  lxd/db/node/sqlite.go
  lxd/device/device_utils_generic.go
  lxd/dnsmasq/dnsmasq.go
  lxd/fsmonitor/drivers/errors.go
  lxd/instance.go
  lxd/instance/drivers/qmp/commands.go
  lxd/instance_exec.go
  lxd/main_forknet.go
  lxd/main_forkproxy.go
  lxd/main_sql.go
  lxd/network/network_load.go
  lxd/operations/operations.go
  lxd/operations/response.go
  lxd/project/limits/state.go
  lxd/project/permissions.go
  lxd/storage.go
  lxd/storage_volumes.go
  lxd/template/chroot.go
  lxd/util/kernel.go
  lxd/util/net.go
  lxd/warnings.go
  shared/api/event.go
  shared/simplestreams/simplestreams.go
  test/suites/basic.sh
Labels: API

#14985 Network: Fix OVN LogicalSwitchPortGetDNS to understand DNS records field that contains PTR records (stable-5.21)
  lxd/network/driver_ovn.go
  lxd/network/openvswitch/ovn.go
Labels: 5.21 LTS

#14979 Auth: Return missing group names on error
  lxd/db/cluster/identities.go
  test/suites/auth.sh
Labels: Improvement

#15020 gomod: Update dependencies (stable-5.21)
  .github/workflows/tests.yml
  go.mod
  go.sum
Labels: 5.21 LTS

#15029 doc: Update outdated MicroCloud info
  doc/howto/cluster_form.md
Labels: Documentation

#15022 Improved validation of project and instance names
  lxd/api_cluster.go
  lxd/api_internal.go
  lxd/api_project.go
  lxd/api_vsock.go
  lxd/cluster/tls.go
  lxd/db/storage_volumes.go
  lxd/instance/drivers/driver_common.go
  lxd/instance/instancetype/instance.go
  lxd/instance_logs.go
  lxd/instance_metadata.go
  lxd/project/project.go
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/driver_btrfs_volumes.go
  lxd/storage/drivers/driver_zfs_volumes.go
  lxd/storage/drivers/generic_vfs.go
  lxd/storage/utils.go
  lxd/util/http.go
  shared/api/instance.go
  shared/cert.go
Labels: API

#14973 auth: Add more tests for entity enrichment with entitlements
  doc/rest-api.yaml
  lxd/instance_backup.go
  lxd/instance_snapshot.go
  lxd/network_acls.go
  lxd/network_zones.go
  lxd/storage_volumes_backup.go
  lxd/storage_volumes_snapshot.go
  shared/api/instance_backup.go
  shared/api/instance_snapshot.go
  shared/api/storage_pool_volume_backup.go
  shared/api/storage_pool_volume_snapshot.go
  test/suites/auth.sh
Labels: Documentation, API

#15066 Auth: Fix `idFromURLQuery` for fine-grained TLS identities
  lxd/db/cluster/entity_type_identity.go
  test/suites/auth.sh
Labels: Bug

#15069 Bump Go min to 1.23 (stable-5.0)
  .github/workflows/tests.yml
  Makefile
  doc/requirements.md
  go.mod
  go.sum
  test/client-godeps.list
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/godeps/lxd-agent.list
  test/godeps/shared-api.list
Labels: Documentation, 5.0 LTS

#15074 Update Read the Docs build config
  doc/.readthedocs.yaml
Labels: Documentation

#15043 doc: Improvements to `cloud-init` docs
  doc/cloud-init.md
Labels: Documentation

#15073 doc/guest-os-compatibility: document host/guest compat for containers
  doc/guest-os-compatibility.md
Labels: Documentation

#15083 doc: improve and update contributing guidelines
  CONTRIBUTING.md
  doc/.custom_wordlist.txt
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/contributing.md
Labels: Documentation
