Repository canonical/lxd, pull requests merged in 2025-04, with the labels that each got.

#15297 doc: add google analytics consent cookie banner
  doc/.sphinx/_static/cookie-banner.css
  doc/.sphinx/_static/js/bundle.js
  doc/.sphinx/_templates/header.html
  doc/custom_conf.py
Labels: Documentation

#15209 docs: add scripted grafana setup WD-20339
  doc/howto/grafana.md
  doc/images/grafana_lxd_ui_instance_dashboard.png
  doc/images/grafana_lxd_ui_metrics_integration.png
  scripts/setup-grafana.sh
Labels: Documentation

#15302 gomod: Update deps (stable-5.21)
  Makefile
  doc/requirements.md
  go.mod
  go.sum
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/godeps/lxd-agent.list
Labels: Documentation, 5.21 LTS

#15319 doc: hard code link titles (stable-5.0)
  doc/authentication.md
  doc/backup.md
  doc/cloud-init.md
  doc/clustering.md
  doc/contributing.md
  doc/database.md
  doc/explanation/clustering.md
  doc/explanation/instances.md
  doc/explanation/performance_tuning.md
  doc/getting_started.md
  doc/howto/cluster_form.md
  doc/howto/cluster_groups.md
  doc/howto/cluster_manage.md
  doc/howto/import_machines_to_instances.md
  doc/howto/instances_console.md
  doc/howto/instances_troubleshoot.md
  doc/howto/move_instances.md
  doc/howto/network_acls.md
  doc/howto/network_bgp.md
  doc/howto/network_bridge_firewalld.md
  doc/howto/network_forwards.md
  doc/howto/network_ovn_peers.md
  doc/howto/network_zones.md
  doc/howto/storage_move_volume.md
  doc/howto/storage_pools.md
  doc/metrics.md
  doc/networks.md
  doc/projects.md
  doc/reference/devices_proxy.md
  doc/reference/network_bridge.md
  doc/reference/network_ovn.md
  doc/reference/remote_image_servers.md
  doc/reference/storage_ceph.md
  doc/reference/storage_cephfs.md
  doc/reference/storage_drivers.md
  doc/reference/storage_zfs.md
  doc/storage.md
Labels: Documentation, 5.0 LTS

#15320 doc: Force white background for swagger API (from Incus)
  doc/.sphinx/_static/swagger-override.css
Labels: Documentation

#15310 Resources: Add device's filesystem UUID if present
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/resources/storage.go
  lxd/storage/block/utils.go
  lxd/storage/drivers/utils.go
  shared/api/resource.go
  shared/util.go
  shared/version/api.go
Labels: Documentation, API

#15347 Resources: Add device's filesystem UUID if present (stable-5.21)
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/resources/storage.go
  lxd/storage/block/utils.go
  lxd/storage/drivers/utils.go
  shared/api/resource.go
  shared/util.go
  shared/version/api.go
Labels: Documentation, API, 5.21 LTS

#15396 Auth: Filter cluster group used by URLs
  lxd/api_cluster.go
  lxd/api_project.go
  test/suites/clustering.sh
Labels: Bug

#14589 Doc: Better DNS persistence solution for systemd
  doc/howto/network_bridge_resolved.md
Labels: Documentation

#15304 Doc: [WD-20812] Manage storage volumes
  doc/howto/storage_volumes.md
  doc/images/storage/storage_volumes_attach_to_instance_1.png
  doc/images/storage/storage_volumes_attach_to_instance_2.png
  doc/images/storage/storage_volumes_attach_to_instance_3.png
  doc/images/storage/storage_volumes_create.png
  doc/images/storage/storage_volumes_create_clustered.png
Labels: Documentation

#15401 doc: use external file to store redirects
  doc/custom_conf.py
  doc/redirects.py
Labels: Documentation

#15402 VM: Restore qemu guest /dev/disk/by-id naming stability (stable-5.21)
  lxd/instance/drivers/driver_qemu.go
Labels: 5.21 LTS

#15405 Stable 5.21 backports (stable-5.21)
  doc/custom_conf.py
  doc/howto/network_bridge_resolved.md
  doc/howto/storage_volumes.md
  doc/images/storage/storage_volumes_attach_to_instance_1.png
  doc/images/storage/storage_volumes_attach_to_instance_2.png
  doc/images/storage/storage_volumes_attach_to_instance_3.png
  doc/images/storage/storage_volumes_create.png
  doc/images/storage/storage_volumes_create_clustered.png
  doc/redirects.py
  lxd/api_cluster.go
  lxd/api_project.go
  test/suites/clustering.sh
Labels: Documentation, 5.21 LTS

#15406 Doc: Ignore link checking of https://www.schlachter.tech/solutions/pongo2-template-engine/
  doc/custom_conf.py
Labels: Documentation

#15391 Doc: [WD-18945] Add docs for create a network
  doc/.custom_wordlist.txt
  doc/howto/network_create.md
  doc/images/networks/network_add_to_instance.png
  doc/images/networks/network_attach_instance.png
  doc/images/networks/network_create.png
Labels: Documentation

#15422 doc/cloud-init: Update network example to v2 (from Incus)
  doc/cloud-init.md
Labels: Documentation

#15421 Change Cloud Init "user" to "users" (from Incus)
  doc/cloud-init.md
Labels: Documentation

#15362 doc: improve network ACLs docs
  doc/.custom_wordlist.txt
  doc/howto/instances_configure.md
  doc/howto/network_acls.md
  doc/rest-api.md
Labels: Documentation

#15317 Refactor devlxd API
  client/connection.go
  client/devlxd.go
  client/devlxd_config.go
  client/devlxd_devices.go
  client/devlxd_events.go
  client/devlxd_images.go
  client/devlxd_metadata.go
  client/devlxd_state.go
  client/devlxd_ubuntu_pro.go
  client/events.go
  client/interfaces.go
  client/lxd.go
  client/lxd_events.go
  client/lxd_server.go
  lxd-agent/api_1.0.go
  lxd-agent/devlxd.go
  lxd-agent/response.go
  lxd/api.go
  lxd/api_devlxd.go
  lxd/api_vsock.go
  lxd/daemon.go
  lxd/devlxd.go
  lxd/devlxd_test.go
  lxd/request/const.go
  lxd/response/response.go
  lxd/ucred/ucred.go
  shared/api/devlxd.go
  shared/api/response.go
  test/devlxd-client/devlxd-client.go
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/suites/devlxd.sh
Labels: API

#15432 doc: update broken maas anchor link
  doc/howto/initialize.md
Labels: Documentation

#15369 Add all projects support for network ACLs (from Incus)
  client/interfaces.go
  client/lxd_network_acls.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/network_acl.go
  lxd/db/network_acls.go
  lxd/network/acl/driver_common.go
  lxd/network_acls.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/network_acl.go
  shared/version/api.go
  test/suites/auth.sh
  test/suites/network_acl.sh
  test/suites/tls_restrictions.sh
Labels: Documentation, API

#15392 Add all projects support for networks (from Incus)
  client/interfaces.go
  client/lxd_networks.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/network.go
  lxd/db/networks.go
  lxd/networks.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/network.go
  shared/version/api.go
  test/suites/auth.sh
  test/suites/tls_restrictions.sh
Labels: Documentation, API

#15443 Random assorted tweaks
  lxd-agent/state.go
  lxd/device/disk.go
  lxd/network/openvswitch/ovn.go
  lxd/network/openvswitch/ovs.go
  lxd/storage/drivers/driver_btrfs_volumes.go
  lxd/storage/drivers/driver_zfs_volumes.go
  shared/api/instance.go
Labels: API

#15450 doc: Move contributing out of "Getting Started"
  doc/getting_started.md
  doc/howto/index.md
Labels: Documentation

#15267 Cluster: Add `skip` mode to `lxc cluster restore` command
  client/lxd_cluster.go
  doc/api-extensions.md
  lxc/cluster.go
  lxd/api_cluster.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/cluster.go
  shared/version/api.go
  test/suites/clustering.sh
Labels: Documentation, API
