Repository canonical/lxd, pull requests merged in 2025-09, with the labels that each got.

#16345 storage/pure: Round volume size to make it divisible by 512B
  doc/reference/storage_pure.md
  lxd/storage/drivers/driver_pure.go
  lxd/storage/drivers/driver_pure_volumes.go
Labels: Documentation

#16356 storage/pure: Round volume size to make it divisible by 512B (stable-5.21)
  doc/reference/storage_pure.md
  lxd/storage/drivers/driver_pure.go
  lxd/storage/drivers/driver_pure_volumes.go
Labels: Documentation, 5.21 LTS

#16359 Auth: Fix permission management for entitlements on bearer identities
  lxc/auth.go
  lxd/db/cluster/entity_type_identity.go
  lxd/db/cluster/identities.go
  test/suites/auth.sh
Labels: Bug

#16405 Fix storage patch update with instance volume with size config (stable-5.0)
  lxd/storage/backend_lxd_patches.go
Labels: 5.0 LTS

#16457 doc/api-extensions: Fix list format
  doc/api-extensions.md
Labels: Documentation, API

#16479 Fix documentation checks
  .github/workflows/tests.yml
  doc/api-extensions.md
Labels: Documentation, API

#16484 doc: Ignore HPE alletra doc link as unreliable
  doc/custom_conf.py
Labels: Documentation

#16510 build(deps): bump github.com/openfga/openfga from 1.9.5 to 1.10.0 and fix API change (stable-5.21)
  go.mod
  go.sum
  lxd/db/openfga/openfga.go
Labels: 5.21 LTS

#16512 Revert openfga pin (stable-5.21)
  Makefile
  go.mod
  go.sum
Labels: 5.21 LTS

#16466 Tests speedup
  doc/lxd-test.yaml
  test/includes/lxd.sh
  test/includes/net.sh
  test/includes/setup.sh
  test/main.sh
  test/suites/auth.sh
  test/suites/backup.sh
  test/suites/basic.sh
  test/suites/clustering.sh
  test/suites/clustering_move.sh
  test/suites/clustering_waitready.sh
  test/suites/container_devices_disk.sh
  test/suites/container_devices_nic_bridged.sh
  test/suites/container_devices_nic_bridged_acl.sh
  test/suites/container_devices_nic_bridged_filtering.sh
  test/suites/container_devices_nic_bridged_vlan.sh
  test/suites/container_devices_nic_ipvlan.sh
  test/suites/container_devices_nic_macvlan.sh
  test/suites/container_devices_nic_p2p.sh
  test/suites/container_devices_nic_physical.sh
  test/suites/container_devices_nic_routed.sh
  test/suites/container_devices_nic_sriov.sh
  test/suites/container_devices_tpm.sh
  test/suites/container_devices_unix.sh
  test/suites/incremental_copy.sh
  test/suites/migration.sh
  test/suites/network.sh
  test/suites/network_zone.sh
  test/suites/projects.sh
  test/suites/security.sh
  test/suites/shutdown.sh
  test/suites/snapshots.sh
  test/suites/storage_driver_dir.sh
  test/suites/storage_local_volume_handling.sh
  test/suites/storage_snapshots.sh
  test/suites/tls_restrictions.sh
  test/suites/waitready.sh
Labels: Documentation

#16522 doc: More Canonical link check exclusions
  doc/custom_conf.py
Labels: Documentation

#16532 Update more doc links to avoid some redirections
  doc/custom_conf.py
  doc/explanation/clusters.md
  doc/howto/storage_buckets.md
Labels: Documentation

#16541 github: Switch to lp-snap-build action (stable-5.0)
  .github/workflows/tests.yml
Labels: 5.0 LTS

#16542 github: copy `actions/lp-snap-build` from `stable-5.21` (stable-5.0)
  .github/actions/lp-snap-build/action.yml
Labels: 5.0 LTS

#16549 Auth: Actually remove group in `lxc auth identity group remove`
  lxc/auth.go
  test/suites/auth.sh
Labels: Bug

#16565 Fix OIDC scopes default
  doc/metadata.txt
  lxd/cluster/config/config.go
  lxd/metadata/configuration.json
Labels: Documentation

#16611 Backports (stable-5.21)
  lxd/auth/drivers/openfga.go
  lxd/device/gpu_physical.go
Labels: 5.21 LTS

#16624 doc: partial port of cluster healing section (from Incus)
  doc/howto/cluster_manage.md
Labels: Documentation

#16640 doc: update docker compatibility guidance
  doc/howto/network_bridge_firewalld.md
Labels: Documentation
