Repository canonical/lxd, pull requests merged in 2025-06, with the labels that each got.

#15685 Documentation: Update Storage docs - Backup storage volumes [WD-22293]
  doc/howto/storage_backup_volume.md
  doc/images/storage/storage_volumes_snapshots_configuration.png
  doc/images/storage/storage_volumes_snapshots_create.png
  doc/images/storage/storage_volumes_snapshots_export.png
  doc/images/storage/storage_volumes_snapshots_import.png
  doc/images/storage/storage_volumes_snapshots_list.png
  doc/images/storage/storage_volumes_snapshots_tab.png
Labels: Documentation

#15717 doc: Add Ubuntu Pro how-to
  doc/howto/ubuntu_pro_guest_attach.md
  doc/instances.md
  doc/metadata.txt
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Documentation

#15764 Improve `make test-shell` a bit
  CONTRIBUTING.md
  doc/lxd-test.yaml
  test/main.sh
  test/test-shell.bashrc
Labels: Documentation

#15805 doc: add vGPU acronym for virtual GPU
  doc/.custom_wordlist.txt
  doc/api-extensions.md
  doc/reference/devices_gpu.md
Labels: Documentation, API

#15792 Device: Add thread pool option for VM filesystem `disk` shares using `virtiofsd`
  doc/api-extensions.md
  doc/metadata.txt
  doc/requirements.md
  lxd/device/device_utils_disk.go
  lxd/device/disk.go
  lxd/instance/drivers/driver_qemu.go
  lxd/metadata/configuration.json
  lxd/project/limits/permissions.go
  shared/validate/validate.go
  shared/version/api.go
Labels: Documentation, API

#15785 doc: update and add information about releases and snap
  README.md
  doc/.custom_wordlist.txt
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/getting_started.md
  doc/howto/index.md
  doc/howto/snap.md
  doc/index.md
  doc/installing.md
  doc/reference/index.md
  doc/reference/releases-snap.md
  doc/related_topics.yaml
  doc/substitutions.yaml
  doc/support.md
Labels: Documentation

#15828 doc: add sphinx-sitemap to generate sitemap for SEO
  doc/custom_conf.py
Labels: Documentation

#15787 devlxd: Separate UbutuPro type used in LXD and in devLXD
  client/devlxd_ubuntu_pro.go
  client/interfaces.go
  lxd/ubuntupro/client.go
  lxd/ubuntupro/client_test.go
  shared/api/devlxd.go
Labels: API

#15831 Doc: Cover VM `disk` `io.*` options in the storage-configure-IO section
  doc/howto/storage_volumes.md
Labels: Documentation

#15837 Tests backport (stable-5.21)
  test/includes/setup.sh
  test/suites/clustering.sh
  test/suites/projects.sh
  test/suites/remote.sh
  test/suites/storage_snapshots.sh
  test/suites/tls_restrictions.sh
Labels: 5.21 LTS

#15845 doc: use lxd instead of lxd.daemon for snap services mgmt
  doc/howto/snap.md
Labels: Documentation

#15846 lxd: Clarify usage of io.threads in restricted projects
  doc/metadata.txt
  lxd/device/disk.go
  lxd/metadata/configuration.json
Labels: Documentation

#15856 Test tweaks
  .github/actions/disable-docker/action.yml
  .github/actions/reclaim-memory/action.yml
  .github/workflows/tests.yml
  doc/lxd-test.yaml
  test/extras/stresstest.sh
  test/suites/backup.sh
  test/suites/basic.sh
  test/suites/completions.sh
  test/suites/projects.sh
  test/suites/storage.sh
  test/suites/storage_driver_dir.sh
Labels: Documentation

#15861 lxd/main/init: Replace fmt.Errorf with errors.New where possible (stable-5.21)
  lxd/main_init.go
Labels: 5.21 LTS

#15864 Update Go min to 1.24.4 and update Go modules
  Makefile
  doc/requirements.md
  go.mod
  go.sum
Labels: Documentation
