Repository canonical/lxd, pull requests merged in 2025-07, with the labels that each got.

#15905 Backports (stable-5.21)
  .github/workflows/tests.yml
  doc/howto/images_copy.md
  doc/howto/images_manage.md
  doc/howto/instances_access_files.md
  doc/howto/instances_backup.md
  doc/howto/storage_volumes.md
  doc/metadata.txt
  doc/rest-api.yaml
  lxd/auth/drivers/tls.go
  lxd/cluster/config/config.go
  lxd/cluster/membership.go
  lxd/daemon.go
  lxd/db/db.go
  lxd/device/disk.go
  lxd/documentation.go
  lxd/images.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance_console.go
  lxd/instance_exec.go
  lxd/metadata/configuration.json
  lxd/operations.go
  lxd/operations/operations.go
  shared/util.go
  test/deps/import-busybox
  test/extras/stresstest.sh
  test/suites/clustering.sh
  test/suites/migration.sh
  test/suites/serverconfig.sh
  test/suites/snapshots.sh
Labels: Documentation, API, 5.21 LTS

#15913 doc: ignore anchor when checking maas link (stable-5.0)
  doc/conf.py
  doc/custom_conf.py
Labels: Documentation, 5.0 LTS

#15908 Backports (stable-5.0)
  lxd/daemon.go
  test/suites/serverconfig.sh
Labels: 5.0 LTS

#15914 doc/metrics: improve wording for `project` parameter
  doc/metrics.md
Labels: Documentation

#15916 doc: remove unnecessary step to remove hold to refresh snap
  doc/howto/snap.md
Labels: Documentation

#15907 Auth: Improvements to network allocation used by URL checks
  lxd/auth/drivers/openfga.go
  lxd/auth/drivers/tls.go
  lxd/auth/types.go
  lxd/images.go
  lxd/network_allocations.go
  lxd/network_zones.go
  lxd/networks.go
  lxd/profiles.go
  lxd/storage_buckets.go
  lxd/storage_volumes.go
  test/suites/auth.sh
  test/suites/tls_restrictions.sh
Labels: Bug

#15936 daemon: Update Sec-Fetch-Site checks (stable-5.0)
  lxd/daemon.go
  test/suites/serverconfig.sh
Labels: 5.0 LTS

#15935 daemon: Update Sec-Fetch-Site checks (stable-5.21)
  lxd/daemon.go
  test/suites/serverconfig.sh
Labels: 5.21 LTS

#15942 golangci: Disable package name checks in var-naming revive checker (stable-5.21)
  .golangci.yaml
Labels: 5.21 LTS

#15980 doc: backport docs config updates for sitemap and linkcheck (stable-5.0)
  .github/workflows/tests.yml
  doc/.sphinx/requirements.txt
  doc/conf.py
Labels: Documentation, 5.0 LTS

#15976 doc: [WD-22194] Adding network ipam UI information
  doc/howto/network_ipam.md
  doc/images/networks/network_view_leases.png
Labels: Documentation

#15989 Auth: Update project manager description
  doc/metadata.txt
  lxd/auth/drivers/openfga_model.openfga
  lxd/auth/entitlements_generated.go
  lxd/metadata/configuration.json
Labels: Documentation

#15986 doc: Adding Network ACL UI Information [WD-22190]
  doc/howto/network_acls.md
  doc/images/networks/network_ACL_addrule.png
  doc/images/networks/network_ACL_create.png
  doc/images/networks/network_ACL_remove_edit.png
  doc/images/networks/network_ACLs.png
  doc/images/networks/network_create.png
Labels: Documentation

#15994 doc: pin canonical-sphinx-extensions version
  doc/.sphinx/build_requirements.py
Labels: Documentation

#15996 doc: pin canonical-sphinx-extensions version (stable-5.21)
  doc/.sphinx/build_requirements.py
Labels: Documentation, 5.21 LTS

#16038 lxd/request: Never get existing Info when setting up request context
  lxd/daemon.go
  lxd/devlxd.go
  lxd/images.go
  lxd/network_acls.go
  lxd/network_allocations.go
  lxd/network_zones.go
  lxd/networks.go
  lxd/profiles.go
  lxd/project/limits/permissions_test.go
  lxd/request/const.go
  lxd/request/context.go
  lxd/request/request.go
  lxd/storage_buckets.go
  lxd/storage_volumes.go
  lxd/ucred/ucred.go
Labels: Bug

#16046 Auth: Allow different cluster members to begin and end UI auth flow
  go.mod
  go.sum
  lxd/auth/oidc/oidc.go
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/godeps/lxd-agent.list
Labels: Bug

#16055 lxd/auth/oidc: The `login_id` cookie must have `SameSite=Lax`
  lxd/auth/oidc/oidc.go
Labels: Bug

#16071 Backport waitready enhancements (stable-5.21)
  lxd/api_cluster.go
  lxd/daemon.go
  lxd/network/driver_bridge.go
  lxd/network/driver_common.go
  lxd/network/driver_ovn.go
  lxd/network/driver_physical.go
  lxd/network/network_interface.go
  lxd/networks.go
  lxd/storage.go
  test/includes/clustering.sh
  test/includes/lxc.sh
  test/includes/lxd.sh
  test/includes/uuid.sh
  test/main.sh
  test/suites/clustering.sh
  test/suites/clustering_waitready.sh
  test/suites/database.sh
  test/suites/lxd_user.sh
  test/suites/projects.sh
  test/suites/remote.sh
  test/suites/waitready.sh
Labels: 5.21 LTS

#16080 Backport fixes to not use `lxd sql` in waitready test suite (stable-5.21)
  test/suites/clustering_waitready.sh
  test/suites/waitready.sh
Labels: 5.21 LTS

#16086 doc: Add limitation note about SDC and Ubuntu Noble Numbat images
  doc/reference/storage_powerflex.md
Labels: Documentation

#16091 doc: backport releases and snap updates 5.21 (stable-5.21)
  README.md
  doc/.custom_wordlist.txt
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/api-extensions.md
  doc/getting_started.md
  doc/howto/index.md
  doc/howto/instances_ubuntu_pro_attach.md
  doc/howto/snap.md
  doc/howto/ubuntu_pro_guest_attach.md
  doc/index.md
  doc/installing.md
  doc/instances.md
  doc/metadata.txt
  doc/reference/index.md
  doc/reference/releases-snap.md
  doc/related_topics.yaml
  doc/substitutions.yaml
  doc/support.md
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Documentation, API, 5.21 LTS

#16090 doc: Adding Storage Buckets UI documentation [WD-22188]
  doc/howto/storage_buckets.md
  doc/images/storage/storage_buckets/storage_bucket_create.png
  doc/images/storage/storage_buckets/storage_bucket_create_key.png
  doc/images/storage/storage_buckets/storage_bucket_key_list.png
Labels: Documentation

#16121 docs: updates to references from main branch (stable-5.21)
  .github/SUPPORT.md
  README.md
  doc/custom_conf.py
  doc/installing.md
  doc/myconf.py
Labels: Documentation, 5.21 LTS

#16127 Backports (stable-5.21)
  lxd/api_1.0.go
  lxd/apparmor/archive.go
  lxd/archive/archive.go
  lxd/backup.go
  lxd/backup/backup_info.go
  lxd/backup/backup_instance.go
  lxd/backup/backup_utils.go
  lxd/backup/backup_volume.go
  lxd/daemon.go
  lxd/daemon_images.go
  lxd/images.go
  lxd/instance.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance_backup.go
  lxd/instances_post.go
  lxd/patches.go
  lxd/state/state.go
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/driver_btrfs_utils.go
  lxd/storage/drivers/driver_btrfs_volumes.go
  lxd/storage/drivers/driver_ceph_volumes.go
  lxd/storage/drivers/driver_cephfs_volumes.go
  lxd/storage/drivers/driver_dir_volumes.go
  lxd/storage/drivers/driver_lvm_volumes.go
  lxd/storage/drivers/driver_powerflex_volumes.go
  lxd/storage/drivers/driver_pure_volumes.go
  lxd/storage/drivers/driver_zfs_volumes.go
  lxd/storage/drivers/generic_vfs.go
  lxd/storage/utils.go
  lxd/storage_volumes.go
  lxd/storage_volumes_backup.go
  test/suites/clustering.sh
  test/suites/serverconfig.sh
Labels: 5.21 LTS
