Repository canonical/lxd, pull requests merged in 2025-01, with the labels that each got.

#14739 lxd/patches: Remove volatile.%.last_state.ip_addresses keys more efficiently (stable-5.21)
  lxd/patches.go
Labels: 5.21 LTS

#14327 Network: Return ACL logs from syslogs when the OVN controller is deployed in MicroOVN
  doc/.custom_wordlist.txt
  doc/howto/network_ovn_setup.md
  lxd/network/acl/acl_interface.go
  lxd/network/acl/acl_ovn.go
  lxd/network/acl/driver_common.go
  lxd/network_acls.go
  shared/util.go
Labels: Documentation

#14714 Misc fixes
  doc/instance-exec.md
  doc/rest-api.yaml
  lxc/cluster.go
  lxc/completion.go
  lxc/file.go
  lxd/cluster/notify.go
  lxd/db/instances.go
  lxd/db/storage_volume_snapshots.go
  lxd/db/storage_volumes.go
  lxd/images.go
  lxd/init.go
  lxd/instance/instancetype/instance.go
  lxd/instance_logs.go
  lxd/instances_post.go
  lxd/linux/memfd.go
  lxd/project/project.go
  lxd/resources/network.go
  lxd/resources/utils.go
  lxd/storage/drivers/driver_lvm.go
  lxd/storage/drivers/driver_lvm_utils.go
  lxd/storage/drivers/driver_lvm_volumes.go
  shared/api/resource.go
  shared/api/status_code.go
  shared/util.go
  shared/util_test.go
  test/mini-oidc/main.go
  test/mini-oidc/storage/client.go
  test/mini-oidc/storage/oidc.go
  test/mini-oidc/storage/user.go
Labels: Documentation, API

#14765 doc: update ref to cloud-init docs
  doc/cloud-init.md
Labels: Documentation

#14747 gomod: Dep updates (stable-5.21)
  doc/cloud-init.md
  go.mod
  go.sum
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/godeps/lxd-agent.list
Labels: Documentation, 5.21 LTS

#14585 API: Add all projects support for network zones (from Incus)
  client/interfaces.go
  client/lxd_network_zones.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/network_zone.go
  lxd/network_zones.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/network_zone.go
  shared/version/api.go
  test/suites/auth.sh
  test/suites/network_zone.sh
Labels: Documentation, API

#14532 Attach VM root volumes as disk devices
  doc/.custom_wordlist.txt
  doc/api-extensions.md
  doc/explanation/storage.md
  doc/howto/storage_volumes.md
  doc/metadata.txt
  lxc/storage_volume.go
  lxd/device/disk.go
  lxd/instance/drivers/driver_common.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
  lxd/storage/backend_lxd.go
  lxd/storage/utils.go
  lxd/storage_volumes_utils.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/version/api.go
Labels: Documentation, API

#14769 Drop support for LXD_INSECURE_TLS
  doc/authentication.md
  doc/environment.md
  shared/network.go
  test/suites/tls_restrictions.sh
Labels: Documentation

#14790 doc: fix malformed ref to cloud-init docs (stable-5.0)
  doc/cloud-init.md
Labels: Documentation, 5.0 LTS

#14798 doc: Add file command as requirement for lxd-migrate
  doc/howto/import_machines_to_instances.md
Labels: Documentation

#14799 lxd/storage: Fix scope of `volume.size` for storage pools
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/storage/utils.go
Labels: Documentation

#14818 Backports (stable-5.21)
  lxd/network/acl/acl_ovn.go
  lxd/network/driver_ovn.go
  test/suites/network_ovn.sh
Labels: 5.21 LTS

#14828 Release LXD 5.21.3 (stable-5.21)
  shared/version/flex.go
Labels: 5.21 LTS

#14831 lxc: Fix `lxc image list` regression for simplestreams remotes (stable-5.21)
  client/interfaces.go
  client/simplestreams_images.go
  lxc/image.go
  test/main.sh
  test/suites/image.sh
Labels: 5.21 LTS

#14834 Revert images_all_projects feature (stable-5.21)
  client/interfaces.go
  client/lxd_images.go
  client/simplestreams_images.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/image.go
  lxd/db/images.go
  lxd/images.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/image.go
  shared/version/api.go
  test/suites/auth.sh
Labels: Documentation, API, 5.21 LTS

#14851 client: Fall back to OIDC `verification_uri`
  client/lxd_oidc.go
Labels: Bug

#14631 Per-project uplink IP quotas
  doc/api-extensions.md
  doc/metadata.txt
  lxd/api_project.go
  lxd/metadata/configuration.json
  lxd/network/driver_common.go
  lxd/network/driver_ovn.go
  lxd/project/limits/permissions.go
  shared/version/api.go
  test/suites/network_ovn.sh
Labels: Documentation, API

#14852 cloud-init: Address `cloud-init` misconceptions
  doc/cloud-init.md
  doc/dev-lxd.md
  lxd/devlxd.go
Labels: Documentation

#14872 doc: doc: Fix typo in cloud-init docs
  doc/cloud-init.md
Labels: Documentation

#14748 auth: Add entitlements to LXD entities (part 2: Enrich LXD resources with entitlements)
  doc/api-extensions.md
  doc/rest-api.yaml
  lxd/api_project.go
  lxd/auth/types.go
  lxd/auth_groups.go
  lxd/certificates.go
  lxd/daemon.go
  lxd/identities.go
  lxd/identity_provider_groups.go
  lxd/images.go
  lxd/instance_get.go
  lxd/instances_get.go
  lxd/network_acls.go
  lxd/network_zones.go
  lxd/networks.go
  lxd/profiles.go
  lxd/state/state.go
  lxd/storage_buckets.go
  lxd/storage_pools.go
  lxd/storage_volumes.go
  shared/api/auth.go
  shared/api/certificate.go
  shared/api/image.go
  shared/api/instance.go
  shared/api/network.go
  shared/api/network_acl.go
  shared/api/network_zone.go
  shared/api/profile.go
  shared/api/project.go
  shared/api/storage_pool.go
  shared/api/storage_pool_bucket.go
  shared/api/storage_pool_volume.go
  shared/version/api.go
  test/suites/auth.sh
Labels: Documentation, API

#14875 Documentation: Add missing `swtpm` package to installing from source section
  doc/installing.md
Labels: Documentation

#14877 doc: revise/replace where VMs described as less featureful than containers
  doc/explanation/instances.md
Labels: Documentation

#14870 doc: add live-migration info, command syntax, misc improvements
  doc/howto/cluster_manage.md
Labels: Documentation

#14837 Storage: Use zero for unbound volumes' total size on the API
  doc/rest-api.yaml
  lxc/storage_volume.go
  lxd/storage/backend_lxd.go
  shared/api/instance_state.go
  shared/api/storage_pool_volume_state.go
  test/suites/storage.sh
Labels: Documentation, API

#14878 doc: improve network forward docs pt1
  doc/.sphinx/.markdownlint/exceptions.txt
  doc/howto/network_forwards.md
Labels: Documentation

#14890 doc(instance) fix cluster.evacuate doc block to avoid newlines in the generated metadata api response
  doc/metadata.txt
  lxd/instance/instancetype/instance.go
  lxd/metadata/configuration.json
Labels: Documentation

#14871 OIDC: Use proxy enabled HTTP client for relying party remote key set
  lxd/auth/oidc/oidc.go
Labels: Bug

#14893 doc: remove unsupported proxy connection types and improve wording
  doc/reference/devices_proxy.md
Labels: Documentation

#14869 Properly mark functions/fields as deprecated
  client/interfaces.go
  doc/rest-api.yaml
  lxc/cluster_group.go
  lxc/config/config.go
  lxc/launch.go
  lxc/list.go
  lxc/network.go
  lxc/network_acl.go
  lxc/network_load_balancer.go
  lxc/project.go
  lxc/warning.go
  lxd-benchmark/benchmark/util.go
  lxd-user/lxd.go
  lxd/api.go
  lxd/archive/archive.go
  lxd/daemon.go
  lxd/device/device_utils_disk.go
  lxd/device/device_utils_network.go
  lxd/device/disk.go
  lxd/devices.go
  lxd/devlxd.go
  lxd/firewall/drivers/drivers_util.go
  lxd/firewall/drivers/drivers_xtables.go
  lxd/instance_file.go
  lxd/ip/link.go
  lxd/storage/drivers/driver_btrfs.go
  lxd/storage/drivers/driver_btrfs_utils.go
  lxd/storage/drivers/driver_btrfs_volumes.go
  lxd/storage/drivers/utils.go
  lxd/storage/filesystem/fs.go
  lxd/storage/storage.go
  lxd/storage/utils.go
  shared/api/certificate.go
  shared/api/cluster.go
  shared/api/instance.go
  shared/api/instance_backup.go
  shared/simplestreams/products.go
  shared/util.go
Labels: Documentation, API

#14892 doc: increase linkcheck max rate limit timeout and retries
  doc/custom_conf.py
Labels: Documentation

#14876 API: Add all projects support for profiles (from Incus)
  client/interfaces.go
  client/lxd_profiles.go
  doc/api-extensions.md
  doc/rest-api.yaml
  lxc/profile.go
  lxd/db/cluster/profiles.go
  lxd/profiles.go
  po/ar.po
  po/ber.po
  po/bg.po
  po/ca.po
  po/cs.po
  po/de.po
  po/el.po
  po/eo.po
  po/es.po
  po/fa.po
  po/fi.po
  po/fr.po
  po/he.po
  po/hi.po
  po/id.po
  po/it.po
  po/ja.po
  po/ka.po
  po/ko.po
  po/lxd.pot
  po/mr.po
  po/nb_NO.po
  po/nl.po
  po/pa.po
  po/pl.po
  po/pt.po
  po/pt_BR.po
  po/ru.po
  po/si.po
  po/sl.po
  po/sr.po
  po/sv.po
  po/te.po
  po/th.po
  po/tr.po
  po/tzm.po
  po/ug.po
  po/uk.po
  po/zh_Hans.po
  po/zh_Hant.po
  shared/api/profile.go
  shared/version/api.go
  test/suites/auth.sh
  test/suites/projects.sh
Labels: Documentation, API

#14880 lxd: Entitlement enrichment for remaining API entities
  doc/rest-api.yaml
  lxd/api_1.0.go
  lxd/auth_groups.go
  lxd/certificates.go
  lxd/identities.go
  lxd/images.go
  lxd/instance_backup.go
  lxd/instance_snapshot.go
  lxd/networks.go
  lxd/storage_pools.go
  lxd/storage_volumes_backup.go
  lxd/storage_volumes_snapshot.go
  shared/api/auth.go
  shared/api/image.go
  shared/api/instance_backup.go
  shared/api/instance_snapshot.go
  shared/api/server.go
  shared/api/storage_pool_volume_backup.go
  shared/api/storage_pool_volume_snapshot.go
  test/suites/auth.sh
Labels: Documentation, API
