Repository canonical/lxd, pull requests merged in 2025-08, with the labels that each got.

#16138 VM: Prevent file mounts (from Incus)
  doc/metadata.txt
  lxd/device/disk.go
  lxd/metadata/configuration.json
Labels: Documentation

#15990 Per-project backups and images storage
  doc/api-extensions.md
  doc/metadata.txt
  lxd/api_1.0.go
  lxd/api_internal.go
  lxd/api_project.go
  lxd/apparmor/archive.go
  lxd/backup.go
  lxd/backup/backup_instance.go
  lxd/backup/backup_volume.go
  lxd/config/map.go
  lxd/config/map_test.go
  lxd/daemon.go
  lxd/daemon_images.go
  lxd/daemon_storage.go
  lxd/db/images.go
  lxd/images.go
  lxd/instance.go
  lxd/instance/drivers/driver_qemu.go
  lxd/instance_backup.go
  lxd/instances_post.go
  lxd/metadata/configuration.json
  lxd/network/acl/driver_common.go
  lxd/network/driver_common.go
  lxd/network/zone/zone.go
  lxd/node/config.go
  lxd/patches.go
  lxd/state/state.go
  lxd/storage/backend_lxd.go
  lxd/storage/backend_mock.go
  lxd/storage/drivers/driver_btrfs_volumes.go
  lxd/storage/drivers/driver_ceph_volumes.go
  lxd/storage/drivers/driver_cephfs_volumes.go
  lxd/storage/drivers/driver_common.go
  lxd/storage/drivers/driver_dir_volumes.go
  lxd/storage/drivers/driver_lvm_volumes.go
  lxd/storage/drivers/driver_mock.go
  lxd/storage/drivers/driver_powerflex_volumes.go
  lxd/storage/drivers/driver_pure_volumes.go
  lxd/storage/drivers/driver_zfs_volumes.go
  lxd/storage/drivers/interface.go
  lxd/storage/pool_interface.go
  lxd/storage/utils.go
  lxd/storage_volumes.go
  lxd/storage_volumes_backup.go
  lxd/sys/fs.go
  shared/util.go
  shared/version/api.go
  test/main.sh
  test/suites/clustering.sh
  test/suites/projects.sh
Labels: Documentation, API

#16166 init: Ensure the LXD_DIR exists
  .github/workflows/tests.yml
  lxd/cluster/membership.go
  lxd/daemon.go
  lxd/state/state.go
  lxd/storage/drivers/driver_powerflex.go
  lxd/storage/drivers/driver_powerflex_utils.go
  lxd/storage/drivers/driver_pure.go
  lxd/sys/os.go
Labels: Bug

#16169 Bump Go min to 1.24.5 and refresh go.mod
  Makefile
  doc/requirements.md
  go.mod
  go.sum
Labels: Documentation

#16213 Bump Go min to 1.24.5 and refresh modules (stable-5.21)
  Makefile
  doc/requirements.md
  go.mod
  go.sum
Labels: Documentation, 5.21 LTS

#16307 lxd/storage/drivers/pure: fix volume copy always copying the same snapshot (stable-5.21)
  lxd/storage/drivers/driver_pure_volumes.go
Labels: 5.21 LTS

#16316 test/lint/golangci: compare rev from the stable-5.21 branch (stable-5.21)
  test/lint/golangci.sh
Labels: 5.21 LTS

#16318 lxd/storage/drivers/pure: Ensure volume is unmapped after changing quota (stable-5.21)
  lxd/storage/drivers/driver_pure_volumes.go
Labels: 5.21 LTS

#16317 shared/util: Break aliasing in RemoveElementsFromSlice (stable-5.21)
  shared/util.go
Labels: 5.21 LTS

#16331 api: fix file push bug about owner/group change not work on vm (stable-5.21)
  lxd/instance_file.go
Labels: 5.21 LTS

#16343 Add Pure to the list of drivers for common config options
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/storage/utils.go
Labels: Documentation
