Repository canonical/lxd, pull requests merged in 2025-05, with the labels that each got.

#15494 Document `core.debug_address`
  doc/.custom_wordlist.txt
  doc/debugging.md
  doc/metadata.txt
  lxd/metadata/configuration.json
  lxd/node/config.go
Labels: Documentation

#15497 Switch to Go 1.24 and update Go modules
  .github/workflows/tests.yml
  .golangci.yaml
  Makefile
  client/lxd_oidc.go
  client/simplestreams_images.go
  doc/requirements.md
  fuidshift/main.go
  fuidshift/main_shift.go
  go.mod
  go.sum
  lxc-to-lxd/main.go
  lxc-to-lxd/main_netcat.go
  lxc-to-lxd/utils.go
  lxd-migrate/main.go
  lxd-migrate/main_netcat.go
  lxd/db/migration.go
  lxd/db/query/marshal.go
  lxd/db/schema/query.go
  lxd/device/gpu_sriov.go
  lxd/dnsmasq/dhcpalloc/dhcpalloc.go
  lxd/dnsmasq/dnsmasq.go
  lxd/idmap/idmapset_linux.go
  lxd/ip/addr.go
  lxd/ip/class.go
  lxd/ip/link_bridge.go
  lxd/ip/link_dummy.go
  lxd/ip/link_gretap.go
  lxd/ip/link_macvlan.go
  lxd/ip/link_macvtap.go
  lxd/ip/link_veth.go
  lxd/ip/link_vlan.go
  lxd/ip/link_vxlan.go
  lxd/main.go
  lxd/main_activateifneeded.go
  lxd/main_forkdns.go
  lxd/main_forklimits.go
  lxd/main_forkmigrate.go
  lxd/main_forkstart.go
  lxd/main_forkzfs.go
  lxd/main_import.go
  lxd/main_manpage.go
  lxd/main_migratedumpsuccess.go
  lxd/migration/migration_volumes.go
  lxd/network/network_utils.go
  lxd/refcount/refcount_test.go
  lxd/rsync/rsync.go
  lxd/scriptlet/load/load.go
  lxd/storage/block/discard.go
  lxd/storage/s3/miniod/admin.go
  lxd/warnings.go
  shared/api/url.go
  shared/cmd/ask.go
  shared/json.go
  shared/logger/types.go
  test/godeps/client.list
  test/godeps/lxc-config.list
  test/godeps/lxd-agent.list
  test/godeps/shared-api.list
Labels: Documentation, API

#15423 doc/idmap: Clarify subuid/subgid configuration (from Incus)
  doc/userns-idmap.md
Labels: Documentation

#15532 github: Update repo of lp-snap-build (stable-5.0)
  .github/workflows/tests.yml
Labels: 5.0 LTS

#15531 github: Update repo of lp-snap-build (stable-5.21)
  .github/workflows/tests.yml
Labels: 5.21 LTS

#15538 Update absolute docs links
  .github/SUPPORT.md
  CONTRIBUTING.md
  README.md
  doc/README.md
  doc/custom_conf.py
  doc/howto/cluster_form.md
  doc/myconf.py
  grafana/LXD.json
  lxd/api.go
  lxd/instance/drivers/driver_qemu.go
  lxd/main_cluster.go
  scripts/setup-grafana.sh
Labels: Documentation

#15540 doc/howto/snap: update snap store proxy to enterprise store
  doc/howto/snap.md
Labels: Documentation

#15539 doc: use double instead of single quotes around relatedlinks
  doc/clustering.md
  doc/explanation/authorization.md
  doc/explanation/instances.md
  doc/explanation/performance_tuning.md
  doc/explanation/security.md
  doc/howto/cluster_form.md
  doc/howto/grafana.md
  doc/howto/images_create.md
  doc/howto/snap.md
  doc/index.md
  doc/instances.md
  doc/projects.md
  doc/reference/remote_image_servers.md
  doc/reference/storage_cephobject.md
  doc/reference/uefi_variables.md
  doc/reference/vm_live_migration_internals.md
  doc/restapi_landing.md
Labels: Documentation

#15534 Auth: Maintain permissions on instance move
  lxd/auth/drivers/openfga.go
  lxd/instance_post.go
  shared/entity/type.go
  shared/entity/type_test.go
  shared/entity/url.go
  test/suites/clustering_move.sh
Labels: Bug

#15469 Doc: Update storage volumes > Create an instance
  doc/howto/storage_create_instance.md
  doc/howto/storage_move_volume.md
  doc/images/instances/create_instance_form.png
  doc/images/instances/create_instance_form_disk_devices.png
  doc/images/instances/instance_overview_page.png
  doc/images/instances/move_confirmation_modal.png
  doc/images/instances/move_instance_modal.png
  doc/images/instances/move_instance_modal_2.png
Labels: Documentation

#15547 doc: add info about snaps and user idmaps
  doc/userns-idmap.md
Labels: Documentation

#15545 Remove `lxc-to-lxd`
  .github/actions/install-lxd-builddeps/action.yml
  .github/actions/install-lxd-runtimedeps/action.yml
  .gitignore
  Makefile
  doc/howto/migrate_from_lxc.md
  doc/instances.md
  doc/migration.md
  lxc-to-lxd/config.go
  lxc-to-lxd/main.go
  lxc-to-lxd/main_migrate.go
  lxc-to-lxd/main_migrate_test.go
  lxc-to-lxd/main_netcat.go
  lxc-to-lxd/network.go
  lxc-to-lxd/transfer.go
  lxc-to-lxd/utils.go
  test/main.sh
  test/suites/lxc-to-lxd.sh
Labels: Documentation

#15541 Build `liblxc` as part of `make deps`
  .github/actions/install-lxd-builddeps/action.yml
  .github/actions/install-lxd-runtimedeps/action.yml
  .github/workflows/tests.yml
  Makefile
  doc/installing.md
Labels: Documentation

#15618 Go mod updates and clustering subnet fix (stable-5.0)
  Makefile
  go.mod
  go.sum
  test/includes/clustering.sh
  test/suites/clustering.sh
Labels: 5.0 LTS

#15619 tests: Switch clustering test subnet (stable-4.0)
  test/includes/clustering.sh
  test/suites/clustering.sh
Labels: 4.0 LTS

#15633 Backports (stable-5.21)
  .github/workflows/codeql.yml
  .github/workflows/tests.yml
  Makefile
  doc/.custom_wordlist.txt
  doc/faq.md
  doc/howto/container_gpu_passthrough_with_docker.md
  doc/reference/devices_gpu.md
  lxd-migrate/utils.go
  lxd/api_internal.go
  lxd/daemon.go
  lxd/main_waitready.go
  lxd/networks.go
  lxd/state/state.go
  lxd/storage.go
  lxd/storage/backend_lxd.go
  lxd/storage/drivers/driver_cephobject.go
  lxd/storage/s3/miniod/miniod.go
  lxd/storage/utils.go
  lxd/util/http.go
  test/includes/lxd.sh
  test/main.sh
  test/suites/backup.sh
  test/suites/concurrent.sh
  test/suites/config.sh
  test/suites/waitready.sh
Labels: Documentation, 5.21 LTS

#15647 API: Add missing 'version' struct tag
  doc/rest-api.yaml
  shared/api/instance_backup.go
  shared/api/storage_pool_volume_backup.go
Labels: Documentation, API

#15665 Update install docs to split between build and runtime/test depencies
  .github/actions/install-lxd-builddeps/action.yml
  .github/actions/install-lxd-runtimedeps/action.yml
  doc/installing.md
  test/main.sh
Labels: Documentation

#15638 Documentation: Update Network docs - Configure networks [WD-22189]
  doc/howto/network_configure.md
  doc/images/networks/network_configuration.png
Labels: Documentation

#15678 Move LXD 5.0 into extended support
  doc/support.md
Labels: Documentation

#15668 doc: update howto/instances_routed_nic_vm.md
  doc/howto/instances_routed_nic_vm.md
Labels: Documentation

#15687 doc/howto/instances_create: provide direct link to all instance-types to not rely on `autoindex`
  .github/workflows/tests.yml
  doc/howto/instances_create.md
  lxd/instance_instance_types.go
Labels: Documentation
